<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>土地流转信息列表-铁西区农村经济总站土地流转交易监管平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="../css/admin.css">
<link rel="stylesheet" type="text/css" href="../css/info.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="css/accordion.css">
-->
<!-- -->
<script type="text/javascript" src="../js/miaov.js"></script>
<script type="text/javascript" src="../js/public.js"></script>

<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/bootstrap/bootstrap.js" type="text/javascript"></script>
 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://wxpic.judacdn.com/assets/js/html5shiv.js"></script>
    <script src="http://wxpic.judacdn.com/assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- top begin -->
<div class="top">
	<div class="top-c">
    	<ul class="fl">
        	<li>
            	欢迎访问铁西区土地流转交易监管平台&nbsp;&nbsp;</li>
                <li>
                	请&nbsp;<a href="javascript:void(0);" class="bold">登录</a>&nbsp;|&nbsp;</li>
               	<li>
                	<a href="javascript:void(0);"class="bold">注册</a>
          </li>
      </ul>
                    
            <ul class="fr huiyuan tform">
            	<li>
                	<a href="javascript:void(0);">会员中心</a>		
              </li>
                    <li>
                    <a href="javascript:void(0);">
                    帮助中心</a>
                    </li>
      </ul>
    </div>
</div>
<!-- top end -->
<!-- header start -->
	<div class="header fl" style="margin-bottom:5px;">
    	<div class="header-c">
        	<div class="logo">
            	<a href="/" title="四平市铁西区农经总站土地流转信息管理平台">
					<img width="100%" height="auto" alt="logo image" src="../images/logo1.png">
              </a>
            </div>
            <div class="search-main tform">
            	<form action="" name="">
                	<input type="text" name="" class="text"/>
                    <input type="submit" name="" class="submit" value="搜索"/>
                    <select name="sel1" class="sel1">
                    <option value="全部">全部</option>
                    <option value="土地流转">土地</option>
                    <option value="林权转让">林权</option>
                    <option value="四荒使用">四荒</option>
                    <option value="养殖水面">水面</option>
                    </select>
              </form>
          </div>
               <ul class="remen clear tform">
                <li>近期热门搜索：</li>
                <li><a href="">土地承包</a></li>
                <li><a href="">林权转让</a></li>
                <li><a href="">养殖水面</a></li>
                <li><a href="">四荒承包</a></li>
          </ul>
      </div>
</div>
<div class="clearl"></div>
<!--header end -->

<!-- nav begin -->
<nav class="navbar navbar-expand-md bg-zong navbar-dark" style="margin-bottom:95px;">
<!--		<a class="navbar-brand" href="#" >菜单栏</a>
	 	按钮边框 -->
		<button class="navbar-toggler fr" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <!-- 方框里面三条线 -->
			<span class="navbar-toggler-icon fr"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav nav-justified" style="font-size:21px; width:1200px;">
				<li class="nav-item" style="">
					<a class="nav-link" href="/">首&nbsp;&nbsp;页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/ckxm.html" target="_blank">查看信息</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/projectfb.html" target="_blank">发布信息</a>
				</li>
				<li class="nav-item">
				    <a class="nav-link" href="../html/newslist.html" target="_blank">政策法规</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/help.html" target="_blank">资料下载</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/xuqiufabu.html" target="_blank">留言咨询</a>
				</li>        
			</ul>
  </div>
</nav>
<!-- nav end -->
<!-- container begin -->
<div class="main clearfix mt10">
<div class="locate clearl">
	<p class="location2 fl pl10"><span></span>当前位置：<a style="font-size:13px; font-family:"宋体";" href="../index.html">首页</a>  > <a style="font-size:13px; font-family:"宋体";" href="">土地流转项目信息列表</a></p>
</div>

<div class="main_w">
<div class="screen_sel">
			<div class="selected_c">
				<span class="fl c_key">您已选择：</span>
				<ul class="fl sel_list" style="font-size:12px;">
					<li><a href="">项目类型:土地承包</a><b></b></li>
					<li><a href="">所属乡镇:某某乡镇</a><b></b></li>
				</ul>
				<span class="revocation"><a href="">清空条件</a></span>
			</div>
			<div class="sel_attrs">
				<table class="attrs_table">
				<tr>
					<td class="t_prop clear">项目类型：</td>
                    <td class="atter_mod pl10">
                		<input type="checkbox" name="checkbox1">土地承包
						<input type="checkbox" name="checkbox4">林权转让
						<input type="checkbox" name="checkbox5">养殖水面
						<input type="checkbox" name="checkbox6">四荒承包
						</td>
                </td>
				</tr>
				<tr>
					<td class="t_prop">所属乡镇：</td>
					<td class="atter_mod pl10"><table class="select_tabs">
					<tr>
						<td>				
                    <select name="">
					<option value="">铁西区</option>
                    <option value="">平西乡</option>
			    	</select>
						</td></table>
				</tr>
				<tr>
					<td class="t_prop">项目主体：</td>
					<td class="pl10"><table class="tech_field">
					
						<input type="radio" name="3">家庭个人</td>
						<input type="radio" name="3">集体单位</td>
					
					</table></td>
				</tr>
				</table>
			</div>
		</div>

		<div class="pinka_con">
			<div class="select-tabs">
				<ul>
					<li class="sel-tab-cur"><a href="">全部信息</a></li>
					<li><a href="">土地承包</a></li>
					<li><a href="">林权转让</a></li>
					<li><a href="">养殖水面</a></li>
					<li><a href="">四荒租赁</a></li>
				</ul>
			</div>
			<div class="clearfix info-sel-title">
				<div class="fl s-t-name">项目名称</div><div class="fl s-t-hy">项目类型</div><div class="s-t-date">发布时间</div>
			</div>
			<div class="tech-pro-con">
				<div class="project-list">
					<a href="">铁西区平西乡关于土地使用权转让项目</a><span class="">土地转让</span><span class="project_date">2019-01-05</span>
				</div>
				<div class="project-list">
					<a href="">经济开发区用于商业住房土地承包项目</a><span class="">土地承包</span><span class="project_date">2018-12-25</span>
				</div>
				<div class="project-list">
					<a href="">铁西区平西乡关于土地使用权转让项目</a><span class="">土地转让</span><span class="project_date">2019-01-05</span>
				</div>
				<div class="project-list">
					<a href="">经济开发区用于商业住房土地承包项目</a><span class="">土地承包</span><span class="project_date">2018-12-25</span>
				</div>
				<div class="project-list">
					<a href="">铁西区平西乡关于土地使用权转让项目</a><span class="">土地转让</span><span class="project_date">2019-01-05</span>
				</div>
				<div class="project-list">
					<a href="">经济开发区用于商业住房土地承包项目</a><span class="">土地承包</span><span class="project_date">2018-12-25</span>
				</div>
				<div class="project-list">
					<a href="">铁西区平西乡关于土地使用权转让项目</a><span class="">土地转让</span><span class="project_date">2019-01-05</span>
				</div>
				<div class="project-list">
					<a href="">经济开发区用于商业住房土地承包项目</a><span class="">土地承包</span><span class="project_date">2018-12-25</span>
				</div>
				<div class="project-list">
					<a href="">铁西区平西乡关于土地使用权转让项目</a><span class="">土地转让</span><span class="project_date">2019-01-05</span>
				</div>
				<div class="project-list">
					<a href="">经济开发区用于商业住房土地承包项目</a><span class="">土地承包</span><span class="project_date">2018-12-25</span>
				</div>
				<div class="project-list">
					<a href="">铁西区平西乡关于土地使用权转让项目</a><span class="">土地转让</span><span class="project_date">2019-01-05</span>
				</div>
				<div class="project-list">
					<a href="">经济开发区用于商业住房土地承包项目</a><span class="">土地承包</span><span class="project_date">2018-12-25</span>
				</div>
				<div class="project-list">
					<a href="">铁西区平西乡关于土地使用权转让项目</a><span class="">土地转让</span><span class="project_date">2019-01-05</span>
				</div>
				<div class="project-list">
					<a href="">经济开发区用于商业住房土地承包项目</a><span class="">土地承包</span><span class="project_date">2018-12-25</span>
				</div>
				<div class="project-list">
					<a href="">铁西区平西乡关于土地使用权转让项目</a><span class="">土地转让</span><span class="project_date">2019-01-05</span>
				</div>
				<div class="project-list">
					<a href="">经济开发区用于商业住房土地承包项目</a><span class="">土地承包</span><span class="project_date">2018-12-25</span>
				</div>
			</div>
		</div>
	</div>

<div class="page mt10 mb20">
	<a href="#" class="first_1">首页</a>
    <a href="#" class="prev">&lt;上一页</a>
    <a href="#" class="on">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <span>...</span>
    <a href="#" class="next">下一页&gt;</a>
    <a href="#" class="last">尾页</a>
</div>
</div>

<!-- container end -->
<!-- footer begin -->
<footer class="footer">
<div class="container">
<ul class="clear youqinglj">
	<li> 友情链接： &nbsp;</li>
            <li><a href="">四平市政务网</a></li>&nbsp;&nbsp;
            <li><a href="">四平市财政局</a></li>&nbsp;&nbsp;
            <li><a href="">工商信息网</a></li>&nbsp;&nbsp;
            <li><a href="">中国农业网</a></li>&nbsp;&nbsp;
            <li><a href="">吉林省农业局</a></li>&nbsp;&nbsp;
            <li><a href="">四平市农业局</a></li>&nbsp;&nbsp;
            <li><a href="">铁西区政务网</a></li>&nbsp;&nbsp;
            <a href="" class="fr">更多>></a>
      </ul>
<div class="youqqi_adress pb5">
        <p>Copyright 2019&nbsp;&nbsp;四平市铁西区农业经济总站 版权所有&nbsp;&nbsp;吉ICP第123456780-2号</p> 
</div>      
</div>

</footer>
<!-- footer end -->


</body>
</html>
