<!doctype html>
<html>

<head th:include="common :: header">
<title id="pageTitle">需求信息详情—铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>


		<!-- container begin -->
		<div class="sam clear" style="background: #fff;">
			<div class="locate clearl">
				<p class="location2 fl pl25 pt10">
					<span></span>当前位置：<a style="font-size: 13px; font-family:"
						宋体";" href="../index.html">首页</a> > <a
						style="font-size: 13px; font-family:" 宋体";" href="">土地流转项目信息详情</a>
				</p>
			</div>
			<h3 class="c2 text-center" style="letter-spacing: 5px;">想找一片林地做畜牧养殖用</h3>
			<p class="text-center f14" style="font-family: '宋体';">
				<b>发布时间：</b><span>2019.1.20</span> &nbsp;&nbsp;<b>访问数量:</b><span>28</span>
			</p>

			<div class="detail clear">
				<div class="det-c" style="margin: 0 auto;">
					<h5>想找一片林地做畜牧养殖用</h5>
					<br> <br>
					<p>
						需求类别：<span>土地承包</span>
					</p>
					<br>
					<p>
						资金范围：<span>50-100</span>
					</p>
					<br>
					<p>
						需求性质：<span>家庭承包</span>
					</p>
					<br>
					<p>
						需求描述：<span>找一盘林地做畜牧养殖，面积最好在50亩以上，根据情况考察决定</span>
					</p>
					<br>
					<p>
						联系人： <span>张先生</span>
					</p>
					<p>
						联系方式：<span>1360000000</span>
					</p>
					<br>
					<p>
						邮箱：<span>mrz@txnjj.gov.cn</span>
					</p>
					<br>

				</div>
			</div>

			<div class="clearl" style="width: 90%; margin: 0 auto;">
				<p class="fl clear pl15 mb20"
					style="font-family: '微软雅黑'; font-size: 12px;">
					<b>上一页:</b><a href="">无 
				</p>
				<p class="pr15 fr mb20"
					style="font-family: '微软雅黑'; font-size: 12px;">
					<b>下一页：</b><a href="" style="font: '宋体' 12px;">铁西区平西乡新发林权转让项目</a>
				</p>
				<br>
				<!-- <div class="bdsharebuttonbox fr mr10 mt20 mb20">
					<a href="#" class="bds_more" data-cmd="more"></a><a href="#"
						class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#"
						class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#"
						class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#"
						class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a
						href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				</div> -->
				<!-- <script>
					window._bd_share_config = {
						"common" : {
							"bdSnsKey" : {},
							"bdText" : "",
							"bdMini" : "2",
							"bdPic" : "",
							"bdStyle" : "0",
							"bdSize" : "16"
						},
						"share" : {}
					};
					with (document)
						0[(getElementsByTagName('head')[0] || body)
								.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
								+ ~(-new Date() / 36e5)];
				</script> -->
			</div>
		</div>
		<!-- container end -->
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				helpInfoList : [],
				dataInfoList : [],
			},
			mounted : function() {

			},
			methods : {

			},
		});
	</script>


</body>
</html>
