<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">需求信息列表—铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>

		<!-- container begin -->
		<div class="main clearfix mt10">
			
			<div th:include="common :: location">
				<div id="pageLocaton">需求信息列表</div>
			</div>

			<div class="main_w">
				<div class="pinka_con">
					<div class="select-tabs">
						<ul>
							<li v-for="item in projectKindList" :class="{'sel-tab-cur':item.show===true}"  @click="selectKind(item)">
								<a>{{ item.value | projectKindFilter }}</a> 
							</li>
						</ul>
					</div>
					<div class="clearfix info-sel-title">
						<div class="fl s-t-name">需求项目名称</div>
						<div class="fl s-t-hy">项目类型</div>
						<div class="s-t-date">发布时间</div>
					</div>
					<div class="tech-pro-con">
						<div class="project-list" v-for="item in demandList">
							<a @click="goDetail(item.demandId)">{{ item.title }}</a>
							<span class="">{{ item.demandKind | demandKindFilter }}</span>
							<span class="project_date">{{ item.createDateStr }}</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="page mt10 mb20">
				<ul id='pagination'></ul>
			</div>
		</div>

		<!-- container end -->
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				queryData: {
					pageNo: 1,
					pageSize: 15,
					queryPage: "demand_list",
				},
				demandList : [],
				projectKindList: [
					{value: 0,  show: true},
					{value: 1,  show: false},
					{value: 2,  show: false},
					{value: 3,  show: false},
					{value: 4,  show: false},
				],
			},
			mounted : function() {
				hzToolObj.getdomInit("/demand/simpleList", this.queryData, this.callback);
			},
			methods : {
				callback: function(result){
					vm.demandList = result.pageInfo.list;
				},
				goDetail: function (id) {
					storage.setItem("demandQueryData",JSON.stringify(vm.queryData));
					window.location.href="../login/demand_detail?demandId=" + id;
				},
				queryList: function(){
					hzToolObj.getdomInit("/demand/simpleList", vm.queryData, vm.callback);
				},
				selectKind: function(item) {
					item.show = !item.show;
					vm.projectKindList.forEach(v=>{  
					    if(v.value != item.value ){
					    	v.show = false;
					    } else {
					    	v.show = true;
					    }  
					}); 
					vm.queryData.demandKind = item.value;
					vm.queryList();
				},
			},
		});
	</script>

</body>
</html>
