<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">需求信息详情—铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>
		<!-- container begin -->
		<div class="sam clear" style="background: #fff;">
			
			<div th:include="common :: location">
				<div id="pageLocaton">土地流转项目信息详情</div>
			</div>
			
			<h3 class="c2 text-center" style="letter-spacing: 5px;">{{ demandData.title }}</h3>
			<p class="text-center f14" style="font-family: '宋体';">
				<b>发布时间：</b><span>{{ demandData.createDateStr }}</span> &nbsp;&nbsp;
				<b>访问数量:</b><span>{{ visitNum }}</span>
			</p>

			<div th:fragment="demand_detail">
			<div class="detail clear">
				<div class="det-c" style="margin: 0 auto;">
					<h5>{{ demandData.title }}</h5>
					<br> <br>
					<p>
						需求类别：<span>{{ demandData.demandKind | projectKindFilter }}</span>
					</p>
					<br>
					<p>
						资金范围：<span>{{ demandData.moneyLevel | moneyLevelFilter }}</span>
					</p>
					<br>
					<p>
						需求性质：<span>{{ demandData.demandInfoKind | projectKindFilter }}</span>
					</p>
					<br>
					<p>
						需求描述：<span>{{ demandData.detail }}</span>
					</p>
					<br>
					<p>
						联系人： <span>{{ demandData.person | simpleNameFilter }}{{ demandData.sex | sexRespectFilter }}</span>
					</p>
					<p>
						联系方式：<span>{{ demandData.mobile }}</span>
					</p>
					<br>
					<p>
						邮箱：<span>{{ demandData.email }}</span>
					</p>
					<br>
				</div>
			</div>
			</div>

			<div class="clearl" style="width: 90%; margin: 0 auto;">
				<p class="fl clear pl15 mb20" style="font-family: '微软雅黑'; font-size: 12px;">
					<b>上一页:</b>
					<a v-if="preDemand" @click="goDetail(preDemand.demandId)" style="font: '宋体' 12px;" >{{ preDemand.title }}</a>
					<a v-else>无 </a>
				</p>
				<p class="pr15 fr mb20" style="font-family: '微软雅黑'; font-size: 12px;">
					<b>下一页：</b>
					<a v-if="nextDemand" @click="goDetail(nextDemand.demandId)" style="font: '宋体' 12px;" >{{ nextDemand.title }}</a>
					<a v-else>无 </a>
				</p>
				<br>
			</div>
			<div id="share" style="float: right; margin-right: 30px;"></div>
		</div>
		<!-- container end -->
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				demandData: {},
				queryData: {},
				preDemand: {},
				nextDemand: {},
				visitNum: 0,
			},
			mounted : function() {
				this.queryData = JSON.parse(storage.getItem("demandQueryData"));
				this.queryData.demandId = this.demandData.demandId = getUrlParam('demandId');
				this.initPage();
			},
			methods : {
				initPage: function(){
					if(this.demandData.demandId){
						this.initDemand();
						this.initPreNext();
						hzToolObj.postRpc("/sysLog/addVisitLog", {bizKind:2,bizId: this.queryData.demandId}).done(function(result) {
							vm.visitNum = result.visitNum;
						});
					} else {
						layer.msg("加载错误……")
						window.lcoation.href = "../html/demand_list"
					}
				},
				initDemand: function(){
					hzToolObj.postRpc("/demand/demandDetail", this.demandData).done(function (result) {
	                    vm.demandData = result.objData;
	                });
				},
				initPreNext: function(){
					$.post("/demand/queryPreNext", this.queryData, function (result) {
                        if (result.code == 0) {
                           vm.preDemand = result.preDemand;
                           vm.nextDemand = result.nextDemand;
                        } else {
                            layer.msg(result.msg);
                        }
                    });
				},
				goDetail: function (id) {
					window.location.href="../html/demand_detail?demandId=" + id;
				},
			},
			
		});
		
		socialShare('#share', {sites: ['qzone', 'qq', 'weibo','wechat']});
	</script>


</body>
</html>
