<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">需求信息详情—铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>
		<!-- container begin -->
		<div class="sam clear" style="background: #fff;">
			
			<div th:include="common :: location">
				<div id="pageLocaton">土地流转项目信息详情</div>
			</div>
			
			<h3 class="c2 text-center" style="letter-spacing: 5px;">{{ demandData.title }}</h3>
			<p class="text-center f14" style="font-family: '宋体';">
				<b>发布时间：</b><span>{{ demandData.createDateStr }}</span> &nbsp;&nbsp;<b>访问数量:</b><span>28</span>
			</p>

			<div class="detail clear">
				<div class="det-c" style="margin: 0 auto;">
					<h5>{{ demandData.title }}</h5>
					<br> <br>
					<p>
						需求类别：<span>{{ demandData.demandKind | projectKindFilter }}</span>
					</p>
					<br>
					<p>
						资金范围：<span>{{ demandData.moneyLevel | moneyLevelFilter }}</span>
					</p>
					<br>
					<p>
						需求性质：<span>{{ demandData.demandInfoKind | projectKindFilter }}</span>
					</p>
					<br>
					<p>
						需求描述：<span>{{ demandData.detail }}</span>
					</p>
					<br>
					<p>
						联系人： <span>{{ demandData.person | simpleNameFilter }}{{ demandData.sex | sexRespectFilter }}</span>
					</p>
					<p>
						联系方式：<span>{{ demandData.mobile }}</span>
					</p>
					<br>
					<p>
						邮箱：<span>{{ demandData.email }}</span>
					</p>
					<br>
				</div>
			</div>

			<div class="clearl" style="width: 90%; margin: 0 auto;">
				<p class="fl clear pl15 mb20"
					style="font-family: '微软雅黑'; font-size: 12px;">
					<b>上一页:</b><a href="">无 
				</p>
				<p class="pr15 fr mb20"
					style="font-family: '微软雅黑'; font-size: 12px;">
					<b>下一页：</b><a href="" style="font: '宋体' 12px;">铁西区平西乡新发林权转让项目</a>
				</p>
				<br>
			</div>
		</div>
		<!-- container end -->
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				demandData: {},
			},
			mounted : function() {
				this.demandData.demandId = getUrlParam('demandId');
				if(this.demandData.demandId){
					this.initDemand();
				} else {
					layer.msg("加载错误……")
					window.lcoation.href = "../html/demand_list"
				}
			},
			methods : {
				initDemand: function(){
					if(this.demandData.demandId){
						hzToolObj.postRpc("/demand/demandDetail", this.demandData).done(function (result) {
		                    vm.demandData = result.objData;
		                });
					}
				},
			},
			filters : {
				simpleNameFilter : function(val) {
					var simpleName = "";
					if (typeof val != "undefined") {
						simpleName = val.substr(0, 1);
					}
					return simpleName;
				},
			},
		});
	</script>


</body>
</html>
