<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>登录系统~四平市铁西区农经总站土地流转管理平台</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">

<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<link rel="stylesheet" type="text/css" href="../static/css/p01.css">
<!--<link rel="stylesheet" type="text/css" href="css/screen.css"> -->

<script type="text/javascript" src="../static/js/miaov.js"></script>
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.8.8.min.js"></script>
<script type="text/javascript" src="../static/js/accordion.js"></script>


</head>

<body>
	<!-- Top begin -->
	<div class="top">
		<div class="top_z">
			<ul class="fl">
				<li>欢迎访问铁西区土地流转管理平台&nbsp;&nbsp;</li>
				<li>请&nbsp;<a href="javascript:void(0);" class="bold">登录</a>&nbsp;|&nbsp;
				</li>
				<li><a href="javascript:void(0);" class="bold">注册</a></li>
			</ul>

			<ul class="fr huiyuan tform">
				<li><a href="javascript:void(0);">会员中心</a></li>
				<li><a href="javascript:void(0);"> 帮助咨询</a></li>
			</ul>
		</div>
	</div>

	<!-- top end -->

	<!-- header start -->
	<div class="header">
		<div class="header_z">
			<div class="logo">
				<a href="/" title="四平市铁西区农经总站土地流转信息管理平台"> <img width="100%"
					height="auto" alt="logo image" src="../static/images/logo1.png">
				</a>
			</div>
			<div class="search-main tform">
				<form action="" name="">
					<input type="text" name="" class="text" /> <input type="submit"
						name="" class="submit" value="搜索" /> <select name="sel1"
						class="sel1">
						<option value="全部">全部</option>
						<option value="土地流转">土地流转</option>
						<option value="林权转让">林权转让</option>
						<option value="四荒使用">四荒使用</option>
						<option value="养殖水面">养殖水面</option>
					</select>
				</form>
			</div>
			<div class="fabu tform">
				<form action="" name="">
					<select name="sel2" class="sel2">
						<option value="全部">全部</option>
						<option value="土地流转">土地流转</option>
						<option value="林权转让">林权转让</option>
						<option value="四荒使用">四荒使用</option>
						<option value="养殖水面">养殖水面</option>
					</select> <input type="submit" name="" class="fabuxinx" value="发布信息">
				</form>
			</div>
			<ul class="remen clear tform">
				<li>近期热门搜索：</li>
				<li><a href="">土地转让</a></li>
				<li><a href="">林权转让</a></li>
				<li><a href="">养殖水面</a></li>
				<li><a href="">四荒租赁</a></li>
			</ul>
		</div>
	</div>
	<!--<div class="clear1"></div>-->
	<!-- nav bar begin.this can fit anyscreen size -->
	<div class="nav clear1 mb20">
		<div class="nav-z clear1">
			<ul class="clear1 tform">
				<li><a href="/">首页</a></li>
				<li><a href="/">发布信息</a></li>
				<li><a href="/">查看信息</a></li>
				<li><a href="/">政策法规</a></li>
				<li><a href="/">资料下载</a></li>
				<li><a href="/">成交报表</a></li>
				<li><a href="/">咨询我们</a></li>
			</ul>
		</div>
	</div>

	<!-- nav end-->
	<!-- Content Begin -->
	<div class="fabu2 public2">
		<div class="fl">
			<img src="../static/images/main/denglu.png" class="pt10" width="600"
				height="360">
		</div>

		<div class="fr public2 mr30 mt15">
			<img src="../static/images/main/denglu.png" width="320" height="330">

		</div>



	</div>

	<!-- Footer Begin -->
	<div class="footer clear mt10">
		<div class="juz clear">
			<ul class="clear youqinglj">
				<li>友情链接：</li>
				<li><a href="">四平市政务网</a></li>&nbsp;&nbsp;
				<li><a href="">四平市财政局</a></li>&nbsp;&nbsp;
				<li><a href="">工商信息网</a></li>&nbsp;&nbsp;
				<li><a href="">中国农业网</a></li>&nbsp;&nbsp;
				<li><a href="">吉林省农业局</a></li>&nbsp;&nbsp;
				<li><a href="">四平市农业局</a></li>&nbsp;&nbsp;
				<li><a href="">铁西区政务网</a></li>&nbsp;&nbsp;
			</ul>
			<div class="fl youqqi_adress">
				<p class="adress">
					<br>Copyright 2019&nbsp;&nbsp;四平市铁西区农业经济总站
					版权所有&nbsp;&nbsp;吉ICP第123456780-2号
				</p>
			</div>
			<div class="fr jingcha mt10">
				<a href=""><img src="../static/images/footer_21.png" width="52"
					height="57"></a>&nbsp;&nbsp; <a href=""><img
					src="../static/images/footer_24.png" width="65" height="55"></a>
			</div>
		</div>
	</div>
	<!-- Footer END -->
</body>
</html>
