<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>会员登录——铁西区农村经济总站土地流转交易监管平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="../css/admin.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css">
<!--<link rel="stylesheet" type="text/css" href="../css/info.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="css/accordion.css">
-->
<!-- -->
<script type="text/javascript" src="../js/miaov.js"></script>
<script type="text/javascript" src="../js/public.js"></script>

<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/bootstrap/bootstrap.js" type="text/javascript"></script>
 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://wxpic.judacdn.com/assets/js/html5shiv.js"></script>
    <script src="http://wxpic.judacdn.com/assets/js/respond.min.js"></script>
    <![endif]-->


</head>
<body>
<!-- top begin -->
<div class="top">
	<div class="top-c">
    	<ul class="fl">
        	<li>
            	欢迎访问铁西区土地流转交易监管平台&nbsp;&nbsp;</li>
                <li>
                	请&nbsp;<a href="javascript:void(0);" class="bold">登录</a>&nbsp;|&nbsp;</li>
               	<li>
                	<a href="javascript:void(0);"class="bold">注册</a>
          </li>
      </ul>
                    
            <ul class="fr huiyuan tform">
            	<li>
                	<a href="javascript:void(0);">会员中心</a>		
              </li>
                    <li>
                    <a href="javascript:void(0);">
                    帮助中心</a>
                    </li>
      </ul>
    </div>
</div>
<!-- top end -->
<!-- header start -->
	<div class="header fl" style="margin-bottom:5px;">
    	<div class="header-c">
        	<div class="logo">
            	<a href="/" title="四平市铁西区农经总站土地流转信息管理平台">
					<img width="100%" height="auto" alt="logo image" src="../images/logo1.png">
              </a>
            </div>
            <div class="search-main tform">
            	<form action="" name="">
                	<input type="text" name="" class="text"/>
                    <input type="submit" name="" class="submit" value="搜索"/>
                    <select name="sel1" class="sel1">
                    <option value="全部">全部</option>
                    <option value="土地流转">土地</option>
                    <option value="林权转让">林权</option>
                    <option value="四荒使用">四荒</option>
                    <option value="养殖水面">水面</option>
                    </select>
              </form>
          </div>
               <ul class="remen clear tform">
                <li>近期热门搜索：</li>
                <li><a href="">土地承包</a></li>
                <li><a href="">林权转让</a></li>
                <li><a href="">养殖水面</a></li>
                <li><a href="">四荒承包</a></li>
          </ul>
      </div>
</div>
<div class="clearl"></div>
<!--header end -->

<!-- nav begin -->
<nav class="navbar navbar-expand-md bg-zong navbar-dark" style="margin-bottom:80px;">
<!--		<a class="navbar-brand" href="#" >菜单栏</a>
	 	按钮边框 -->
		<button class="navbar-toggler fr" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <!-- 方框里面三条线 -->
			<span class="navbar-toggler-icon fr"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav nav-justified" style="font-size:23px;width:1200px;">
				<li class="nav-item" style="">
					<a class="nav-link" href="../index.html">首&nbsp;&nbsp;页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/ckxm.html" target="_blank">查看信息</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/projectfb.html" target="_blank">发布信息</a>
				</li>
				<li class="nav-item">
				    <a class="nav-link" href="../html/newslist.html" target="_blank">政策法规</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/help.html" target="_blank">资料下载</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/xuqiufabu.html" target="_blank">留言咨询</a>
				</li>        
			</ul>
  </div>
</nav>
<!-- nav end -->
<!-- container begin -->
<div class="sam clear" style="background:#fff;">
	<div class="row clearfix">
		<div class="col-md-6 column">
        	<div class="table tform" style="margin:0 auto;">
            	<img class="fr" src="../images/main/denglu.png" no-repeat;>
            </div>
		</div>
		<div class="col-md-6 column mt20 mb20">
            	<div class="card clearl mt10" style="background:#fff; width:80%; height:300px; margin:0 auto; box-shadow:2px 2px 2px 5px #6e3e0d; color:#6e3e0d;">
                	<div class="card-header bold" style="text-align:center; font-size:20px;">
                    	用&nbsp;&nbsp;户&nbsp;&nbsp;登&nbsp;&nbsp;录
                    </div>
<div style="padding: 10px 10px;">
	<form>
		<div class="input-group mt10 mb20">
			<span class="input-group-text" style="margin-right:-3px;">用户名</span>
			<input type="text" class="form-control" placeholder="用户名/手机/邮箱">
		</div>
        <div class="input-group mt10 mb10">
			<span class="input-group-text" style="margin-right:-3px;">密&nbsp;&nbsp;&nbsp;码</span>
			<input type="text" class="form-control" placeholder="密码">
		</div>
        <div class="checkbox" style="vertical-align:middle; font-size:13px;">
					 <p class="fl agreement"><input type="checkbox" name="agreement">&nbsp;记住密码</p>
                     <p class="fr mr15">找回密码</p>
	    </div>
<button type="submit" class="btn btn-default" style="background:#93590d; color:#fff;">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
		<p class="text-center mt10 f12" style="color:#666;">新用户请<span class="c1 bold" style="letter-spacing:3px;"> 注册</span></p>


</form>
</div>
		</div>
	</div>
</div>
<!-- container end -->
<!-- footer begin -->
<footer class="footer">
<div class="container">
<ul class="clear youqinglj tform">
	<li> 友情链接： &nbsp;</li>
            <li><a href="">四平市政务网</a></li>&nbsp;&nbsp;
            <li><a href="">四平市财政局</a></li>&nbsp;&nbsp;
            <li><a href="">工商信息网</a></li>&nbsp;&nbsp;
            <li><a href="">中国农业网</a></li>&nbsp;&nbsp;
            <li><a href="">吉林省农业局</a></li>&nbsp;&nbsp;
            <li><a href="">四平市农业局</a></li>&nbsp;&nbsp;
            <li><a href="">铁西区政务网</a></li>&nbsp;&nbsp;
            <a href="" class="fr">更多>></a>
      </ul>
<div class="youqqi_adress pb5">
        <p>Copyright 2019&nbsp;&nbsp;四平市铁西区农业经济总站 版权所有&nbsp;&nbsp;吉ICP第123456780-2号</p> 
</div>      
</div>

</footer>
<!-- footer end -->


</body>
</html>
