<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产权交易信息发布~四平市铁西区农经总站土地流转管理平台</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">

<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<link rel="stylesheet" type="text/css" href="../static/css/p01.css">
<!--<link rel="stylesheet" type="text/css" href="css/screen.css"> -->

<script type="text/javascript" src="../static/js/miaov.js"></script>
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.8.8.min.js"></script>
<script type="text/javascript" src="../static/js/accordion.js"></script>


</head>

<body>
	<!-- Top begin -->
	<div class="top">
		<div class="top_z">
			<ul class="fl">
				<li>欢迎访问铁西区土地流转管理平台&nbsp;&nbsp;</li>
				<li>请&nbsp;<a href="javascript:void(0);" class="bold">登录</a>&nbsp;|&nbsp;
				</li>
				<li><a href="javascript:void(0);" class="bold">注册</a></li>
			</ul>

			<ul class="fr huiyuan tform">
				<li><a href="javascript:void(0);">会员中心</a></li>
				<li><a href="javascript:void(0);"> 帮助咨询</a></li>
			</ul>
		</div>
	</div>

	<!-- top end -->

	<!-- header start -->
	<div class="header">
		<div class="header_z">
			<div class="logo">
				<a href="/" title="四平市铁西区农经总站土地流转信息管理平台"> <img width="100%"
					height="auto" alt="logo image" src="../static/images/logo1.png">
				</a>
			</div>
			<div class="search-main tform">
				<form action="" name="">
					<input type="text" name="" class="text" /> <input type="submit"
						name="" class="submit" value="搜索" /> <select name="sel1"
						class="sel1">
						<option value="全部">全部</option>
						<option value="土地流转">土地流转</option>
						<option value="林权转让">林权转让</option>
						<option value="四荒使用">四荒使用</option>
						<option value="养殖水面">养殖水面</option>
					</select>
				</form>
			</div>
			<div class="fabu tform">
				<form action="" name="">
					<select name="sel2" class="sel2">
						<option value="全部">全部</option>
						<option value="土地流转">土地流转</option>
						<option value="林权转让">林权转让</option>
						<option value="四荒使用">四荒使用</option>
						<option value="养殖水面">养殖水面</option>
					</select> <input type="submit" name="" class="fabuxinx" value="发布信息">
				</form>
			</div>
			<ul class="remen clear tform">
				<li>近期热门搜索：</li>
				<li><a href="">土地转让</a></li>
				<li><a href="">林权转让</a></li>
				<li><a href="">养殖水面</a></li>
				<li><a href="">四荒租赁</a></li>
			</ul>
		</div>
	</div>
	<!--<div class="clear1"></div>-->
	<!-- header end.In this block, the right can be hidden if the screen small than 768px,and the logo image can fit the screen change class="tform" -->

	<!-- nav bar begin.this can fit anyscreen size -->
	<div class="nav clear1 mb20">
		<div class="nav-z clear1">
			<ul class="clear1 tform">
				<li><a href="/">首页</a></li>
				<li><a href="/">发布信息</a></li>
				<li><a href="/">查看信息</a></li>
				<li><a href="/">政策法规</a></li>
				<li><a href="/">资料下载</a></li>
				<li><a href="/">成交报表</a></li>
				<li><a href="/">咨询我们</a></li>
			</ul>
		</div>
	</div>

	<!-- nav end-->
	<!-- Content Begin -->

	<p class="location2">
		<span></span>当前位置：<a href="/">首页</a> > <a
			href="/Column_Channel.asp?Column_ID=27984">发布信息</a>
	</p>
	<div class="fabu2 public2">
		<div class="fabu_title">
			<!--		<img src="../static/images/main/fabu.jpg" width="149" height="66" border="0" alt="">
	</div>
	<div class="fb_main">
		<img src="../static/images/main/xxfb/1.png" width="300" height="180" class="fl">
		<div id="" class="">
			<dl id="slider2">
				<dt class="open"><img src="../static/images/main/xxfb/fb11.jpg" width="60" height="159" border="0" alt=""></dt>
				<dd>
					<div class="fabu_info">
						<h2>所有权交易信息发布</h2>如果您是土地、林业、渔业的所有者（拥有土地所有权证），您又需要将所有权的土地等农业资产变成交易的对象，请在这里，发布您的信息。注意，要详细哦：）</p>
						<p class="mt10 agreement"><input type="checkbox" name="agreement">阅读并同意本平台相关条例</p>
						<span class="btn_fb"><a href="#" id="example">立即发布交易信息</a></span>
					</div>
				</dd>
				<dt class="open"><img src="../static/images/main/xxfb/fb2.jpg" width="60" height="159" border="0" alt=""></dt>
				<dd>
					<div class="fabu_info">
						<h2>农业资产或设施需求信息发布</h2>
						<p class="fb_info_p">如果您想进入农业，承包或使用某一片土地、山林、水面乃至水利设施或相关的资源，您可以在这里发布您的需求，很快就会有人跟您接洽的。不信？发布一个需求信息（必须是真心需求哦），试试吧：）</p>
						<p class="mt5 agreement"><input type="checkbox" name="agreement">阅读并同意平台相关条例</p>
						<span class="btn_fb"><a href="#" id="example">立即发布需求信息</a></span>
					</div>
				</dd>
				<dt class="open"><img src="../static/images/main/xxfb/fb3.jpg" width="60" height="159" border="0" alt=""></dt>
				<dd>
					<div class="fabu_info">
						<h2>涉农招投标信息</h2>
						<p class="fb_info_p">这里，作为您是产权拥有者，可以对某一农村资源的使用、开发或建设进行招投标项目，以方便更快的找到合作伙伴，共同发展农业资源，提高农村经营经济发展！</p>
						<p class="mt5 agreement"><input type="checkbox" name="agreement">阅读并同意本平台相关条例</p>
						<span class="btn_fb"><a href="#" id="example">立即发布招投标信息</a></span>
					</div>
				</dd>
			</dl>
		</div>
	</div>
</div>
-->
			<div id="InfoBox">
				<div class="Box_title">
					<img src="../static/images/main/tu9.png" width="28" height="28"><span
						class="ml5">发布需求信息</span><a href="javascript:void(0)" title="关闭窗口"
						class="close_btn" id="closeBtn">×</a>
				</div>
				<table class="Box_table">
					<tr>
						<td width="112" align=right><b>*</b>所在地区：</td>
						<td><select name="">
								<option value="">省</option>
								<option value="">吉林省</option>
						</select> <select name="">
								<option value="">市</option>
								<option value="">四平市</option>
						</select> <select name="">
								<option value="">县/区</option>
								<option value="">铁西区</option>
						</select></td>
					</tr>
					<tr>
						<td align=right><b>*</b>需求类别：</td>
						<td class="checkBox"><input type="checkbox" name=""><span>土地承包</span><input
							type="checkbox" name=""><span>山林承包</span><input
							type="checkbox" name=""><span>水面承包</span><input
							type="checkbox" name=""><span>土地合作经营</span><input
							type="checkbox" name=""><span>水利设施承包</span><input
							type="checkbox" name=""><span>农业知识产权</span><input
							type="checkbox" name=""><span>其他</span></td>
					</tr>
					<tr>
						<td align=right>资金范围：</td>
						<td><select name="">
								<option value="">请选择</option>
								<option value="">500万-1000万</option>
								<option value="">1000万-5000万</option>
						</select></td>
					</tr>
					<tr>
						<td align=right>需求性质：</td>
						<td class="checkBox"><input type="checkbox" name=""><span>个人需求</span>
							<input type="checkbox" name=""><span>企业/集体</span></td>
					</tr>
					<tr>
						<td align=right><b>*</b>项目需求名称：</td>
						<td class="pop_jj"><input type="text" name=""></td>
					</tr>
					<tr>
						<td align=right><b>*</b>详细需求描述：</td>
						<td class="pop_descript"><textarea name="" rows="" cols=""></textarea></td>
					</tr>
					<tr>
						<td align=right><b>*</b>联 系 人：</td>
						<td class="pop_contact"><input type="text" name=""><b>*</b>联系方式：<input
							type="text" name="" value="手机"
							onfocus="if(this.value=='手机') this.value='';"
							onblur="if(this.value=='') this.value='手机';"></td>
					</tr>
					<tr>
						<td align=right><b>*</b>邮 箱：</td>
						<td><input type="text" name="" style="width: 170px;"></td>
					</tr>
					<tr>
						<td align=right>附 件：</td>
						<td><input type="file" name="file" value="选择文件"
							style="border: none;"></td>
					</tr>
					<tr>
						<td align=right></td>
						<td class="pop_agree"><input type="checkbox" name="">阅读并同意本平台相关条款</td>
					</tr>
					<tr>
						<td></td>
						<td><span class="btn_fb"><a href="#">立即发布需求信息</a></span><a
							class="pop_cancel" href="javascript:void(0)" id="closebtn">取
								&nbsp;消</a></td>
					</tr>
				</table>
			</div>
			<script type="text/javascript">
			<!--
				$(function($) {
					//弹出框

					$('#example').on('click', function() {
						$('body').append('<div id="mask"></div>');
						$('#mask').addClass('mask').fadeIn('normal');
						$('#InfoBox').fadeIn('normal');
					});

					/*
					$("#example").hover(function () {
							$(this).stop().animate({
								opacity: '1'
							}, 600);
						}, function () {
							$(this).stop().animate({
								opacity: '0.6'
							}, 1000);
						}).on('click', function () {
							$("body").append("<div id='mask'></div>");
							$("#mask").addClass("mask").fadeIn("slow");
							$("#InfoBox").fadeIn("slow");
						});
					 */
					//关闭
					$(".close_btn").hover(function() {
						$(this).css({
							color : 'black'
						})
					}, function() {
						$(this).css({
							color : '#999'
						})
					}).on('click', function() {
						$("#InfoBox").fadeOut("fast");
						$("#mask").css({
							display : 'none'
						});
					});

					$('#closebtn').on('click', function() {
						$('#InfoBox').fadeOut('fast');
						$('#mask').css({
							display : 'none'
						});
					})
				});
			//-->
			</script>
			<script type="text/javascript">
				var slider2 = new accordion.slider("slider2");
				slider2.init("slider2", 0, "open");
			</script>

			<!-- Footer Begin -->
			<div class="footer clear">
				<div class="juz clear">
					<!--    	<div class="juz_list clear">
        	<dl>
            	<dt>帮助中心</dt>
                <dd><a href="">用户注册指南</a></dd>
                <dd><a href="">如何发布信息</a></dd>
                <dd><a href="">如何查看信息</a></dd>
                <dd><a href="">常见问题解答</a></dd>
                <dd><a href="">资料下载</a></dd>
            </dl>
            
            <dl class="nomargin">
            	<dt>联系我们</dt>
                <dd><a href="">铁西区农经总站</a></dd>
                <dd><a href="">电话：0434-12345</a></dd>
                <dd><a href="">工作时间：（周一至周五）</a></dd>
                <dd><a href="">&nbsp;&nbsp;&nbsp;&nbsp;9:00-17:00</a></dd>
                <dd><a href="">邮箱：txnjj@txnjj.gov.cn</a></dd>
            </dl>
        </div>
       <ul class="clear youqinglj">
        	<li>友情链接：</li>
            <li><a href="">四平市政务网</a></li>&nbsp;&nbsp;
            <li><a href="">四平市财政局</a></li>&nbsp;&nbsp;
            <li><a href="">工商信息网</a></li>&nbsp;&nbsp;
            <li><a href="">中国农业网</a></li>&nbsp;&nbsp;
            <li><a href="">吉林省农业局</a></li>&nbsp;&nbsp;
            <li><a href="">四平市农业局</a></li>&nbsp;&nbsp;
            <li><a href="">铁西区政务网</a></li>&nbsp;&nbsp;
            <a href="" class="fr">更多>></a>
        </ul>
        <div class="fl youqqi_adress">
        <p class="adress"><br><br>Copyright 2019&nbsp;&nbsp;四平市铁西区农业经济总站 版权所有&nbsp;&nbsp;吉ICP第123456780-2号</p>
        </div>
   		<div class="fr jingcha">
        	<a href=""><img src="../static/images/footer_21.png" width="52" height="57"></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href=""><img src="../static/images/footer_24.png" width="65" height="55"></a>
        </div>
     </div>
   </div>

<!-- Footer END -->
</body>
</html>
