<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: header">
	<title id="pageTitle">帮助与资料下载——四平市铁西区农经总站土地流转管理平台</title>
</head>

<body>
	<div th:include="common :: top"></div>
	<div id="app" v-cloak>
		<!-- Content Begin -->
		
		<div th:include="common :: location">
			<div id="pageLocaton">帮助中心与资料下载</div>
		</div>
		
		<div>
			<div class="row clearfix mb10">
				<div class="col-md-6 column mb15">
					<div id="xzzx" class="helpcenter manual public2">
						<div class="ttt">
							<tr class="bbb">
								<h4 style="text-align: center; padding-top: 13px;">
									<b>帮助中心</b>
								</h4>
							</tr>
						</div>

						<ul>
							<li v-for="item in helpInfoList">
								<a :title="item.title" href="#" > 
									<i @click="goDetail(item.docId, 1)">{{ item.title }}</i>
									<p @click="download(item.docUrl)" v-show="item.docUrl">下载</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 column">
					<div id="xzzx" class="helpcenter manual public2">
						<div class="ttt1">
							<tr class="bbb">
								<h4 style="text-align: center; padding-top: 13px;">
									<b>资料下载</b>
								</h4>
							</tr>
						</div>
						<ul>
							<li v-for="item in docInfoList">
								<a :title="item.title" href="#" > 
									<i @click="goDetail(item.docId, 2)"> {{ item.title }}</i>
									<p @click="download(item.docUrl)" v-show="item.docUrl">下载</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Content End and the following is Footer Begin -->
		<footer class="footer">
			<div th:replace="common::foot"></div>
		</footer>
		<div th:replace="common :: js"></div>
		<script type="text/javascript">
			var vm = new Vue({
				el : '#app',
				data : {
					helpInfoList : [],
					docInfoList : [],
				},
				mounted : function() {
					this.initHelp();
					this.initDoc();
				},
				methods : {
					initHelp: function(){
						hzToolObj.getdomInit("/doc/docSearch", {pageNo : 1,pageSize : 999, docType:1, docStatus: 1}, function(result){
	                    	vm.helpInfoList = result.pageInfo.list;
						});
					},
					initDoc: function(){
						hzToolObj.getdomInit("/doc/docSearch", {pageNo : 1,pageSize : 999, docType:2, docStatus: 1}, function(result){
	                    	vm.docInfoList = result.pageInfo.list;
						});
					},
					goDetail: function(id, type){
						var queryData= {
								pageNo : 1,
								pageSize : 10, 
								docStatus: 1,	
								docType:type, 
						};
						storage.setItem("docQueryData",JSON.stringify(queryData));
						window.location.href = "../html/help_detail?docId=" + id;
					},
					download: function(url){
						window.location.href = "/file/downFile?filePath=" + url;
					},
				},
			});
		</script>
	</div>

</body>
</html>
