<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header">
<title id="pageTitle">帮助与资料下载——四平市铁西区农经总站土地流转管理平台</title>
</head>

<body>
	<div th:include="common :: top"></div>
	<div id="app" v-cloak>
		<!-- Content Begin -->
		<div class="Locate">
			<span></span>
			<p>
				当前位置：<a href="../index">首页</a> > 帮助中心与资料下载
			</p>
		</div>
		<div>
			<div class="row clearfix mb10">
				<div class="col-md-6 column mb15">
					<div id="xzzx" class="helpcenter manual public2">
						<div class="ttt">
							<tr class="bbb">
								<h4 style="text-align: center; padding-top: 13px;">
									<b>帮助中心</b>
								</h4>
							</tr>
						</div>

						<ul>
							<li><a href="" title="信息平台使用说明"> <i> 信息平台使用说明</i>
									<p>下载</p>
							</a></li>
							<li><a href="" title="用户注册指南"> <i>用户注册指南</i>
									<p>下载</p>
							</a></li>
							<li><a href="" title="如何发布信息"> <i>如何发布信息</i>
									<p>下载</p>
							</a></li>
							<li><a href="" title="如何查看信息"> <i>如何查看信息</i>
									<p>下载</p>
							</a></li>
							<li><a href="" title="常见问题解答"> <i>常见问题解答</i>
									<p>下载</p>
							</a></li>
							<li><a href="" title="更多问题，咨询我们"> <i>咨询我们</i>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 column">
					<div id="xzzx" class="helpcenter manual public2">
						<div class="ttt1">
							<tr class="bbb">
								<h4 style="text-align: center; padding-top: 13px;">
									<b>资料下载</b>
								</h4>
							</tr>
						</div>
						<ul>
							<li><a href="" title="合同样本"> <i>合同样本</i>
									<p>下载</p>
							</a></li>

							<li><a href="" title="关于土地流转相关政策"> <i>土地流转政策</i>
									<p>下载</p>
							</a></li>
							<li><a href="" title="关于土地流转相关法规"> <i>土地流转法规</i>
									<p>下载</p>
							</a></li>
							<li><a href="" title="合作协议模板"> <i>合作协议模板</i>
									<p>下载</p>
							</a></li>
							<li><a href="" title="土地流转申请表"> <i>土地流转申请表</i>
									<p>下载</p>
							</a></li>
							<li><a href="" title="需求发布申请表"> <i>需求发布申请表</i>
									<p>下载</p>
							</a></li>

						</ul>

					</div>
				</div>
			</div>
		</div>

		<!-- Content End and the following is Footer Begin -->
		<footer class="footer">
			<div th:replace="common::foot"></div>
		</footer>
		<div th:replace="common :: js"></div>
		<script type="text/javascript">
			var vm = new Vue({
				el : '#app',
				data : {
					helpInfoList : [],
					dataInfoList : [],
				},
				mounted : function() {

				},
				methods : {

				},
			});
		</script>
	</div>

</body>
</html>
