<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
<title id="pageTitle">所有项目信息~四平市铁西区农经总站土地流转管理平台</title>
</head>


<style type="text/css">
.page {
	text-align: center;
	font-size: 14px;
	font-family: 幼圆；
}

.ttttt {
	margin-top: 10px;
}

.page a {
	display: inline-block;
	padding: 8px 12px;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	color: #333;
	text-decoration: none;
	margin-right: 12px;
}

.page span {
	margin-right: 12px;
}
</style>
<body>
	<div id="app" v-cloak>
		<header th:include="common :: header"></header>
		<div th:include="common :: nav"></div>
		<!-- Content Begin -->
		<div class="Locate">
			<span></span>
			<p>
				当前位置：<a href="../index">首页</a> > 项目信息列表页
			</p>
		</div>
		<div class="main_w">
			<div class="screen_sel">
				<div class="selected_c">
					<span class="fl c_key">您已选择：</span>
					<ul class="fl sel_list">
						<li><a href="">项目类型:土地承包</a><b></b></li>
						<li><a href="">所属乡镇:某某乡镇</a><b></b></li>
					</ul>
					<span class="revocation"><a href="">清空条件</a></span>
				</div>
				<div class="sel_attrs">
					<table class="attrs_table">
						<tr>
							<td class="t_prop">项目类型：</td>
							<td class="atter_mod"><table class="tech_field">
									<tr>
										<td><input type="checkbox" name="checkbox1">土地承包</td>
										<td><input type="checkbox" name="checkbox1">土地转让</td>
										<td><input type="checkbox" name="checkbox1">林权承包</td>
										<td><input type="checkbox" name="checkbox1">林权转让</td>
										<td><input type="checkbox" name="checkbox1">养殖水面</td>
										<td><input type="checkbox" name="checkbox1">四荒承包</td>
										<td><input type="checkbox" name="checkbox1">设施租赁</td>
										<td><input type="checkbox" name="checkbox1">知识产权交易</td>
									</tr>
								</table> <a href="javascript:void(0);" class="mod-more">更多↓<i></i></a></td>
						</tr>
						<tr>
							<td class="t_prop">所属乡镇：</td>
							<td class="atter_mod"><table class="select_tabs">
									<tr>
										<td><select name="">
												<option value="">站前街道办事处</option>
												<option value="">经济技术开发区</option>
												<option value="">平西乡政府</option>
												<option value="">某某镇政府</option>
												<option value="">经济技术开发区</option>
												<option value="">经济技术开发区</option>
										</select></td>
									</tr>
								</table> <a href="javascript:void(0);" class="mod-more">更多↓<i></i></a></td>
						</tr>
						<tr>
							<td class="t_prop">项目主体：</td>
							<td><table>
									<tr>
										<td><input type="radio" name="3">个 人</td>
										<td><input type="radio" name="3">企 业</td>
										<td><input type="radio" name="3">村 委</td>
										<td><input type="radio" name="3">政 府</td>
									</tr>
								</table></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="pinka_con">
				<div class="select-tabs">
					<ul>
						<li class="sel-tab-cur"><a href="">全部信息</a></li>
						<li><a href="">转让信息</a></li>
						<li><a href="">承租信息</a></li>
						<li><a href="">知识产权信息</a></li>
						<li><a href="">设施租赁信息</a></li>
					</ul>
				</div>
				<table class="am-table am-table-compact am-table-striped am-table-hover tpl-table-black am-table-radius am-text-nowrap">
					 <thead>
					 	<tr class="am-text-middle table_th">
                           <th>项目名称</th>
                           <th>项目类型</th>
                           <th>发布时间</th>
                       </tr>
                     </thead>
                     <tbody id="tbody">
                     	<tr class="gradeX" v-for="item in list">
                     	</tr>
                     </tbody>
				</table>

				<div class="tech-pro-con">
					<div class="project-list">
						<a href="">铁西区平西乡关于土地使用权转让项目</a><span class="">土地转让</span><span
							class="project_date">2019-01-05</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page mt10">
		<a href="#" class="first_1">首页</a> <a href="#" class="prev">&lt;上一页</a>
		<a href="#" class="on">1</a> <a href="#">2</a> <a href="#">3</a> <a
			href="#">4</a> <span>...</span> <a href="#" class="next">下一页&gt;</a>
		<a href="#" class="last">尾页</a>
	</div>


	<div th:include="common :: footer"></div>

	<!-- Content End -->
	<!-- Footer Begin -->
	<div th:include="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				list:{},
			},
			mounted : function() {
			},
			methods : {},
		});
	</script>



</body>
</html>
