<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">新闻及政策法规列表-铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>
		<!-- container begin -->
		<div class="main clearfix mt10">
			
			<div th:include="common :: location">
				<div id="pageLocaton">新闻/政策/法规/公告列表</div>
			</div>

			<div class="main_w">

				<div class="pinka_con">
					<div class="select-tabs">
						<ul>
							<li class="sel-tab-cur"><a href="">全部信息</a></li>
							<li><a href="">新 闻</a></li>
							<li><a href="">政 策</a></li>
							<li><a href="">法 规</a></li>
							<li><a href="">公 告</a></li>
						</ul>
					</div>
					<div class="clearfix info-sel-title">
						<div class="fl s-t-name">
							<b>消息标题</b>
						</div>
						<div class="fl s-t-hy">
							<b>信息类别</b>
						</div>
						<div class="s-t-date">
							<b>发布时间</b>
						</div>
					</div>
					<div class="tech-pro-con">
						<div class="project-list">
							<a href="">新闻标题</a><span class="">新闻</span><span
								class="project_date">2019-01-05</span>
						</div>
						<div class="project-list">
							<a href="">政策标题</a><span class="">政策</span><span
								class="project_date">2018-12-25</span>
						</div>
						<div class="project-list">
							<a href="">法规标题</a><span class="">法规</span><span
								class="project_date">2019-01-05</span>
						</div>
						<div class="project-list">
							<a href="">关于土地承包交易完成公告</a><span class="">公告</span><span
								class="project_date">2018-12-25</span>
						</div>
						<div class="project-list">
							<a href="">新闻标题</a><span class="">新闻</span><span
								class="project_date">2019-01-05</span>
						</div>
						<div class="project-list">
							<a href="">政策标题</a><span class="">政策</span><span
								class="project_date">2018-12-25</span>
						</div>
						<div class="project-list">
							<a href="">法规标题</a><span class="">法规</span><span
								class="project_date">2019-01-05</span>
						</div>
						<div class="project-list">
							<a href="">关于土地承包交易完成公告</a><span class="">公告</span><span
								class="project_date">2018-12-25</span>
						</div>
					</div>
				</div>
			</div>

			<div class="page mt10 mb20">
				<a href="#" class="first_1">首页</a> <a href="#" class="prev">&lt;上一页</a>
				<a href="#" class="on">1</a> <a href="#">2</a> <a href="#">3</a> <a
					href="#">4</a> <span>...</span> <a href="#" class="next">下一页&gt;</a>
				<a href="#" class="last">尾页</a>
			</div>
		</div>

		<!-- container end -->
		<dl></dl>
		<footer class="footer">
			<div th:replace="common::foot"></div>
		</footer>
	</div>
	<div th:include="common :: js"></div>
	<script type="text/javascript">
	var vm = new Vue({
		el : '#app',
		data : {
			
		},
		mounted : function() {
		},
		methods : {
			
		},
	});
	</script>
</body>
</html>
