<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>政策法规新闻公告信息~四平市铁西区农经总站土地流转管理平台</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">

<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<link rel="stylesheet" type="text/css" href="../static/css/p01.css">
<!--<link rel="stylesheet" type="text/css" href="css/screen.css"> -->

<script type="text/javascript" src="../static/js/miaov.js"></script>
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.8.8.min.js"></script>
<script type="text/javascript" src="../static/js/accordion.js"></script>


</head>

<body>
	<!-- Top begin -->
	<div class="top">
		<div class="top_z">
			<ul class="fl">
				<li>欢迎访问铁西区土地流转管理平台&nbsp;&nbsp;</li>
				<li>请&nbsp;<a href="javascript:void(0);" class="bold">登录</a>&nbsp;|&nbsp;
				</li>
				<li><a href="javascript:void(0);" class="bold">注册</a></li>
			</ul>

			<ul class="fr huiyuan tform">
				<li><a href="javascript:void(0);">会员中心</a></li>
				<li><a href="javascript:void(0);"> 帮助咨询</a></li>
			</ul>
		</div>
	</div>

	<!-- top end -->

	<!-- header start -->
	<div class="header">
		<div class="header_z">
			<div class="logo">
				<a href="/" title="四平市铁西区农经总站土地流转信息管理平台"> <img width="100%"
					height="auto" alt="logo image" src="../static/images/logo1.png">
				</a>
			</div>
			<div class="search-main tform">
				<form action="" name="">
					<input type="text" name="" class="text" /> <input type="submit"
						name="" class="submit" value="搜索" /> <select name="sel1"
						class="sel1">
						<option value="全部">全部</option>
						<option value="土地流转">土地流转</option>
						<option value="林权转让">林权转让</option>
						<option value="四荒使用">四荒使用</option>
						<option value="养殖水面">养殖水面</option>
					</select>
				</form>
			</div>
			<div class="fabu tform">
				<form action="" name="">
					<select name="sel2" class="sel2">
						<option value="全部">全部</option>
						<option value="土地流转">土地流转</option>
						<option value="林权转让">林权转让</option>
						<option value="四荒使用">四荒使用</option>
						<option value="养殖水面">养殖水面</option>
					</select> <input type="submit" name="" class="fabuxinx" value="发布信息">
				</form>
			</div>
			<ul class="remen clear tform">
				<li>近期热门搜索：</li>
				<li><a href="">土地转让</a></li>
				<li><a href="">林权转让</a></li>
				<li><a href="">养殖水面</a></li>
				<li><a href="">四荒租赁</a></li>
			</ul>
		</div>
	</div>
	<!--<div class="clear1"></div>-->
	<!-- header end.In this block, the right can be hidden if the screen small than 768px,and the logo image can fit the screen change class="tform" -->

	<!-- nav bar begin.this can fit anyscreen size -->
	<div class="nav clear1 mb20">
		<div class="nav-z clear1">
			<ul class="clear1 tform">
				<li><a href="/">首页</a></li>
				<li><a href="/">发布信息</a></li>
				<li><a href="/">查看信息</a></li>
				<li><a href="/">政策法规</a></li>
				<li><a href="/">资料下载</a></li>
				<li><a href="/">成交报表</a></li>
				<li><a href="/">咨询我们</a></li>
			</ul>
		</div>
	</div>

	<!-- nav end-->
	<!-- Content Begin -->
	<div class="Locate">
		<span></span>
		<p>
			当前位置：<a href="/">首页</a> > <a href="/Content_List.asp?Column_ID=27997">政策&bull;法规&bull;新闻&bull;公告信息</a>
		</p>
	</div>
	<div class="main3 clear public2">
		<!--	<div class="main_l fl">
       	<ul class="sub_col">
            
		</ul>	
    </div> 
-->
		<div class="main_r fl">
			<h3 class="col_Name c4">政策&bull;法规&bull;新闻&bull;公告</h3>
			<div class="Column_content">
				<table border=0 width=100% alig=center cellpadding=5>
					<tr>
						<td align=center style='font-size: 12pt;' class="c2"><b><span>[公告]</span>经济开发区某某村委闲置农田转租项目</b>
						</td>
					</tr>
					<tr>
						<td align=center>日期:2019/1/2 访问:<script language=javascript
								src="/Content_Hits$js.asp?ObjID=20002414"></script>
						</td>
					</tr>
					<tr>
						<td align=center><b>发布人：</b>[会员ID] <b>所属单位：</b>铁西区农经总站</td>
					</tr>
					<tr>
						<td align=left style='font-size: 14px; line-height: 160%;'>
							<p>乡镇审批系统设计思路：（需对全市各乡镇信息统计）
								乡镇审批系统工作人员权限，只能查看到本乡镇的所有相关申请、审批、发布及成交等信息。由乡镇管理员分配乡镇审批领导权限，负责柜员上报项目的审批工作。若属法规及乡镇履行职责范围内的申请信息，本乡镇审批许可就行，并反馈给柜台操作人员发布相关信息（含项目信息发布和信息交易完成信息发布等）。柜台操作人员，根据需求，将信息发布者的相关信息，通过前端录入系统中，包含信息发布者个人信息（含企业），个人（企业）相关资质的扫描、照片等信息的上传保留，并能在乡镇、区县和市局系统内呈现出来。需要审批的项目，在乡镇审批过后，再汇报至区县工作人员，由区县工作人员进行审批，并决定是否发布该信息。若可以发布，则由区县工作人员直接发布至平台前端；若不可以发布，将信息返回乡镇级柜台，进行删减和修改，可重复提交申请发布。若，符合本乡镇政策的相关信息，可由乡镇工作人员审核后，直接发布，否则退回柜台管理员，重新删减、录入或提交。
								含： 柜员操作员权限及登录验证设计； 信息发布人员身份系统统计设计； 买卖信息资料上传设计（含扫描件、证件和其他图片等信息）；
								信息审批及上报系统设计； 信息发布设计等 共计：25% 3. 区县审批系统设计（需对全市各区县数据进行统计）
								各区县由市局管理进行管理员权限分配，然后对本区县的工作人员的权限进行分配。如审批系统工作人员，分土地交易管理员权限、农贸产品交易管理员权限等，对乡镇级信息进行各项审核，若审核通过，则直接一键发布至平台前端，进行信息发布；若审核不通过，将对应信息返回乡镇进行重新提交或删减。同时，区县可设置乡镇人员权限管理员，或直接指定本区县内各个乡镇的相关工作人员的登录方式等。同时，区县局工作人员，还可以发布本区县相关政策和新闻等相关信息至网站前端进行公示等工作。

								含： 区县操作员权限及登录验证设计； 审批乡镇系统报批资料设计； 信息发布及返回设计； 政策及新闻发布设计等 共计：25% 4.
								土地、农贸商品信息交易过程设计

								该设计为具体细节过程，由乡镇柜台操作人员录入，并由乡镇工作人员进行审批。柜台录入含信息发布者个人（企业）信息，如：项目（土地买卖、农贸交易等）信息、联系方式、相关证书（土地证、农贸合格证或实物照片等）进行扫描或原图片上传。柜台操作过后，由乡镇工作人员进行审核，若符合本地审核标准，则一键发布至前端，若审核权限不够，则继续提交所有文档至区县局工作人员进行批复。区县局工作人员，可以查看到所有的信息资料，包含个人信息、项目信息和上传的图片、扫描件等信息。若符合交易条件，则一键提交前端进行发布，若不符合交易条件，则返回乡镇对项目进行删减、修改再提交等工作。同时，还需要对相关交易的项目进行分类报表展现，如乡镇报表、区县报表和市局总表等。
								含： 土地交易合法性审计系统设计； 土地交易发布系统设计； 土地交易完成信息公布系统设计； 农贸商品发布系统设计；
								农贸商品信息及数量和时间展现设计； 土地、农贸商品交易完成统计系统设计等 共计:25%</p>
						</td>
					</tr>
					<tr>
						<td align=left style='font-size: 14px; line-height: 160%;'></td>
					</tr>
					<tr>
						<td style="border-bottom: 1px dotted #C0C0C0; font-size: 1px;">&nbsp;</td>
					</tr>
					<tr>
						<td style="font-size: 1px;">&nbsp;</td>
					</tr>

					<tr>
						<td align=right><table border=0>
								<p>
									上一页：铁西区某承包项目合法性 &nbsp;&nbsp;<span>下一页：某乡镇山林承包项目成功交易</span>
								</p>
								<tr>
									<td><div class="bdsharebuttonbox">
											<a href="#" class="bds_more" data-cmd="more"></a><a href="#"
												class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a
												href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a
												href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a
												href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a
												href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
										</div></td>
								</tr>
							</table></td>
					</tr>
					<tr>
						<td style="border-bottom: 1px dotted #C0C0C0; font-size: 1px;">&nbsp;</td>
					</tr>
					<tr>
						<td style="font-size: 1px;">&nbsp;</td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</table>
			</div>
		</div>


		<!-- Content End -->
		<!-- Footer Begin -->
		<div class="footer clear mt20">
			<div class="juz clear">
				<ul class="clear youqinglj">
					<li>友情链接：</li>
					<li><a href="">四平市政务网</a></li>&nbsp;&nbsp;
					<li><a href="">四平市财政局</a></li>&nbsp;&nbsp;
					<li><a href="">工商信息网</a></li>&nbsp;&nbsp;
					<li><a href="">中国农业网</a></li>&nbsp;&nbsp;
					<li><a href="">吉林省农业局</a></li>&nbsp;&nbsp;
					<li><a href="">四平市农业局</a></li>&nbsp;&nbsp;
					<li><a href="">铁西区政务网</a></li>&nbsp;&nbsp;
					<a href="" class="fr">更多>></a>
				</ul>
				<div class="fl youqqi_adress">
					<p class="adress">
						<br>
						<br>Copyright 2019&nbsp;&nbsp;四平市铁西区农业经济总站
						版权所有&nbsp;&nbsp;吉ICP第123456780-2号
					</p>
				</div>
				<div class="fr jingcha">
					<a href=""><img src="../static/images/footer_21.png" width="52"
						height="57"></a>&nbsp;&nbsp;&nbsp;&nbsp; <a href=""><img
						src="../static/images/footer_24.png" width="65" height="55"></a>
				</div>
			</div>
		</div>

		<!-- Footer END -->
</body>
</html>
