<!doctype html>
<html>
<head th:include="common :: head">
<title id="pageTitle">产权交易信息发布~四平市铁西区农经总站土地流转管理平台</title>
</head>
<body>
	<div id="app" v-cloak>
		<!-- top begin -->
		<div class="top">
			<div class="top-c">
				<ul class="fl">
					<li>欢迎访问铁西区土地流转交易监管平台&nbsp;&nbsp;</li>
					<li>请&nbsp;<a href="javascript:void(0);" class="bold">登录</a>&nbsp;|&nbsp;
					</li>
					<li><a href="javascript:void(0);" class="bold">注册</a></li>
				</ul>

				<ul class="fr huiyuan tform">
					<li><a href="javascript:void(0);">会员中心</a></li>
					<li><a href="javascript:void(0);"> 帮助中心</a></li>
				</ul>
			</div>
		</div>
		<!-- top end -->
		<!-- header start -->
		<div class="header fl" style="margin-bottom: 5px;">
			<div class="header-c">
				<div class="logo">
					<a href="/" title="四平市铁西区农经总站土地流转信息管理平台"> <img width="100%"
						height="auto" alt="logo image" src="../images/logo1.png">
					</a>
				</div>
				<div class="search-main tform">
					<form action="" name="">
						<input type="text" name="" class="text" /> <input type="submit"
							name="" class="submit" value="搜索" /> <select name="sel1"
							class="sel1">
							<option value="全部">全部</option>
							<option value="土地流转">土地</option>
							<option value="林权转让">林权</option>
							<option value="四荒使用">四荒</option>
							<option value="养殖水面">水面</option>
						</select>
					</form>
				</div>
				<ul class="remen clear tform">
					<li>近期热门搜索：</li>
					<li><a href="">土地承包</a></li>
					<li><a href="">林权转让</a></li>
					<li><a href="">养殖水面</a></li>
					<li><a href="">四荒承包</a></li>
				</ul>
			</div>
		</div>
		<div class="clearl"></div>
		<!--header end -->

		<!-- nav begin -->
		<nav class="navbar navbar-expand-md bg-zong navbar-dark"
			style="margin-bottom: 80px;">
			<!--		<a class="navbar-brand" href="#" >菜单栏</a>
	 	按钮边框 -->
			<button class="navbar-toggler fr" type="button"
				data-toggle="collapse" data-target="#collapsibleNavbar">
				<!-- 方框里面三条线 -->
				<span class="navbar-toggler-icon fr"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav nav-justified"
					style="font-size: 23px; width: 1200px;">
					<li class="nav-item" style=""><a class="nav-link"
						href="../index.html">首&nbsp;&nbsp;页</a></li>
					<li class="nav-item"><a class="nav-link"
						href="../html/ckxm.html" target="_blank">查看信息</a></li>
					<li class="nav-item"><a class="nav-link"
						href="../html/projectfb.html" target="_blank">发布信息</a></li>
					<li class="nav-item"><a class="nav-link"
						href="../html/newslist.html" target="_blank">政策法规</a></li>
					<li class="nav-item"><a class="nav-link"
						href="../html/help.html" target="_blank">资料下载</a></li>
					<li class="nav-item"><a class="nav-link"
						href="../html/xuqiufabu.html" target="_blank">留言咨询</a></li>
				</ul>
			</div>
		</nav>
		<!-- nav end -->
		<!-- container begin -->
		<div class="sam clear" style="background: #fff;">
			<div class="locate clearl">
				<p class="location2 fl pl25 pt10">
					<span></span>当前位置：<a style="font-size: 13px; font-family:"
						宋体";" href="../index.html">首页</a> > <a
						style="font-size: 13px; font-family:" 宋体";" href="">土地流转项目信息详情</a>
				</p>
			</div>
			<h3 class="c2 text-center" style="letter-spacing: 5px;">
				[<span class="bold" style="color: red; font-family: '新宋体';">新闻</span>]土地流转交易管理平台正式上线
			</h3>
			<p class="text-center f14" style="font-family: '宋体';">
				<b>发布时间：</b><span>2019.1.20</span> &nbsp;&nbsp;<b>访问数量:</b><span>28</span>
			</p>

			<div class="detail clear">
				<div class="main1 clearfix">


					<h4 class="mt15">土地流转交易监管平台上线</h4>
					<p>土地流转交易监管平台上线,土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线土地流转交易监管平台上线</p>




				</div>
			</div>

			<div class="clearl" style="width: 90%; margin: 0 auto;">
				<p class="fl clear pl15 mb20"
					style="font-family: '微软雅黑'; font-size: 12px;">
					<b>上一页:</b><a href="">无 
				</p>
				<p class="pr15 fr mb20"
					style="font-family: '微软雅黑'; font-size: 12px;">
					<b>下一页：</b><a href="" style="font: '宋体' 12px;">铁西区平西乡新发林权转让项目</a>
				</p>
				<br>
				<div class="bdsharebuttonbox fr mr10 mt20 mb20">
					<a href="#" class="bds_more" data-cmd="more"></a><a href="#"
						class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#"
						class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#"
						class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#"
						class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a
						href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				</div>
				<script>
					window._bd_share_config = {
						"common" : {
							"bdSnsKey" : {},
							"bdText" : "",
							"bdMini" : "2",
							"bdPic" : "",
							"bdStyle" : "0",
							"bdSize" : "16"
						},
						"share" : {}
					};
					with (document)
						0[(getElementsByTagName('head')[0] || body)
								.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
								+ ~(-new Date() / 36e5)];
				</script>
			</div>
		</div>
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
		<div th:replace="common :: js"></div>
		<script type="text/javascript">
			var vm = new Vue({
				el : '#app',
				data : {
				},
				mounted : function() {

				},
				methods : {

				},
			});
		</script>
	</div>

</body>
</html>
