<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">需求信息列表-铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common :: top"></div>
		<!-- container begin -->
		<div class="main clearfix mt10">
			
			<div th:include="common :: location">
				<div id="pageLocaton">土地流转项目信息列表</div>
			</div>
			
			<div class="main_w">
				<div class="screen_sel">
					<div class="selected_c">
						<span class="fl c_key">您已选择：</span>
						<ul class="fl sel_list" style="font-size: 12px;">
							<li><a href="">项目类型:土地承包</a><b></b></li>
							<li><a href="">所属乡镇:某某乡镇</a><b></b></li>
						</ul>
						<span class="revocation"><a href="">清空条件</a></span>
					</div>
					<div class="sel_attrs">
						<table class="attrs_table">
							<tr>
								<td class="t_prop clear">项目类型：</td>
								<td class="atter_mod pl10"><input type="checkbox"
									name="checkbox1">土地承包 <input type="checkbox"
									name="checkbox4">林权转让 <input type="checkbox"
									name="checkbox5">养殖水面 <input type="checkbox"
									name="checkbox6">四荒承包</td>
								</td>
							</tr>
							<tr>
								<td class="t_prop">所属乡镇：</td>
								<td class="atter_mod pl10"><table class="select_tabs">
										<tr>
											<td><select name="">
													<option value="">铁西区</option>
													<option value="">平西乡</option>
											</select></td>
										</tr>
									</table>
							</tr>
							<tr>
								<td class="t_prop">项目主体：</td>
								<td class="pl10"><table class="tech_field">

										<input type="radio" name="3">家庭个人
										</td>
										<input type="radio" name="3">集体单位
										</td>

									</table></td>
							</tr>
						</table>
					</div>
				</div>

				<div class="pinka_con">
					<div class="select-tabs">
						<ul>
							<li class="sel-tab-cur"><a href="">全部信息</a></li>
							<li><a href="">土地承包</a></li>
							<li><a href="">林权转让</a></li>
							<li><a href="">养殖水面</a></li>
							<li><a href="">四荒租赁</a></li>
						</ul>
					</div>
					<div class="clearfix info-sel-title">
						<div class="fl s-t-name">项目名称</div>
						<div class="fl s-t-hy">项目类型</div>
						<div class="s-t-date">发布时间</div>
					</div>
					<div class="tech-pro-con">
						<div class="project-list" v-for="item in projectList">
							<a @click="goDetail(item.projectId)">{{ item.projectName }}</a>
							<span class="">{{ item.projectKind | projectKindFilter  }}</span>
							<span class="project_date">{{ item.createDateStr }}</span>
						</div>
						
					</div>
				</div>
			</div>

			<div class="page mt10 mb20">
				<a href="#" class="first_1">首页</a> <a href="#" class="prev">&lt;上一页</a>
				<a href="#" class="on">1</a> <a href="#">2</a> <a href="#">3</a> <a
					href="#">4</a> <span>...</span> <a href="#" class="next">下一页&gt;</a>
				<a href="#" class="last">尾页</a>
			</div>
		</div>
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:include="common :: js"></div>
	<script type="text/javascript">
	var vm = new Vue({
		el : '#app',
		data : {
			queryData: {
				pageSize: 15,
				pageNo: 1,
			},
			projectList:[],
		},
		mounted : function() {
			this.initProjectList();
		},
		methods : {
			initProjectList: function () {
				$.post("/project/simpleList", this.queryData, function (result) {
				 	console.log(result)
					if (result.code == 0) {
                    	vm.projectList = result.pageList.records;
                    } else {
                        layer.msg(result.msg);
                    }
            	});
			},
			goDetail: function(projectId){
				window.location.href="../html/project_detail?projectId=" + projectId;
			}
			
		},
	});
	</script>
</body>
</html>
