<!doctype html>
<html>
<head th:include="common :: header">
<title id="pageTitle">交易信息详情—铁西区农村经济总站土地流转交易监管平台</title>
</head>
<script type="text/javascript" src="../js/mainndy.js"></script>
<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>

		<!-- container begin -->
		<div class="main clearfix mt10">
			<div class="locate clearl">
				<p class="location2 fl pl10">
					<span></span>当前位置：<a style="font-size: 13px; font-family:"
						宋体";" href="../index.html">首页</a> > <a
						style="font-size: 13px; font-family:" 宋体";" href="">土地流转项目信息详情</a>
				</p>
			</div>
			<h3 class="c2 text-center">红嘴土地承包合作项目</h3>
			<p class="text-center f14" style="font-family: '宋体';">
				<b>发布时间：</b><span>2019.1.20</span> &nbsp;&nbsp;<b>访问数量:</b><span>28</span>
			</p>
			<div class="tdfb clear public2">
				<div class="main_r" style="width: auto;">
					<h3 class="col_Name c4">发布人信息</h3>
				</div>
				<div class="main_w">
					<!--	<div class="fl pinka_left">-->
					<div class="screen_sel">
						<div class="sel_attrs">
							<table class="attrs_table">
								<tr>
									<td class="t_prop"><strong>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</strong></td>
									<td class="t_prop_a">
										<p>产权人姓名</p>
									</td>
									<td class="t_prop mt15"><strong>性&nbsp;&nbsp;&nbsp;&nbsp;别：</strong></td>
									<td><p>男</p></td>
								</tr>
								<tr>
									<td class="t_prop"><strong>手&nbsp;&nbsp;&nbsp;&nbsp;机：</strong></td>
									<td class="t_prop_a">
										<p>1360000000000</p>
									</td>
									<td class="t_prop mt15"><strong>信息属权：</strong></td>
									<td><p>集体单位</p></td>
								</tr>
								<tr>
									<td class="t_prop"><strong>联系地址：</strong></td>
									<td colspan="3" class="pl5">
										<p>铁西区 红嘴 某某村</p>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>


				<div class="main_r clear">
					<h3 class="col_Name c4">项目详细信息</h3>
				</div>
				<div class="main_w">
					<div class="fl pinka_left">
						<div class="sel_attrs">
							<table class="attrs_table">
								<tr>
									<td class="t_prop"><strong>项目名称：</strong></td>
									<td class="t_prop_a">
										<p>项目详细名称</p>
									</td>
									<td class="t_prop"><strong>流转方式：</strong></td>
									<td class="t_prop_a">
										<p>土地承包</p>
									</td>
								</tr>
								<tr>
									<td class="t_prop"><strong>项目地址：</strong></td>
									<td colspan="3" class="pl5">
										<p>铁西区 红嘴 ***地块</p>
									</td>
								</tr>
								<tr>
									<td class="t_prop"><strong>转出方：</strong></td>
									<td class="t_prop_a">
										<p>转出方</p>
									</td>
									<td class="t_prop mt15"><strong>项目属权：</strong></td>
									<td>
										<p>集体</p>
									</td>
								</tr>
								<tr>
									<td class="t_prop"><strong>权证编号：</strong></td>
									<td class="t_prop_a">
										<p>产权证编号</p>
									</td>
									<td class="t_prop"><strong>面积|数量（亩|㎡）：</strong></td>
									<td class="t_prop_a">
										<p>58</p>
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>承包经营权人：</strong></td>
									<td class="t_prop_a">
										<p>现承包人姓名</p>
									</td>
									<td class="t_prop mt15"><strong>是否他项权利人：</strong></td>
									<td><p>否</p></td>
								</tr>

								<tr>
									<td class="t_prop"><strong>他项权利人：</strong></td>
									<td class="t_prop_a">
										<p>无</p>
									</td>
									<td class="t_prop"><strong>他项权利内容：</strong></td>
									<td class="t_prop_a">
										<p>无</p>
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>涉及农户数：</strong></td>
									<td class="t_prop_a">
										<p>58</p>
									</td>
									<td class="t_prop"><strong>原承包/租赁期：</strong></td>
									<td class="t_prop_a">
										<p>2010年1月1日——2020年12月31日</p>
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>地&nbsp;&nbsp;&nbsp;级：</strong></td>
									<td class="t_prop_a">
										<p>一级</p>
									</td>
									<td class="t_prop"><strong>地上物情况：</strong></td>
									<td class="t_prop_a">
										<p>地上物情况</p>
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>交通情况：</strong></td>
									<td class="t_prop_a">
										<p>便利</p>
									</td>
									<td class="t_prop"><strong>是否属再次转出：</strong></td>
									<td><p>否</p></td>
								</tr>

								<tr>
									<td class="t_prop"><strong>流转承包用途：</strong></td>
									<td class="t_prop_a">
										<p>蔬菜大棚</p>
									</td>
									<td class="t_prop"><strong>原承包/出租人（发包人）是否同意：</strong></td>
									<td>
										<p>是</p>
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>前次转出方式：</strong></td>
									<td class="t_prop_a">
										<p>租赁</p>
									</td>
									<td class="t_prop"><strong>拟转出方式：</strong></td>
									<td class="t_prop_a">
										<p>租赁</p>
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>放弃行使优先权：</strong></td>
									<td colspan="3">
										<p></p>
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>评估机构：</strong></td>
									<td class="t_prop_a">
										<p>评估机构名称</p>
									</td>
									<td class="t_prop"><strong>评估基准日：</strong></td>
									<td class="t_prop_a">
										<p>2018-12-20</p>
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>评估值（元）：</strong></td>
									<td class="t_prop_a">
										<p>58</p>
									</td>
									<td class="t_prop"><strong>转出方式：</strong></td>
									<td class="t_prop_a">
										<p>非家庭承包</p>
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>拟转出期限：</strong></td>
									<td colspan="3" class="t_prop_a">
										<p>2019-1-1至2028-12-31</p>
									</td>
								</tr>

							</table>
						</div>
					</div>
				</div>
				<!-- four info start-->
				<div class="main_r clear">
					<h2 class="col_Name c4">四至及交易条件</h2>
				</div>
				<div class="main_w">
					<div class="sel_attrs">
						<table class="attrs_table">
							<tr>
								<td colspan="4" class="t_prop c4">四至地块情况</td>
							</tr>
							<tr>
								<td class="t_prop">地块名称：</td>
								<td class="t_prop_a">
									<p>地块名称</p>
								</td>
								<td class="t_prop">面积（亩）：</td>
								<td class="t_prop_a">
									<p>58</p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">东</td>
								<td colspan="3" class="t_prop_a">
									<p>张三家林地</p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">南</td>
								<td colspan="3" class="t_prop_a">
									<p>李四家农田</p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">西</td>
								<td colspan="3" class="t_prop_a">
									<p>102国道</p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">北</td>
								<td colspan="3" class="t_prop_a">
									<p>高铁占地</p>
								</td>
							</tr>

							<tr>
								<td colspan="4" class="t_prop c4">交易方式及条件</td>
							</tr>
							<tr>
								<td class="t_prop">标的公告价格（元）</td>
								<td colspan="3" class="t_prop_a">
									<p>58</p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">合同支付方式</td>
								<td colspan="3" class="t_prop_a">
									<p>一次性支付</p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">支付期限</td>
								<td colspan="3" class="t_prop_a">
									<p>按合同执行</p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">其他交易条件</td>
								<td colspan="3" class="t_prop_a">
									<p></p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">受让方应具备的条件</td>
								<td colspan="3" class="t_prop_a">
									<p></p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">到期未征集到受让方</td>
								<td colspan="3" class="t_prop_a">
									<p>自动撤牌</p>
								</td>
							</tr>
							<tr>
								<td class="t_prop">补充事项</td>
								<td colspan="3" class="t_prop_a">
									<p>暂无</p>
								</td>
							</tr>
						</table>
					</div>
				</div>


				<!-- four info end  -->
				<!-- materials upload -->
				<div class="main_r clear">
					<h3 class="col_Name c4">资料上传</h3>
				</div>
				<div class="main_w">
					<div class="fl pinka_left">
						<div class="sel_attrs">
							<table class="attrs_table">
								<tr>
									<td class="t_prop"><strong>身份证：</strong></td>
									<td colspan="3" class="t_prop_b"><input type="text"
										size="30"
										style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 90%; height: 35px;"
										name="sfz" placeholder="发布者身份证正反面。上传"></td>
								</tr>
								<tr>
									<td class="t_prop"><strong>产权证：</strong></td>
									<td colspan="3" class="t_prop_b"><input type="text"
										size="30"
										style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 90%; height: 35px;"
										name="cqz" placeholder="产权证重要页面上传。（多页上传）"></td>
								</tr>
								<tr>
									<td class="t_prop"><strong>合同书：</strong></td>
									<td colspan="3" class="pl5"><input type="text"
										style="border: none; color: #000; font-size: 14px; height: 35px; width: 98%; padding: 0px 2px;"
										name="name" placeholder="成交合同书上传"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="clearl" style="width: 90%; margin: 0 auto;">
				<p class="fl clear pl15 mb20"
					style="font-family: '微软雅黑'; font-size: 12px;">
					<b>上一页:</b><a href="">无 
				</p>
				<p class="pr15 fr mb20"
					style="font-family: '微软雅黑'; font-size: 12px;">
					<b>下一页：</b><a href="" style="font: '宋体' 12px;">铁西区平西乡新发林权转让项目</a>
				</p>
				<br>
				<div class="bdsharebuttonbox fr mr10 mt20 mb20">
					<a href="#" class="bds_more" data-cmd="more"></a><a href="#"
						class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#"
						class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#"
						class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#"
						class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a
						href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				</div>
				<script>
					window._bd_share_config = {
						"common" : {
							"bdSnsKey" : {},
							"bdText" : "",
							"bdMini" : "2",
							"bdPic" : "",
							"bdStyle" : "0",
							"bdSize" : "16"
						},
						"share" : {}
					};
					with (document)
						0[(getElementsByTagName('head')[0] || body)
								.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
								+ ~(-new Date() / 36e5)];
				</script>
			</div>
		</div>
		<!-- container end -->
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				helpInfoList : [],
				dataInfoList : [],
			},
			mounted : function() {

			},
			methods : {

			},
		});
	</script>
</body>
</html>
