<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">需求信息列表-铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common :: top"></div>
		<!-- container begin -->
		<div class="main clearfix mt10">
			
			<div th:include="common :: location">
				<div id="pageLocaton">土地流转项目信息列表</div>
			</div>
			
			<div class="main_w">
				<div class="screen_sel">
					<div class="selected_c">
						<span class="fl c_key">您已选择：</span>
						<ul class="fl sel_list" style="font-size: 12px;">
							<li v-if="queryData.projectKind">
								项目类型:
								<span>{{queryData.projectKind | projectKindFilter }} </span>
							</li>
							<li v-if="queryData.areaCode">
								所属乡镇:{{ queryData.areaCode }}{{ queryData.townCode }}
							</li>
						</ul>
						<div class="revocation"><a @click="clearQuery">清空条件</a></div>
					</div>
					<div class="sel_attrs">
						<table class="attrs_table">
							<tr>
								<td class="t_prop">所属乡镇：</td>
								<td class="atter_mod pl10">
									<table class="select_tabs">
										<tr>
											<td>
												<select v-model="queryData.areaCode">
													<option value="0">选择乡镇</option>
													<option v-for="item in aeaList" :value="item.code">{{ item.areaName }}</option>
												</select>
												<select v-model="queryData.townCode" v-show="childAreas.length > 0">
													<option value="0" selected="selected">请选择村委</option>
													<option v-for="item in childAreas" :value="item.code">{{ item.areaName }}</option>
												</select> 
											</td>
										</tr>
									</table>
							</tr>
							<tr>
								<td class="t_prop">项目主体：</td>
								<td class="pl10">
									<label for="infoKind0" @click="queryList">
										<input id="infoKind0" type="radio" value="0" name="queryData.infoKind" v-model="queryData.infoKind">家庭个人
									</label>
									<label for="infoKind1" @click="queryList">
										<input id="infoKind1" type="radio" value="1" name="queryData.infoKind" v-model="queryData.infoKind">集体单位
									</label>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="pinka_con">
					<div class="select-tabs">
						<ul>
							<li v-for="item in projectKindList" :class="{'sel-tab-cur':item.show===true}"  @click="selectKind(item)">
								<a>{{ item.value | projectKindFilter }}</a> 
							</li>
						</ul>
					</div>
					<div class="clearfix info-sel-title">
						<div class="fl s-t-name">项目名称</div>
						<div class="fl s-t-hy">项目类型</div>
						<div class="s-t-date">发布时间</div>
					</div>
					<div class="tech-pro-con">
						<div class="project-list" v-for="(item, index) in projectList">
							<a @click="goDetail(item.projectId)">{{ item.projectName }}</a>
							<span class="">{{ item.projectKind | projectKindFilter }}</span>
							<span class="project_date">{{ item.createDateStr }}</span>
						</div>
						
					</div>
				</div>
			</div>
			<div class="page mt10 mb20">
				<ul id='pagination'></ul>
			</div>
		</div>
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:include="common :: js"></div>
	<script type="text/javascript">
	var vm = new Vue({
		el : '#app',
		data : {
			aeaList: [],
			childAreas: [],
			queryData: {
				pageNo: 1,
				pageSize: 15,
				areaCode: 0,
				projectStatus: 14,
				projectName: "", 
			},
			projectList:[],
			projectKindList: [
				{value: 0,  show: true},
				{value: 1,  show: false},
				{value: 2,  show: false},
				{value: 3,  show: false},
				{value: 4,  show: false},
			],
		},
		mounted : function() {
			this.initPage();
		},
		methods : {
			initPage: function(){
				this.initArea();
				this.queryData.projectName = getUrlParam("projectName"); 
				if(getUrlParam("projectKind")){
					this.queryData.projectKind = getUrlParam("projectKind");
					this.projectKindList.forEach(v=>{  
					    if(v.value !=  this.queryData.projectKind ){
					    	v.show = false;
					    } else {
					    	v.show = true;
					    }  
					}); 
				}
				hzToolObj.getdomInit("/project/simpleList", this.queryData, this.callback);
			},
			callback: function (result) {
				vm.projectList = result.pageInfo.list;
	        },
	        initArea: function(){
				$.post("/area/initArea", {}, function (result) {
                    if (result.code == 0) {
                    	vm.aeaList = result.area;
                    } else {
                        layer.msg(result.msg);
                    }
                });
			},
			goDetail: function(projectId){
				storage.setItem("projectQueryData",JSON.stringify(vm.queryData));
				window.location.href="../html/project_detail?projectId=" + projectId;
			},
			clearQuery: function(){
				vm.queryData={
						pageNo: 1,
						pageSize: 15,
						areaCode: 0,
						projectStatus: 14,
						projectName: "", 
				};
				vm.queryList();
			},
			queryList: function(){
				hzToolObj.getdomInit("/project/simpleList", vm.queryData, vm.callback);
			},
			selectKind: function(item) {
				item.show = !item.show;
				vm.projectKindList.forEach(v=>{  
				    if(v.value != item.value ){
				    	v.show = false;
				    } else {
				    	v.show = true;
				    }  
				}); 
				vm.queryData.projectKind = item.value;
				vm.queryList();
			},
			
		},
		watch: {
			'queryData.areaCode': function(code){
				if(code != 0) {
					vm.childAreas = vm.aeaList.filter((item)=>{
	                    return item.code == code
	                })[0].childAreas;
				};
				if(vm.childAreas){
					vm.queryData.townCode = 0;
				}
				hzToolObj.getdomInit("/project/simpleList", vm.queryData, vm.callback);
			},
			'queryData.townCode': function(code){
				if(code != 0){
					hzToolObj.getdomInit("/project/simpleList", vm.queryData, vm.callback);
				}
			},
		}
	});
	</script>
</body>
</html>
