<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">需求信息列表-铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common :: top"></div>
		<!-- container begin -->
		<div class="main clearfix mt10">
			
			<div th:include="common :: location">
				<div id="pageLocaton">土地流转项目信息列表</div>
			</div>
			
			<div class="main_w">
				<div class="screen_sel">
					<div class="selected_c">
						<span class="fl c_key">您已选择：</span>
						<ul class="fl sel_list" style="font-size: 12px;">
							<li v-if="queryData.projectKind">
								项目类型:{{ queryData.projectKind | projectKindFilter }}
							</li>
							<li v-if="queryData.areaCode">
								所属乡镇:{{ queryData.areaCode }}{{ queryData.townCode }}
							</li>
						</ul>
						<span class="revocation"><a @click="clearQuery">清空条件</a></span>
					</div>
					<div class="sel_attrs">
						<table class="attrs_table">
							<tr>
								<td class="t_prop clear">项目类型：</td>
								<td class="atter_mod pl10">
									<input type="checkbox" value="1" v-model="projectKindList">土地承包 
									<input type="checkbox" value="2" v-model="projectKindList">林权转让 
									<input type="checkbox" value="3" v-model="projectKindList">养殖水面 
									<input type="checkbox" value="4" v-model="projectKindList">四荒承包
								</td>
							</tr>
							<tr>
								<td class="t_prop">所属乡镇：</td>
								<td class="atter_mod pl10">
									<table class="select_tabs">
										<tr>
											<td>
												<select name="">
													<option value="">铁西区</option>
													<option value="">平西乡</option>
												</select>
											</td>
											<td>
												<select name="">
													<option value="">铁西区</option>
													<option value="">平西乡</option>
												</select>
											</td>
										</tr>
									</table>
							</tr>
							<tr>
								<td class="t_prop">项目主体：</td>
								<td class="pl10">
									<label for="">
										<input type="radio" value="0" name="">家庭个人
									</label>
									<label for="">
										<input type="radio" value="1" name="">集体单位
									</label>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="pinka_con">
					<div class="select-tabs">
						<ul>
							<li class="sel-tab-cur"><a href="">全部信息</a></li>
							<li><a href="">土地承包</a></li>
							<li><a href="">林权转让</a></li>
							<li><a href="">养殖水面</a></li>
							<li><a href="">四荒租赁</a></li>
						</ul>
					</div>
					<div class="clearfix info-sel-title">
						<div class="fl s-t-name">项目名称</div>
						<div class="fl s-t-hy">项目类型</div>
						<div class="s-t-date">发布时间</div>
					</div>
					<div class="tech-pro-con">
						<div class="project-list" v-for="item in projectList">
							<a @click="goDetail(item.projectId)">{{ item.projectName }}</a>
							<span class="">{{ item.projectKind | projectKindFilter }}</span>
							<span class="project_date">{{ item.createDateStr }}</span>
						</div>
						
					</div>
				</div>
			</div>
			<div class="page mt10 mb20">
				<ul id='pagination'></ul>
			</div>
		</div>
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:include="common :: js"></div>
	<script type="text/javascript">
	var vm = new Vue({
		el : '#app',
		data : {
			queryData: {
				pageNo: 1,
				pageSize: 15,
				projectStatus: 14,
				projectKindList: [],
			},
			projectList:[],
		},
		mounted : function() {
			hzToolObj.getdomInit("/project/simpleList", this.queryData, this.callback);
		},
		methods : {
			callback: function (result) {
				vm.projectList = result.pageInfo.list;
	        },
			goDetail: function(projectId){
				window.location.href="../html/project_detail?projectId=" + projectId;
			},
			clearQuery: function(){
				vm.queryData: {
					pageNo: 1,
					pageSize: 15,
					projectStatus: 14,
				},
				hzToolObj.getdomInit("/project/simpleList", vm.queryData, vm.callback);
			}
			
		},
	});
	</script>
</body>
</html>
