<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header">
<title id="pageTitle">注册会员—铁西区农村经济总站土地流转交易监管平台</title>
</head>
<body>
	<div th:replace="common::top"></div>
	<div id="app" v-cloak>
		<div class="sam clear" style="background: #fff;">
			<div class="main-zc clearfix" style="margin: 0 auto; margin-top: 2%;">
				<h3 class="col_Name c4"
					style="letter-spacing: 3px; font-family: '微软雅黑';">欢迎注册本平台会员</h3>
				<div class="row clearfix mt10">
					<div class="col-md-6 column clearl">
						<div>
							<form>
								<table class="zhucemini" style="border: none;">
									<tr style="height: 30px; line-height: 50px;">
										<td class="fr clearl"
											style="line-height: 50px; font-size: 16px; padding-right: 8px;">用户名</td>
										<td></td>
										<td><input type="user" class="form-control" id="userName"
											placeholder="输入用户名" style="width: 90%;"
											v-model="users.userName"></td>
									</tr>
									<tr style="height: 30px; line-height: 50px;">
										<td class="fr clearl"
											style="line-height: 50px; font-size: 16px; padding-right: 8px;">邮箱</td>
										<td></td>
										<td><input type="Email" class="form-control" id="email"
											placeholder="需要通过邮箱来更改密码" style="width: 90%;"
											v-model="users.email"></td>
									</tr>
									<tr style="height: 30px; line-height: 50px;">
										<td class="fr clearl"
											style="line-height: 50px; font-size: 16px; padding-right: 8px;">手机</td>
										<td></td>
										<td><input type="phone" class="form-control" id="mobile"
											placeholder="可通过手机号码进行登录" style="width: 90%;"
											v-model="users.mobile"></td>
									</tr>
									<tr style="height: 30px; line-height: 50px;">
										<td class="fr clearl"
											style="line-height: 50px; font-size: 16px; padding-right: 8px;">密码</td>
										<td></td>
										<td><input type="password" class="form-control"
											id="password" placeholder="输入至少六位密码" style="width: 90%;"
											v-model="users.password"></td>
									</tr>
									<tr style="height: 30px; line-height: 50px;">
										<td class="fr clearl"
											style="line-height: 50px; font-size: 16px; padding-right: 8px;">确认密码</td>
										<td></td>
										<td><input type="password" class="form-control"
											id="confirmPassword" placeholder="再次输入密码" style="width: 90%;"
											v-model="confirmPassword"></td>
									</tr>
									<tr>
										<td colspan="3" class="text-center" style="font-size: 16px;">
											<input id="checkFlag" type="checkbox"
											style="margin-top: 20px;" v-model="checkFlag">
											请确认您已经了解本平台相关条款及规定
										</td>
									</tr>
									<tr>
										<td colspan="3" class="text-center">
											<span class="btn btn-light" style="background: #93590d; width: 80%; margin-top: 20px;" @click="register" >注&nbsp;&nbsp;&nbsp;&nbsp;册</span>
											
										</td>
									</tr>
								</table>
							</form>
						</div>
					</div>
					<div class="col-md-6 column tform mb20"
						style="border-left: 1px dashed #ddd;">
						<div>
							<img src="../static/images/nav/3.jpg"
								style="border-radius: 5px; width: 75%; margin-left: 18%; box-shadow: 1px 1px 3px 3px #abc;">
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div th:replace="common::foot"></div>
	</footer>
	<div th:include="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				users : {
					userName : '',
					password : '',
					email : "",
					mobile : "",
				},
				confirmPassword : "",
				checkFlag : "",
			},
			mounted : function() {
			},
			methods : {
				checkNull : function() {
					if (!vm.checkFlag) {
						layer.msg("请确认平台相关条款及规定！");
						$("#checkFlag").focus();
						return false;
					} else if (!vm.users.userName) {
						layer.msg("请输入用户名");
						$("#userName").focus();
						return false;
					}  else if (!vm.users.email) {
						layer.msg("请输入邮箱");
						$("#email").focus();
						return false;
					} else if (!vm.users.mobile) {
						layer.msg("请输入手机号码");
						$("#mobile").focus();
						return false;
					} else if (!vm.users.password && vm.users.length >= 6) {
						layer.msg("请输入用户名");
						$("#password").focus();
						return false;
					} else if (vm.confirmPassword != vm.users.password) {
						layer.msg("两次密码不一致");
						vm.confirmPassword = "";
						$("#confirmPassword").focus();
						return false;
					} else {
						return true;
					}
				},
				register : function() {
					if (vm.checkNull()) {
						vm.users.password = vm.confirmPassword = hex_md5(vm.users.password);
						hzToolObj.postRpc("/userControl/users_register", vm.users)
								.done(function(result) {
									if (result.code == 0) {
										window.location.href = "../login";
									} else {
										layer.msg(result.msg);
									}
								});
					}
				},
			},
		});
	</script>
</body>
</html>
