<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>铁西区农村经济总站土地流转交易监管平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin-html.css}">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/static/js/vue.min.js}"></script>
    <script th:src="@{/static/plugin/layer/layer.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/common_status_filter.js}"></script>
</head>
<style>
    .active {
        color: #6a2d04;
    }
</style>

<body>
<div id="vueApp" v-cloak>
    <div class="row mx-auto" style="margin-top: 10px;">
        <div class="col-12">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <label v-for="(item,index) in typeList">
                            <label></label>
                            <a href="javascript:void(1);" :class="typeIndex==index?'active':''" style="font-size: 15px;font-weight: bold;" @click="changeType(index)">{{ item.label }}</a>
                            <label v-if="index != (typeList.length-1)">/</label>
                        </label>
                    </td>
                    <td style="text-align: right;">
                        <button type="button" class="btn btn-sm btn-danger" @click="doModify()">新增</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-12">
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-default">
                <tr class="text-center">
                    <th style="width: 10%;">序号</th>
                    <th>标题</th>
                    <th style="width: 20%;">排序</th>
                    <th style="width: 33%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(picinfo,index) in list" class="text-center">
                    <td>{{ picinfo.picOrder }}</td>
                    <td>{{ picinfo.title }}</td>
                    <td class="inline">
                        <button type="button" class="zbtn zbtn-mm zbtn-info" @click="moveOrder(index, -1)" v-if="index!=0">上移</button>
                        <button type="button" class="zbtn zbtn-mm zbtn-info" @click="moveOrder(index, 1)" v-if="index!=(list.length-1)">下移</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td class="inline">
                        <button type="button" class="zbtn zbtn-mm zbtn-info" @click="curl(picinfo)" v-if="currentType.hasLink">访问</button>
                        <button type="button" class="zbtn zbtn-mm zbtn-info" @click="showPic(picinfo)" v-if="currentType.hasPic">预览</button>
                        <button type="button" class="zbtn zbtn-mm zbtn-warning" @click="doModify(picinfo)">修改</button>
                        <button type="button" class="zbtn zbtn-mm zbtn-danger" @click="doDelete(picinfo)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="page mt10 mb20">
			<ul id='pagination'></ul>
		</div>
    </div>
    <div class="row" style="width: 95%;">
        <div class="col-12 text-center">
            <ul id='pagination'></ul>
        </div>
    </div>
</div>
</body>
<script>
    var picType = '[[${picType}]]';

    var vm = new Vue({
        el: "#vueApp",
        data: {
        	queryData: {
				pageNo: 1,
				pageSize: 10,
				picType: "",
			},
            list: [],
            typeIndex: 0,
        },
        mounted : function() {
            this.flushData();
        },
        computed: {
            typeList: function(){
                var list = [];
                if(picType == '1'){
                    list.push(picTypeDict[0]);
                } else if(picType == 'x') {
                    list.push(picTypeDict[1]);
                    list.push(picTypeDict[2]);
                }
                return list;
            },
            currentType: function(){
                return this.typeList[this.typeIndex];
            }
        },
        methods:{
            changeType: function(index){
                this.typeIndex = index;
                this.flushData();
            },
            flushData: function(){
                var _this = this;
                vm.queryData.picType = this.currentType.value;
                hzToolObj.getdomInit("/project/simpleList", this.queryData, function(result){
                	_this.list = result.pageInfo.list;
                });
            },
            showPic: function(picinfo){
                layer.photos({
                    photos: {
                        "data": [
                            {"src": picinfo.picUrl}
                        ]
                    }
                });
            },
            curl: function(picinfo){
                if(!picinfo.picLink){
                    layer.msg("链接为空！");
                    return false;
                }
                window.open(picinfo.picLink, '_blank');
            },
            doModify: function(picinfo){
                var _this = this;
                var picId = "";
                var title = "新增"+ this.currentType.label;
                if(picinfo && picinfo.picId){
                    picId =  picinfo.picId;
                    title = "修改" + this.currentType.label + "-" + picinfo.title;
                }

                layer.open({
                    type: 2,
                    title: title,
                    area: ['90%', '90%'],
                    fixed: true, //不固定
                    skin: 'layer-skin',
                    maxmin: true,
                    content: '/admin/picModify?picId=' + picId + "&picType=" + this.currentType.value,
                    btn:['保存','关闭'],
                    yes: function(index, layero){
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.vm.save();
                    },
                    btn2: function(index, layero){
                    },
                });
            },
            doDelete: function(picinfo){
                var _this = this;
                layer.confirm('确认删除吗？', {
                    btn: ['确认','取消'] //按钮
                }, function(){
                    var tPic = new Object();
                    tPic.picId = picinfo.picId;
                    tPic.picStatus = '0';
                    $.post("/picInfo/modify_pic",tPic,function(resp){
                        if(0 == resp.code){
                            layer.msg('删除成功', {icon: 1});
                        } else {
                            layer.msg(resp.msg);
                        }
                        _this.flushData();
                    });
                }, function(){

                });
            },
            moveOrder: function(index , pos){
                var _this = this;
                var tPic = new Object();
                tPic.picId = this.list[index].picId;
                tPic.picOrder = this.list[index + pos].picOrder;
                $.post("/picInfo/modify_pic",tPic,function(resp){
                    if(0 == resp.code){
                    } else {
                        layer.msg(resp.msg);
                    }
                    _this.flushData();
                });

                tPic = new Object();
                tPic.picId = this.list[index + pos].picId;
                tPic.picOrder = this.list[index].picOrder;
                $.post("/picInfo/modify_pic",tPic,function(resp){
                    if(0 == resp.code){
                    } else {
                        layer.msg(resp.msg);
                    }
                    _this.flushData();
                });
            }
        }
    })
</script>
</html>