
.accordion,.accordion div,.accordion h1,.accordion p,.accordion a,.accordion img,.accordion span,.accordion em,.accordion ul,.accordion li {
	margin:0 auto;
	padding: 0;
	border: none;
 	padding-top: 3px;
}

/* Accordion Layout Styles */

.accordion {
	width: 96%;
	height:265px;
	padding: 3px;
	background: #f8f8f9;
	text-align:center;

	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255, .05);
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255, .05);
	box-shadow: 0px 1px 0px rgba(255,255,255, .05);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.accordion .tab {
	display: block;
	height: 30px;
	padding-top:15px
	padding-left: 20px;
	font: bold 18px "微软雅黑", Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	text-align: center;
	
	text-shadow: 1px 1px 0px rgba(0,0,0, .2);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 5px;

	background: #cd5918; /* Old browsers */
	background: -moz-linear-gradient(top,  #cd5918 0%, #93590d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd5918), color-stop(100%,#93590d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cd5918 0%,#93590d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cd5918 0%,#93590d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cd5918 0%,#93590d 100%); /* IE10+ */
	background: linear-gradient(top,  #cd5918 0%,#93590d 100%); /* W3C */

	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
	box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
}

.accordion .tab:hover,
.accordion div:target .tab {
	color: #965818;
	
	text-shadow: 0px 1px 0px rgba(255,255,255, .15);

	background: #cd5918; /* Old browsers */
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* IE10+ */
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* W3C */

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
	box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
}

.accordion div .content {
	display: none;
	margin: 5px 0;
	text-align: center;
}

.accordion div:target .content {
	display: block;
	text-align: center;
}

.accordion > div {
	height: 35px;
	overflow: hidden;
	text-align: center;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.accordion > div:target {
	height:208px;
}

/* Accordion Content Styles */

.accordion .content h1 {
	color: #666;
	font: 16px/32px "微软雅黑", Arial, sans-serif;
	text-align:center;
}

.accordion .content p {
	margin: 10px 0;
	color: #999;
	font: 11px/16px Arial, sans-serif;
}

.accordion .content span {
	font: italic 11px/12px Georgia, Arial, sans-serif;
	color: #cd5918;
}

.accordion .content em.bullet {
	width: 5px;
	height: 5px;
	margin: 0 5px;
	background: #6b8f1a;
	display: inline-block;

	-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
	-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
	box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);

	-webkit-border-radius: 5px;
	-moz-border-radius: 3px;
	border-radius: 5px;
}

.accordion .content ul li {
	list-style: none;
	float: left;
	margin: 5px 10px 5px 0;
}

.accordion .content img {
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
	box-shadow: 2px 2px 6px rgba(0,0,0, .5);
}