[v-cloak] {
	display: none !important;
}

.btn {
	width: auto;
}

.zbtn {
	width: auto;
	background: none;
}

.current {
	background-color: #F2F2F2;
}

.layer-skin .layui-layer-btn a {
	background-color: #965818;
	border: 1px solid #965818;
	color: #ffff;
}

.control-group {
	margin-top: 10px;
}

.zbtn-mm>.zbtn {
	padding: 0.25rem 0.5rem;
	font-size: 0.575rem;
	line-height: 1;
	border-radius: 0.2rem;
}

.zbtn-warning {
	color: #cd5918;
}

.zbtn-danger {
	color: #dc3545;
}

.zbtn-info {
	color: #138496;
}

.thead-default {
	background: #965818;
	color: #ffff;
}

.form-horizontal{
    padding: 20px 20px 0px 0px;
}