/* CSS by Chnod.com.cn */
/*页面通用设计*/
.Locate{width:100%;height:auto;margin:5px auto 18px; font-family:"宋体",arial;}
.Locate span,
.location2 span{width:28px;height:28px;display:block;float:left;background:url("../images/main/tu9.png") no-repeat left center;margin-right:8px;z-index:5;}



.main5 {
	width:95%;
	margin:0 auto;
}
.main1 {
	width:80%;
	margin:0 auto;
}

.ttt {
	height:60px;
	line-height:60px;
	font-family:"微软雅黑";
	font-size:20px;
	color:#6e3e0d;
	background-color:#f3f3f3;
	-moz-box-shadow:5px 5px 2px #333;
	box-shadow:5px 5px 2px  #333;
}
.ttt1 {
	height:60px;
	line-height:60px;
	font-family:"微软雅黑";
	font-size:20px;
	color:#6e3e0d;
	background-color:#fff;
	-moz-box-shadow:5px 5px 2px #333;
	box-shadow:5px 5px 2px  #333;

}



.bbb {
	line-height: 60px;
	height:60px;
	margin:0 auto;
	border:1px;
	width: 100%;
	text-align:center;
}
	   
.helpcenter {
	width: 90%;
	height:auto;
	padding-bottom: 10px;
	border-color:#gray;
	background-color: #fff;
}
.helpcenter1 {
	width: 90%;
	height:auto;
	padding-bottom: 10px;
	border-color:#gray;
	background-color: #f3f3f3;
}


.manual {
	margin-right: 10px;
	
}

.helpcenter ul {
	height:auto;
	padding: 0px 16px;
}
.helpcenter ul li {
	height:50px;
	overflow: hidden;
}

.manual ul li {
	border-bottom: 1px dashed #6e3e0d;
}

.helpcenter ul li a {
	display:block;
	color:#000;
	font-size:14px;
	line-height:38px;
	float:left;
	width:452px;
	height:50px;
	overflow:hidden;
	padding:0px 3px;
	cursor:pointer;
}

.helpcenter ul li a:hover {
	color: #000;
}

.helpcenter ul li a i {
	display: block;
	float: left;
	width: 80%;
	height: 38px;
	overflow: hidden;
	cursor:pointer;
}

.helpcenter ul li a span {
	display: block;
	float: right;
	color:gray;
	font-size: 14px;
	padding-left: 8px;
	height: 20px;
	margin-top: auto;
	cursor: pointer;
}

#xzzx {
	min-height:398px;
	margin: 0px auto 20px;
	padding-bottom:20px;
}

/* 土地流转信息发布 */
.tdfb {
	padding:10px 20px;
	width: 88%;
	height: auto;
	margin:0 auto;
	margin-bottom:20px;
	background:#fff;
	border:1px solid #93590d;
	box-shadow:1px 1px 5px 1px #93590d;
}
.main3{width:85%;margin:0 auto;border-top:2px solid #934900;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;background-color:#fff;margin-bottom:28px;}
.main_l{width:286px;border-right:1px solid #ddd;padding:20px 0 0;margin-bottom:30px;}
.main_r{width:93%;padding:5px 25px 8px;}
.sub_col{margin:10px;padding:10px;}
.sub_col li{width:100%;background-color:#f5f5f5;margin-bottom:1px;}
.sub_col li a{display:block;height:51px;line-height:51px;padding-left:56px;font-size:14px;color:#333;}
.sub_col li a:hover{background:#eee url('/images/main/cur-b.jpg') no-repeat left center;}
.sub_curr a{background:#eee url('/images/main/cur-b.jpg') no-repeat left center;}
.col_Name{font-size:20px;text-shadow:0 1px 0 #333;padding-bottom:5px;border-bottom:1px dashed #ddd;margin-bottom:5px;}
.Column_content{min-height:150px;}
.Column_content p{text-indent:2em;}

.main_w{width:88%;margin:auto;}
.pinka_left{width:100%;}
.selected_c{margin:0 0 10px;height:21px;position:relative;}
.c_key{color:#999;line-height:22px;}
.sel_list{list-style:none outside none;margin:0;padding:0;width:80%;}
.sel_list li{float:left;margin-right:10px;position:relative;height:21px;border:1px solid #ddd;background-color:#fff;padding:0 20px 0 5px;}
.sel_list li a{line-height:21px;}
.sel_list li b{position:absolute;right:3px;top:4px;background:url('/images/main/close-ico.jpg') no-repeat;width:12px;height:11px;cursor:pointer;}
.revocation{position:absolute;right:8px;top:5px;}
.revocation a{color:#333;}
.sel_attrs{background-color:#fff;}
.attrs_table{border:1px solid #eee;border-collapse: collapse;width:100%;background:#fff;margin-bottom:10px;}

.attrs_table .t_prop{background-color:#f9f9f9;text-align:center;padding:5px;font-size:14px;width:180px; font-family:"幼圆";}
.attrs_table .t_prop_b{text-align:center;padding:5px;font-size:14px;width:100%; font-family:"幼圆";}
.attrs_table .t_prop_c{text-align:center;padding:5px;font-size:16px;width:218px; font-family:"幼圆";}
.attrs_table .t_prop_a{text-align:center;font-size:13px;width:218px;padding:0px 2px;}
.attrs_table td{border:1px solid #eeeeee;}
.attrs_table td.atter_mod{position:relative;height:50px;}
.attrs_table td.mod-more{position:absolute;right:10px;bottom:10px;color:#d25416;}
.attrs_table table{padding:0.5em;}
.attrs_table td table td{border:none;width:100%;}
.attrs_table table td input{vertical-align:top;}
.attrs_table .tech_field{padding:0.3em;width:100%;}
.pinka_con{background-color:#fff;border:1px solid #dddddd;border-radius:3px; min-height:auto;}
.select-tabs{height:33px; border-bottom:2px solid #653a0f;padding-top:3px;}
.select-tabs ul{list-style:none outside none;width:100%;float:left;}
.select-tabs ul li{float:left;margin-left:10px;line-height:28px;}
.select-tabs ul li a{padding:0 12px;background-color:#eaeaea;border-top-left-radius:3px;border-top-right-radius:3px;display:block;}
.select-tabs ul li a:hover{background-color:#653a0f;color:#fff;}
.select-tabs select{float:left;height:21px;margin-top:2px;}
.select-tabs .sel-tab-cur a{background-color:#653a0f;color:#fff;}
.sel-tab-cur{color:#fff;}
.info-sel-title{width:100%; line-height:35px;background-color:#f5f5f5;}
.info-sel-title .s-t-name{width:33%;text-align:center;}
.info-sel-title .s-t-hy{width:33%;text-align:center;}
.info-sel-title .s-t-date{width:30%;float:right;text-align:center;}
.tech-pro-con{padding:11px 14px 15px;}
.pinka_right{float:right;margin-top:32px;border:1px solid #ddd;border-radius:3px;background-color:#fff;width:293px;padding-bottom:20px;}
.pink_col_rib{padding:10px 10px 5px;border-bottom:1px dotted #ddd; }
.pink_col_img1{width:274px;height:238px;position:relative;text-align:center;margin:0 auto;display:table-cell;vertical-align:middle;}
.pink_col_img1 img{max-width:274px;max-height:238px;}
.pink_col_img1 b{position:absolute;top:-2px;left:-2px;}
.pink_col_rib h4 a{color:#62401c;}
.pink_col_rib h4 a:hover{text-decoration:underline;}
.pink_col_rib h4{text-overflow:ellipsis;overflow:hidden;width:100%;line-height:24px;margin-top:3px;white-space:nowrap;}
.pink_col_rib p{line-height:24px;}
.project-list{padding:15px 8px;border-bottom:1px dotted #ddd;line-height:21px;font-size:14px;}
.project-list a{width:45%;padding-right:68px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:bold;color:#333;font-size:14px;display:inline-block;*display:inline;*zoom:1;float:left;}
.project-list a:hover{color:#62401c;text-decoration:underline;}
.project-list .project_date{float:right;font-size:12px;padding-right:25px;}
	
.page{
		text-align:center;
		font-size:13px;
		font-family:幼圆；
		}
.ttttt{
		margin-top:10px;
	}
.page a{
		display:inline-block;
		padding:8px 12px;
		border:1px solid #ccc;
		border-radius:2px;
		color:#333;
		text-decoration:none;
		margin-right:12px;
	}
.page span{
		margin-right:12px;
	}	
	
.detail { width:100%; padding:0 15px; border-top:2px solid #a13f08; border-bottom: 2px solid #a13f08;margin-bottom: 15px;
}
.det-c { 
	width:68%;
	line-height:90%;
	vertical-align:center;
	
}

.det-c h5 { font-style:italic; text-align:center; color:#cd5918;}
.det-c p {font:'宋体' 15px;margin-left:20%;}
.det-c span {font-style:italic; font-size:13px; color:#a13f08;}

/* 注册 */
.main-zc { 
	width: 80%;
}
.zhucemini {
	width:95%;
	line-height:111%;
	float:left;
}
.main6 {
	width:85%;
	float:right;
	margin-right:5%;
}
.main6r {
	width:100%;
	float:left;
	margin-left:10px;
}

/* login */
.main7 {
	width:100%;
	height:100%;
	z-index:-1;
	position:absolute;
    background:url(../images/cent/bg.jpg);
	background-size: cover;
}
	
	
/* 后台管理 左侧菜单*/
.menu_list {
	width: 100%;
}
			
.menu_head {
	height: 38px;
	line-height: 38px;
	padding-left: 5px;
	font-size: 18px;
	color: #a13f08;
	letter-spacing:8px;
	cursor: pointer;
	border-bottom: 1px solid #f1f1f1;
	position: relative;
	margin: 0 0 auto;
	font-family: '黑体';
	background:#f6efe3;
	box-shadow:1px 1px 2px 0 #9b6b16;
}
			
.menu_list .current {
	background:#f6efe3;
}
			
.menu_nva {
	line-height: 38px;
	/*border-left: 1px solid #51a9f18c;
	background:none;
	border-right: 1px solid #51a9f18c;*/
}
			
.menu_nva a {
	display: block;
	height: 38px;
	line-height: 38px;
	padding-left: 50px;
	font-family:'宋体';
	font-size:13px;
	color: #777777;
	background: #fff;
	text-decoration: none;
	border-bottom: 1px solid #51a9f18c;
}
			
.menu_nva a:hover {
	text-decoration: none;
}

/* 会员管理 */
/* right */
.member {
	width:100%;
	height:auto;
	margin:0 auto;
}

.member tr td{
	font-size:16px;
	height:25px;
	line-height:25px;
	width:100px;
}
.member span {
    font-family:"宋体";
	font-size:14px;
	color:#93590d;
}
	
	
.tabbable {
    *zoom: 1;
}
.tabbable:before, .tabbable:after {
    display: table;
    content: "";
    line-height: 0;
}

.tabbable:after {
    clear: both;
}

.gerenxx h2,
.gerengg h2,
.gerenxx h2 a,
.gerengg h2 a,
.gerenxx h2 a:hover,
.gerengg h2 a:hover,
.gerendetail table tr a:hover,
.gerenlist li a:hover{color:#6A3906; background-color:#ccc;}
.gerendetail {width:100%;height:auto;overflow:hidden;padding:5px;}
.gerendetail table{width:100%;font-family:"宋体";text-align:center;font-size:13px;}
.gerendetail table tr{width:100%;height:30px;line-height:30px;}
.gerendetail table tr.head{width:100%;background:#f0ebe6;color:#5b3814;font-weight:normal;font-size:15px;height:30px;line-height:30px;}
.gerendetail table .widhead{width:25%; text-align:left;}
.gerendetail table tr a{color:#333;font-weight:normal;display:inline-block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.gerendetail table tr span{color:#999;}
.gerendetail table tr span.c2{color: #5b3814;}
.gerendetail table tr em{font-style:normal;display:inline-block;width:85px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#068106;}
.gerendetail table tr em1{color:red;}
.gerendetail table tr em2{color:#6e3e0d;}


/*会员设置right */
.main8 {
	width: 95%;
	height: auto;
	margin: 0 auto;
}
