.tree-box { padding: 20px 0 20px 25px; margin-top: 10px; }
.tree-box .tree-box-ul li { width: 100%; float: left;margin-top:20px }
.tree-box .tree-name { width: 118px; line-height: 36px; display: inline-block; float: left;font-size: 14px;  }
.tree-box .radios { width: 106px; line-height: 52px; height: 52px; font-size: 14px; display: inline-block; margin: 0 10px 0 0; cursor: pointer; position: relative; padding-left: 36px; }
.tree-box .radios i { width: 20px; height: 20px; position: absolute; left: 0; top: 15px; border-radius: 100%; border: 1px solid #dbdbdb; display: inline-block; box-sizing: border-box; }
.tree-box .radios .time-ck-box { position: absolute; right: -465px; top: 8px; display: none; }
.tree-box .radios .time-ck-box input { width: 213px; height: 34px; border: 1px solid #dbdbdb; padding-left: 10px; }
.tree-box .radios.checked i { background: url("../../images/radio.png"); border: none; color: #ea501a; }
.tree-box .radios.checked .time-ck-box { display: block; }
.tree-box .leftbox, .tree-box .rightbox { width: 300px; height: 312px; border: 1px solid #dbdbdb; overflow: hidden; float: left; }
.tree-box .leftbox .h2, .tree-box .rightbox .h2 { height: 34px; line-height: 34px; border-bottom: 1px solid #dbdbdb; background: none; text-align: center; font-size: 14px; font-weight: normal; }
.tree-box .leftbox ul.treeul, .tree-box .rightbox ul.treeul { padding: 10px 10px 0 10px; height: 267px; overflow-y: scroll; }
.tree-box .leftbox ul.treeul li, .tree-box .rightbox ul.treeul li { margin-bottom: 13px; line-height: 16px; padding-left: 30px; width: 160px; font-size: 14px; }
.tree-box .add-tree { float: left; background: none; line-height: 34px; width: 80px; height: 80px; font-size: 28px; text-align: center; color: #333; display: block; margin: 0 auto;  margin: 140px 20px 0 20px; }
.rightbox ul.treeul li a{ color:red; float:right; margin-right:10px; font-size:15px; }

.tree-box .leftbox ul.tradeul, .tree-box .rightbox ul.tradeul { padding: 10px 10px 0 10px; height: 267px; overflow-y: scroll; }
.tree-box .leftbox ul.tradeul li, .tree-box .rightbox ul.tradeul li { margin-bottom: 13px; line-height: 16px; padding-left: 30px; width: 160px; font-size: 14px; }
.rightbox ul.tradeul li a{ color:red; float:right; margin-right:10px; font-size:15px; }

.button{text-align: center;}
.periodicType{float: left; padding: 0px 50px 0px 50px; line-height: 45px;}
#J_area_tree{margin-top: -11px;}
#J_trade_tree{margin-top: -11px;}
.phonesDiv{ float: left; padding: 10px 5px 10px 0px; }
.dataSourceDiv{width: 100px; float: left; padding: 7px 0px 0px 0px; }