<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.mapper.AreaCodeMapper">
	<select id="areaTree" resultType="Map">
		SELECT
			ac.`code` AS id,
			ac.`code` AS areaId,
			ac.`level` AS level,
			ac.area_name AS name,
			ac.parent_code AS parentId
		FROM
			area_code ac
		<where>
			<if test="parentId != null">
				AND ac.parent_code = #{parentId}
			</if>
		</where>
	</select>




</mapper>