<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.dao.DealAroundMapper">
	<resultMap id="BaseResultMap"
		type="com.kailash.land.entity.DealAround">
		<id column="pkid" jdbcType="INTEGER" property="pkid" />
		<result column="deal_info_id" jdbcType="INTEGER"
			property="dealInfoId" />
		<result column="area_name" jdbcType="VARCHAR"
			property="areaName" />
		<result column="area" jdbcType="DOUBLE" property="area" />
		<result column="east" jdbcType="VARCHAR" property="east" />
		<result column="south" jdbcType="VARCHAR" property="south" />
		<result column="west" jdbcType="VARCHAR" property="west" />
		<result column="north" jdbcType="VARCHAR" property="north" />
		<result column="showPreice" jdbcType="DOUBLE"
			property="showpreice" />
		<result column="payWay" jdbcType="VARCHAR" property="payway" />
		<result column="payLimit" jdbcType="VARCHAR"
			property="paylimit" />
		<result column="otherPay" jdbcType="VARCHAR"
			property="otherpay" />
		<result column="shouldHave" jdbcType="VARCHAR"
			property="shouldhave" />
		<result column="overdue" jdbcType="VARCHAR" property="overdue" />
		<result column="supplement" jdbcType="VARCHAR"
			property="supplement" />
		<result column="idCardPic" jdbcType="VARCHAR"
			property="idcardpic" />
		<result column="rightPic" jdbcType="VARCHAR"
			property="rightpic" />
		<result column="dealPic" jdbcType="VARCHAR" property="dealpic" />
	</resultMap>
	<sql id="Base_Column_List">
		pkid, deal_info_id, area_name, area, east, south, west, north, showPreice,
		payWay,
		payLimit, otherPay, shouldHave, overdue, supplement, idCardPic, rightPic,
		dealPic
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from deal_around
		where pkid = #{pkid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from deal_around
		where pkid = #{pkid,jdbcType=INTEGER}
	</delete>
	<insert id="instertEntity" parameterType="com.kailash.land.entity.DealAround" useGeneratedKeys="true" keyProperty="pkid">
		insert into deal_around
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pkid != null">
				pkid,
			</if>
			<if test="dealInfoId != null">
				deal_info_id,
			</if>
			<if test="areaName != null">
				area_name,
			</if>
			<if test="area != null">
				area,
			</if>
			<if test="east != null">
				east,
			</if>
			<if test="south != null">
				south,
			</if>
			<if test="west != null">
				west,
			</if>
			<if test="north != null">
				north,
			</if>
			<if test="showpreice != null">
				showPreice,
			</if>
			<if test="payway != null">
				payWay,
			</if>
			<if test="paylimit != null">
				payLimit,
			</if>
			<if test="otherpay != null">
				otherPay,
			</if>
			<if test="shouldhave != null">
				shouldHave,
			</if>
			<if test="overdue != null">
				overdue,
			</if>
			<if test="supplement != null">
				supplement,
			</if>
			<if test="idcardpic != null">
				idCardPic,
			</if>
			<if test="rightpic != null">
				rightPic,
			</if>
			<if test="dealpic != null">
				dealPic,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pkid != null">
				#{pkid,jdbcType=INTEGER},
			</if>
			<if test="dealInfoId != null">
				#{dealInfoId,jdbcType=INTEGER},
			</if>
			<if test="areaName != null">
				#{areaName,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				#{area,jdbcType=DOUBLE},
			</if>
			<if test="east != null">
				#{east,jdbcType=VARCHAR},
			</if>
			<if test="south != null">
				#{south,jdbcType=VARCHAR},
			</if>
			<if test="west != null">
				#{west,jdbcType=VARCHAR},
			</if>
			<if test="north != null">
				#{north,jdbcType=VARCHAR},
			</if>
			<if test="showpreice != null">
				#{showpreice,jdbcType=DOUBLE},
			</if>
			<if test="payway != null">
				#{payway,jdbcType=VARCHAR},
			</if>
			<if test="paylimit != null">
				#{paylimit,jdbcType=VARCHAR},
			</if>
			<if test="otherpay != null">
				#{otherpay,jdbcType=VARCHAR},
			</if>
			<if test="shouldhave != null">
				#{shouldhave,jdbcType=VARCHAR},
			</if>
			<if test="overdue != null">
				#{overdue,jdbcType=VARCHAR},
			</if>
			<if test="supplement != null">
				#{supplement,jdbcType=VARCHAR},
			</if>
			<if test="idcardpic != null">
				#{idcardpic,jdbcType=VARCHAR},
			</if>
			<if test="rightpic != null">
				#{rightpic,jdbcType=VARCHAR},
			</if>
			<if test="dealpic != null">
				#{dealpic,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.kailash.land.entity.DealAround">
		update deal_around
		<set>
			<if test="dealInfoId != null">
				deal_info_id = #{dealInfoId,jdbcType=INTEGER},
			</if>
			<if test="areaName != null">
				area_name = #{areaName,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				area = #{area,jdbcType=DOUBLE},
			</if>
			<if test="east != null">
				east = #{east,jdbcType=VARCHAR},
			</if>
			<if test="south != null">
				south = #{south,jdbcType=VARCHAR},
			</if>
			<if test="west != null">
				west = #{west,jdbcType=VARCHAR},
			</if>
			<if test="north != null">
				north = #{north,jdbcType=VARCHAR},
			</if>
			<if test="showpreice != null">
				showPreice = #{showpreice,jdbcType=DOUBLE},
			</if>
			<if test="payway != null">
				payWay = #{payway,jdbcType=VARCHAR},
			</if>
			<if test="paylimit != null">
				payLimit = #{paylimit,jdbcType=VARCHAR},
			</if>
			<if test="otherpay != null">
				otherPay = #{otherpay,jdbcType=VARCHAR},
			</if>
			<if test="shouldhave != null">
				shouldHave = #{shouldhave,jdbcType=VARCHAR},
			</if>
			<if test="overdue != null">
				overdue = #{overdue,jdbcType=VARCHAR},
			</if>
			<if test="supplement != null">
				supplement = #{supplement,jdbcType=VARCHAR},
			</if>
			<if test="idcardpic != null">
				idCardPic = #{idcardpic,jdbcType=VARCHAR},
			</if>
			<if test="rightpic != null">
				rightPic = #{rightpic,jdbcType=VARCHAR},
			</if>
			<if test="dealpic != null">
				dealPic = #{dealpic,jdbcType=VARCHAR},
			</if>
		</set>
		where pkid = #{pkid,jdbcType=INTEGER}
	</update>
</mapper>