<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.dao.DealInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.kailash.land.entity.DealInfo">
		<id column="pkid" jdbcType="INTEGER" property="pkid" />
		<result column="deal_status" jdbcType="INTEGER"
			property="dealStatus" />
		<result column="deal_name" jdbcType="VARCHAR"
			property="dealName" />
		<result column="deal_num" jdbcType="VARCHAR" property="dealNum" />
		<result column="deal_address" jdbcType="VARCHAR"
			property="dealAddress" />
		<result column="output" jdbcType="VARCHAR" property="output" />
		<result column="right_kind" jdbcType="INTEGER"
			property="rightKind" />
		<result column="warrant_num" jdbcType="VARCHAR"
			property="warrantNum" />
		<result column="area_num" jdbcType="DOUBLE" property="areaNum" />
		<result column="person_name" jdbcType="VARCHAR"
			property="personName" />
		<result column="other_right_flag" jdbcType="INTEGER"
			property="otherRightFlag" />
		<result column="other_right_name" jdbcType="VARCHAR"
			property="otherRightName" />
		<result column="other_right_context" jdbcType="VARCHAR"
			property="otherRightContext" />
		<result column="famer_num" jdbcType="INTEGER"
			property="famerNum" />
		<result column="old_rent_date" jdbcType="VARCHAR"
			property="oldRentDate" />
		<result column="land_level" jdbcType="VARCHAR"
			property="landLevel" />
		<result column="up_things" jdbcType="VARCHAR"
			property="upThings" />
		<result column="traffic" jdbcType="VARCHAR" property="traffic" />
		<result column="again_flag" jdbcType="INTEGER"
			property="againFlag" />
		<result column="rent_use" jdbcType="VARCHAR" property="rentUse" />
		<result column="agree_flag" jdbcType="INTEGER"
			property="agreeFlag" />
		<result column="old_output" jdbcType="VARCHAR"
			property="oldOutput" />
		<result column="hope_output" jdbcType="VARCHAR"
			property="hopeOutput" />
		<result column="giveup_right_flag" jdbcType="INTEGER"
			property="giveupRightFlag" />
		<result column="assess_org" jdbcType="VARCHAR"
			property="assessOrg" />
		<result column="assess_date" jdbcType="VARCHAR"
			property="assessDate" />
		<result column="assess_value" jdbcType="DOUBLE"
			property="assessValue" />
		<result column="output_way" jdbcType="VARCHAR"
			property="outputWay" />
		<result column="hope_output_date" jdbcType="VARCHAR"
			property="hopeOutputDate" />
		<result column="create_date" jdbcType="DATE"
			property="createDate" />
		<result column="create_user" jdbcType="INTEGER"
			property="createUser" />
		<result column="update_date" jdbcType="DATE"
			property="updateDate" />
		<result column="update_user" jdbcType="INTEGER"
			property="updateUser" />
	</resultMap>
	
	<sql id="Base_Column_List">
		pkid, deal_status, deal_name, deal_num, deal_address, output, right_kind,
		warrant_num,
		area_num, person_name, other_right_flag, other_right_name, other_right_context,
		famer_num,
		old_rent_date, land_level, up_things, traffic, again_flag, rent_use, agree_flag,
		old_output, hope_output, giveup_right_flag, assess_org, assess_date,
		assess_value,
		output_way, hope_output_date, create_date, create_user, update_date, update_user
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from deal_info
		where pkid = #{pkid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from deal_info
		where pkid = #{pkid,jdbcType=INTEGER}
	</delete>

	<insert id="instertEntity" parameterType="com.kailash.land.entity.DealInfo" useGeneratedKeys="true" keyProperty="pkid">
		insert into deal_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_date, update_date,
			<if test="pkid != null">
				pkid,
			</if>
			<if test="dealStatus != null">
				deal_status,
			</if>
			<if test="dealName != null">
				deal_name,
			</if>
			<if test="dealNum != null">
				deal_num,
			</if>
			<if test="dealAddress != null">
				deal_address,
			</if>
			<if test="output != null">
				output,
			</if>
			<if test="rightKind != null">
				right_kind,
			</if>
			<if test="warrantNum != null">
				warrant_num,
			</if>
			<if test="areaNum != null">
				area_num,
			</if>
			<if test="personName != null">
				person_name,
			</if>
			<if test="otherRightFlag != null">
				other_right_flag,
			</if>
			<if test="otherRightName != null">
				other_right_name,
			</if>
			<if test="otherRightContext != null">
				other_right_context,
			</if>
			<if test="famerNum != null">
				famer_num,
			</if>
			<if test="oldRentDate != null">
				old_rent_date,
			</if>
			<if test="landLevel != null">
				land_level,
			</if>
			<if test="upThings != null">
				up_things,
			</if>
			<if test="traffic != null">
				traffic,
			</if>
			<if test="againFlag != null">
				again_flag,
			</if>
			<if test="rentUse != null">
				rent_use,
			</if>
			<if test="agreeFlag != null">
				agree_flag,
			</if>
			<if test="oldOutput != null">
				old_output,
			</if>
			<if test="hopeOutput != null">
				hope_output,
			</if>
			<if test="giveupRightFlag != null">
				giveup_right_flag,
			</if>
			<if test="assessOrg != null">
				assess_org,
			</if>
			<if test="assessDate != null">
				assess_date,
			</if>
			<if test="assessValue != null">
				assess_value,
			</if>
			<if test="outputWay != null">
				output_way,
			</if>
			<if test="hopeOutputDate != null">
				hope_output_date,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			NOW(), NOW(),
			<if test="pkid != null">
				#{pkid,jdbcType=INTEGER},
			</if>
			<if test="dealStatus != null">
				#{dealStatus,jdbcType=INTEGER},
			</if>
			<if test="dealName != null">
				#{dealName,jdbcType=VARCHAR},
			</if>
			<if test="dealNum != null">
				#{dealNum,jdbcType=VARCHAR},
			</if>
			<if test="dealAddress != null">
				#{dealAddress,jdbcType=VARCHAR},
			</if>
			<if test="output != null">
				#{output,jdbcType=VARCHAR},
			</if>
			<if test="rightKind != null">
				#{rightKind,jdbcType=INTEGER},
			</if>
			<if test="warrantNum != null">
				#{warrantNum,jdbcType=VARCHAR},
			</if>
			<if test="areaNum != null">
				#{areaNum,jdbcType=DOUBLE},
			</if>
			<if test="personName != null">
				#{personName,jdbcType=VARCHAR},
			</if>
			<if test="otherRightFlag != null">
				#{otherRightFlag,jdbcType=INTEGER},
			</if>
			<if test="otherRightName != null">
				#{otherRightName,jdbcType=VARCHAR},
			</if>
			<if test="otherRightContext != null">
				#{otherRightContext,jdbcType=VARCHAR},
			</if>
			<if test="famerNum != null">
				#{famerNum,jdbcType=INTEGER},
			</if>
			<if test="oldRentDate != null">
				#{oldRentDate,jdbcType=VARCHAR},
			</if>
			<if test="landLevel != null">
				#{landLevel,jdbcType=VARCHAR},
			</if>
			<if test="upThings != null">
				#{upThings,jdbcType=VARCHAR},
			</if>
			<if test="traffic != null">
				#{traffic,jdbcType=VARCHAR},
			</if>
			<if test="againFlag != null">
				#{againFlag,jdbcType=INTEGER},
			</if>
			<if test="rentUse != null">
				#{rentUse,jdbcType=VARCHAR},
			</if>
			<if test="agreeFlag != null">
				#{agreeFlag,jdbcType=INTEGER},
			</if>
			<if test="oldOutput != null">
				#{oldOutput,jdbcType=VARCHAR},
			</if>
			<if test="hopeOutput != null">
				#{hopeOutput,jdbcType=VARCHAR},
			</if>
			<if test="giveupRightFlag != null">
				#{giveupRightFlag,jdbcType=INTEGER},
			</if>
			<if test="assessOrg != null">
				#{assessOrg,jdbcType=VARCHAR},
			</if>
			<if test="assessDate != null">
				#{assessDate,jdbcType=VARCHAR},
			</if>
			<if test="assessValue != null">
				#{assessValue,jdbcType=DOUBLE},
			</if>
			<if test="outputWay != null">
				#{outputWay,jdbcType=VARCHAR},
			</if>
			<if test="hopeOutputDate != null">
				#{hopeOutputDate,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=DATE},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=INTEGER},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=DATE},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.kailash.land.entity.DealInfo">
		update deal_info
		<set>
			<if test="dealStatus != null">
				deal_status = #{dealStatus,jdbcType=INTEGER},
			</if>
			<if test="dealName != null">
				deal_name = #{dealName,jdbcType=VARCHAR},
			</if>
			<if test="dealNum != null">
				deal_num = #{dealNum,jdbcType=VARCHAR},
			</if>
			<if test="dealAddress != null">
				deal_address = #{dealAddress,jdbcType=VARCHAR},
			</if>
			<if test="output != null">
				output = #{output,jdbcType=VARCHAR},
			</if>
			<if test="rightKind != null">
				right_kind = #{rightKind,jdbcType=INTEGER},
			</if>
			<if test="warrantNum != null">
				warrant_num = #{warrantNum,jdbcType=VARCHAR},
			</if>
			<if test="areaNum != null">
				area_num = #{areaNum,jdbcType=DOUBLE},
			</if>
			<if test="personName != null">
				person_name = #{personName,jdbcType=VARCHAR},
			</if>
			<if test="otherRightFlag != null">
				other_right_flag = #{otherRightFlag,jdbcType=INTEGER},
			</if>
			<if test="otherRightName != null">
				other_right_name = #{otherRightName,jdbcType=VARCHAR},
			</if>
			<if test="otherRightContext != null">
				other_right_context = #{otherRightContext,jdbcType=VARCHAR},
			</if>
			<if test="famerNum != null">
				famer_num = #{famerNum,jdbcType=INTEGER},
			</if>
			<if test="oldRentDate != null">
				old_rent_date = #{oldRentDate,jdbcType=VARCHAR},
			</if>
			<if test="landLevel != null">
				land_level = #{landLevel,jdbcType=VARCHAR},
			</if>
			<if test="upThings != null">
				up_things = #{upThings,jdbcType=VARCHAR},
			</if>
			<if test="traffic != null">
				traffic = #{traffic,jdbcType=VARCHAR},
			</if>
			<if test="againFlag != null">
				again_flag = #{againFlag,jdbcType=INTEGER},
			</if>
			<if test="rentUse != null">
				rent_use = #{rentUse,jdbcType=VARCHAR},
			</if>
			<if test="agreeFlag != null">
				agree_flag = #{agreeFlag,jdbcType=INTEGER},
			</if>
			<if test="oldOutput != null">
				old_output = #{oldOutput,jdbcType=VARCHAR},
			</if>
			<if test="hopeOutput != null">
				hope_output = #{hopeOutput,jdbcType=VARCHAR},
			</if>
			<if test="giveupRightFlag != null">
				giveup_right_flag = #{giveupRightFlag,jdbcType=INTEGER},
			</if>
			<if test="assessOrg != null">
				assess_org = #{assessOrg,jdbcType=VARCHAR},
			</if>
			<if test="assessDate != null">
				assess_date = #{assessDate,jdbcType=VARCHAR},
			</if>
			<if test="assessValue != null">
				assess_value = #{assessValue,jdbcType=DOUBLE},
			</if>
			<if test="outputWay != null">
				output_way = #{outputWay,jdbcType=VARCHAR},
			</if>
			<if test="hopeOutputDate != null">
				hope_output_date = #{hopeOutputDate,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=DATE},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=INTEGER},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=DATE},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=INTEGER},
			</if>
		</set>
		where pkid = #{pkid,jdbcType=INTEGER}
	</update>
</mapper>