<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.mapper.DocInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kailash.land.entity.DocInfo">
        <id column="pkid" property="docId" />
        <result column="title" property="title" />
        <result column="doc_text" property="docText" />
        <result column="doc_url" property="docUrl" />
        <result column="doc_type" property="docType" />
        <result column="doc_status" property="docStatus" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <sql id="Base_Column_List">
		pkid, title, doc_text,doc_url, doc_type, doc_status, create_date, create_user, update_date , update_user
	</sql>

    <select id="selectDocInfo" parameterType="com.kailash.land.entity.DocInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from doc_info
        <where>
            <if test="docType != null">
                AND doc_type = #{docType}
            </if>
            <if test="docStatus != null">
                AND doc_status = #{docStatus}
            </if>
            <if test="title != null">
                AND title like CONCAT('%',#{title},'%')
            </if>

            <if test="startDate != null">
                AND create_date <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="endDate != null">
                AND create_date <![CDATA[ <= ]]> #{endDate}
            </if>
        </where>
        ORDER BY
        pkid DESC
    </select>

</mapper>
