<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.mapper.MenuMapper">
    <!--根据唯一标识查询对象-->
    <select id="selectEntityById" resultType="com.kailash.land.entity.MenuEntity" parameterType="java.lang.Integer">
        select
        m.menu_id menuId,
        m.parent_id parentId,
        m.name,
        m.url,
        m.classStr,
        m.perms,
        m.order_num orderNum,
        m.icon_name iconName
        from menu m
        where menu_id = #{menuId}
    </select>

    <select id="list" resultType="com.kailash.land.entity.MenuEntity">
        select
        m.menu_id menuId,
        m.parent_id parentId,
        m.name,
        m.url,
        m.classStr,
        m.perms,
        m.order_num orderNum,
        m.icon_name iconName
        from menu m
    </select>
    <!--一级菜单列表和3级菜单-->
    <select id="selectListByType" resultType="com.kailash.land.entity.MenuEntity">
        select
        m.menu_id menuId,
        m.parent_id parentId,
        m.name,
        m.url,
        m.classStr,
        m.perms,
        m.order_num orderNum,
        m.icon_name iconName
        from menu m
        where type = #{type}
    </select>

    <select id="selectMenuListByUserId" parameterType="map" resultType="com.kailash.land.entity.MenuEntity">
        SELECT
            m.menu_id menuId,
            m.name,
            m.url,
            m.classStr,
            m.icon_name iconName,
            m.perms,
            m.order_num orderNum,
            m.parent_id parentId
        FROM
            menu m
            LEFT JOIN role_menu rm ON rm.menu_id = m.menu_id
        WHERE
        role_id in (
            SELECT
            role_id
            FROM
            users u
            WHERE
            u.pkid = #{userId}
        )
        and
        type = #{type}
        order by order_num
    </select>
    <!--查询二级菜单-->
    <select id="selectSecondByParentId" parameterType="map" resultType="com.kailash.land.entity.MenuEntity">
        SELECT
            m.menu_id menuId,
            m.name,
            m.url,
            m.classStr,
            m.icon_name iconName,
            m.parent_id parentId
        FROM
            menu m
            LEFT JOIN role_menu rm ON rm.menu_id = m.menu_id
        WHERE
        role_id in ( SELECT role_id FROM users u WHERE u.pkid = #{userId} )
        AND type = #{type}
        AND parent_id = #{parentId}
        order by order_num
    </select>
    <!--根据角色ID查询perms(权限)-->
    <select id="selectPermsByRoleId" parameterType="Integer" resultType="com.kailash.land.entity.MenuEntity">
        SELECT
        m.perms
        FROM
        menu m
        LEFT JOIN role_menu rm ON rm.menu_id = m.menu_id
        WHERE
        rm.role_id = #{roleId}
    </select>

    <!--添加对象-->
    <insert id="add" parameterType="com.kailash.land.entity.MenuEntity">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="name != null">name,</if>
            <if test="url != null">url,</if>
            <if test="perms != null">perms,</if>
            <if test="type != null">type,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="iconName != null">icon_name,</if>
            <if test="classStr != null">classStr,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId,jdbcType=INTEGER},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="url != null">#{url,jdbcType=VARCHAR},</if>
            <if test="perms != null">#{perms,jdbcType=VARCHAR},</if>
            <if test="type != null">#{type,jdbcType=INTEGER},</if>
            <if test="orderNum != null">#{orderNum,jdbcType=INTEGER},</if>
            <if test="iconName != null">#{iconName,jdbcType=INTEGER},</if>
            <if test="classStr != null">#{classStr,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <!--更新对象-->
    <update id="update" parameterType="com.kailash.land.entity.MenuEntity">
        update menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="perms != null">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=TINYINT},
            </if>
            <if test="iconName != null">
                icon_name = #{iconName,jdbcType=TINYINT},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=INTEGER}
    </update>
</mapper>