<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.mapper.NoticeInfoMapper">
	<resultMap id="BaseResultMap" type="com.kailash.land.entity.NoticeInfo">
		<id column="pkid" jdbcType="INTEGER" property="noticeId" />
		<result column="notice_status" jdbcType="INTEGER" property="noticeStatus" />
		<result column="create_date" jdbcType="DATE" property="createDate" />
		<result column="create_user" jdbcType="INTEGER" property="createUser" />
		<result column="update_date" jdbcType="DATE" property="updateDate" />
		<result column="update_user" jdbcType="INTEGER" property="updateUser" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="company_name" jdbcType="VARCHAR" property="companyName" />
		<result column="notice_kind" jdbcType="INTEGER" property="noticeKind" />
		<result column="notice_text" jdbcType="LONGVARCHAR" property="noticeText" />
		<result column="notice_pic" jdbcType="VARCHAR" property="noticePic" />
	</resultMap>

	<sql id="Base_Column_List">
		pkid, notice_status, create_date, create_user, update_date, update_user,
		title, company_name,
		notice_kind, notice_text, notice_pic
	</sql>
	
	
	<!-- zyz -->
	<select id="querySimpleList" resultType="Map">
		SELECT 
			pkid AS noticeId,
			title,
			notice_kind AS noticeKind,
			notice_status AS noticeStatus,
			DATE_FORMAT(create_date,'%Y-%m-%d') AS createDateStr
		FROM 
			notice_info
		<where>
			notice_status != 0
			<if test="obj.noticeKind != null and obj.noticeKind !=''">
				AND notice_kind = #{obj.noticeKind}
			</if>		
			<if test="obj.createUser != null and obj.createUser !=''">
				AND create_user = #{obj.createUser}
			</if>		
		</where>
	</select>


	<select id="selectNoticeInfo" parameterType="com.kailash.land.entity.NoticeInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from notice_info
		<where>
			<if test="noticeStatus != null">
				AND notice_status = #{noticeStatus}
			</if>
			<if test="title != null">
				AND title like CONCAT('%',#{title},'%')
			</if>
			<if test="noticeKind != null">
				AND notice_kind = #{noticeKind}
			</if>
			<if test="startDate != null">
				AND create_date <![CDATA[ >= ]]> #{startDate}
			</if>
			<if test="endDate != null">
				AND create_date <![CDATA[ <= ]]> #{endDate}
			</if>
		</where>
		ORDER BY
			pkid DESC
	</select>


	
	
</mapper>