<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.mapper.PicInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kailash.land.entity.PicInfo">
        <id column="pkid" property="picId" />
        <result column="title" property="title" />
        <result column="pic_type" property="picType" />
        <result column="pic_status" property="picStatus" />
        <result column="pic_url" property="picUrl" />
        <result column="pic_link" property="picLink" />
        <result column="pic_order" property="picOrder" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
        <result column="update_user" property="updateUser" />
        <result column="update_date" property="updateDate" />
    </resultMap>
    
    <select id="querySimpleList" resultType="Map">
    	SELECT 
    		pkid AS picId,
    		title, 
    		pic_url AS picUrl,
    		pic_order AS picOrder
    	FROM 
    		pic_info
    	<where>
    		pic_url IS NOT NULL
    		AND pic_url != ""
    		<if test="picType != null and picType != ''">
    			AND pic_type = #{picType} 
    		</if>
    		<if test="picStatus != null and picStatus != ''">
    			AND pic_status = #{picStatus} 
    		</if>
    	</where>
    	ORDER BY 
    		pic_order ASC, 
    		pkid DESC 
    </select>

</mapper>
