<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.mapper.ProjectMapper">
	<resultMap id="BaseResultMap" type="com.kailash.land.entity.Project">
		<id column="pkid" jdbcType="INTEGER" property="pkid" />
		<result column="project_status" jdbcType="INTEGER" property="projectStatus" />
		<result column="project_name" jdbcType="VARCHAR" property="projectName" />
		<result column="project_num" jdbcType="VARCHAR" property="projectNum" />
		<result column="project_address" jdbcType="VARCHAR"
			property="projectAddress" />
		<result column="output" jdbcType="VARCHAR" property="output" />
		<result column="right_kind" jdbcType="INTEGER"
			property="rightKind" />
		<result column="warrant_num" jdbcType="VARCHAR"
			property="warrantNum" />
		<result column="area_num" jdbcType="DOUBLE" property="areaNum" />
		<result column="person_name" jdbcType="VARCHAR"
			property="personName" />
		<result column="other_right_flag" jdbcType="INTEGER"
			property="otherRightFlag" />
		<result column="other_right_name" jdbcType="VARCHAR"
			property="otherRightName" />
		<result column="other_right_context" jdbcType="VARCHAR"
			property="otherRightContext" />
		<result column="famer_num" jdbcType="INTEGER"
			property="famerNum" />
		<result column="old_rent_date" jdbcType="VARCHAR"
			property="oldRentDate" />
		<result column="land_level" jdbcType="VARCHAR"
			property="landLevel" />
		<result column="up_things" jdbcType="VARCHAR"
			property="upThings" />
		<result column="traffic" jdbcType="VARCHAR" property="traffic" />
		<result column="again_flag" jdbcType="INTEGER"
			property="againFlag" />
		<result column="rent_use" jdbcType="VARCHAR" property="rentUse" />
		<result column="agree_flag" jdbcType="INTEGER"
			property="agreeFlag" />
		<result column="old_output" jdbcType="VARCHAR"
			property="oldOutput" />
		<result column="hope_output" jdbcType="VARCHAR"
			property="hopeOutput" />
		<result column="giveup_right_flag" jdbcType="INTEGER"
			property="giveupRightFlag" />
		<result column="assess_org" jdbcType="VARCHAR"
			property="assessOrg" />
		<result column="assess_date" jdbcType="VARCHAR"
			property="assessDate" />
		<result column="assess_value" jdbcType="DOUBLE"
			property="assessValue" />
		<result column="output_way" jdbcType="VARCHAR"
			property="outputWay" />
		<result column="hope_output_date" jdbcType="VARCHAR"
			property="hopeOutputDate" />
		<result column="create_date" jdbcType="DATE"
			property="createDate" />
		<result column="create_user" jdbcType="INTEGER"
			property="createUser" />
		<result column="update_date" jdbcType="DATE"
			property="updateDate" />
		<result column="update_user" jdbcType="INTEGER"
			property="updateUser" />
	</resultMap>
	
	<sql id="Base_Column_List">
		pkid, project_status, project_name, project_num, project_address, output, right_kind,
		warrant_num,
		area_num, person_name, other_right_flag, other_right_name, other_right_context,
		famer_num,
		old_rent_date, land_level, up_things, traffic, again_flag, rent_use, agree_flag,
		old_output, hope_output, giveup_right_flag, assess_org, assess_date,
		assess_value,
		output_way, hope_output_date, create_date, create_user, update_date, update_user
	</sql>

	<select id="querySimpleList" resultType="Map">
		SELECT
			p.pkid AS projectId,
			p.project_name as projectName,
			p.project_status AS projectStatus,
			DATE_FORMAT(p.create_date,'%Y-%m-%d') AS createDateStr,
			p.project_kind AS projectKind,
			pp.name AS name,
			pp.sex AS sex,
			area.area_name AS areaName,
			town.area_name AS townName,
			p.refuse_result AS refuseResult
		FROM
			project p
			LEFT JOIN project_person pp ON p.pkid = pp.project_id
			LEFT JOIN area_code area ON area.code = pp.area_code
			LEFT JOIN area_code town ON town.code = pp.town_code
		<where>
			AND p.project_status != 0
			<if test="pro.createUser != null and pro.createUser != ''">
				AND p.create_user = #{pro.createUser}
			</if>
			<if test="pro.projectKind != null and pro.projectKind != '' and pro.projectKind != 0">
				AND p.project_kind = #{pro.projectKind}
			</if>
			<if test="pro.projectStatus != null and pro.projectStatus == 14">
				AND p.project_status in (1, 4)
			</if>
			<if test="pro.infoKind != null">
				AND pp.info_kind = #{pro.infoKind}
			</if>
			<if test="pro.townCode != null and pro.townCode != ''">
				AND pp.town_code = #{pro.townCode}
			</if>
			<if test="pro.areaCode != null and pro.areaCode !=''">
				AND pp.area_code = #{pro.areaCode}
			</if>
			<if test="pro.projectName != null and pro.projectName != ''">
				AND p.project_name like CONCAT('%',#{pro.projectName},'%')
			</if>
		</where>
		ORDER BY p.pkid DESC
	</select>

	<select id="selectProjectInfo" parameterType="com.kailash.land.filter.ProjectFiter" resultType="Map">
		select
			A.pkid AS projectId,
			A.project_name AS projectName,
			C.name AS personName,
			A.project_kind AS projectKind,
			A.project_status AS projectStatus,
			B.show_preice AS showPreice,
			DATE_FORMAT(A.create_date,'%Y-%m-%d') AS createDateStr,
			D.user_name AS auditUserName,
			DATE_FORMAT(A.audit_date,'%Y-%m-%d') AS auditDateStr
		from 
			project A
			left join project_around B ON A.pkid = B.project_id
			left join project_person C ON A.pkid = C.project_id
			left join users D ON A.audit_user = D.pkid
		<where>
			A.project_status NOT IN (0, 5)
			<if test="projectName != null">
				AND A.project_name like CONCAT('%',#{projectName},'%')
			</if>
			<if test="personName != null">
				AND C.name like CONCAT('%',#{personName},'%')
			</if>
			<if test="projectKind != null and projectKind != ''">
				AND A.project_kind = #{projectKind}
			</if>
			<if test="projectStatus != null and projectStatus != ''">
				AND A.project_status = #{projectStatus}
			</if>
			<if test="startDate != null">
				AND A.create_date <![CDATA[ >= ]]> #{startDate}
			</if>
			<if test="endDate != null">
				AND A.create_date <![CDATA[ <= ]]> #{endDate}
			</if>
			<if test="areaCode != null and areaCode != ''">
				AND C.area_code = #{areaCode}
			</if>
			<if test="townCode != null and townCode != ''">
				AND C.town_code = #{townCode}
			</if>
			<if test="(projectStatus == null or projectStatus == '') and ( page != null and page == 'audit')">
				AND A.project_status IN (6, 7, 8)
			</if>
		</where> 
		ORDER BY
			A.pkid DESC,
			A.project_status DESC
	</select>

	<select id="projectStatistics" resultType="Map">
        SELECT 
			ALL_PROJECT,
			AUDIT_PROJECT
		FROM
			
		(SELECT
			COUNT(1) AS ALL_PROJECT
		FROM
			project A
			LEFT JOIN project_person P ON A.pkid = P.project_id
		<where>
			A.project_status != 0
			<if test="roleId != null and roleId == 2">
				AND P.area_code = #{areaCode}
			</if>
			<if test="roleId != null and roleId == 3">
				AND P.town_code = #{townCode}
			</if>
		</where> 
		)A,
		
		(SELECT
			COUNT(1) AS AUDIT_PROJECT
		FROM
			project B
			LEFT JOIN project_person P ON B.pkid = P.project_id
		<where> 
			B.project_status IN (6, 7, 8)
			<if test="roleId != null and roleId == 2">
				AND P.area_code = #{areaCode}
			</if>
			<if test="roleId != null and roleId == 3">
				AND P.town_code = #{townCode}
			</if>
		</where> 
		)B
    </select>

	<select id="projectDetailStatistics" resultType="java.util.HashMap">
		select
			date_format(A.create_date,'%Y-%m-%d') AS TDATE,
			cast(A.project_kind as char) AS KIND,
			cast(
				SUM(
					ifnull(B.show_preice,0)
				) / 10000 AS char
			) AS TOTAL
		FROM
			project A, project_around B
		<where>
				A.pkid = B.project_id
			AND A.project_status = 4
			<if test="(startDate == null or startDate =='') and (endDate == null or endDate == '')">
				AND DATE_SUB(CURDATE(), INTERVAL 30 DAY) <![CDATA[ <= ]]>   date(A.create_date)
			</if>
			<if test="startDate != null and startDate !=''">
				AND date(A.create_date) <![CDATA[ >= ]]> #{startDate}
			</if>
			<if test="endDate != null and endDate !=''">
				AND date(A.create_date) <![CDATA[ <= ]]> #{endDate}
			</if>
		</where>
		GROUP BY
			TDATE,KIND
    </select>
    
    
    <select id="countByAreaCode" resultType="Integer">
    	SELECT 
			COUNT(1)
		FROM 
			project p
			left JOIN project_person pp ON p.pkid = pp.project_id
		<where>
			p.project_status != 0
			<if test="areaCode != null and areaCode != ''">
				AND pp.town_code = #{areaCode} OR  pp.area_code = #{areaCode}
			</if>
		</where> 
    </select>
    
    
    <select id="tableData" resultType="Map">
    	SELECT
    		P.pkid AS projectId,
    		P.project_name AS projectName,
    		pp.area_code AS areaCode,
    		pp.town_code AS townCode,
    		ac1.area_name AS areaName,
    		ac2.area_name AS townName,
    		p.person_name AS personName,
    		P.project_kind AS projectKind,
    		P.output_person_name AS outputPersonName,
    		DATE_FORMAT(P.update_date,'%Y-%m-%d') AS updateDateStr,
    		pa.show_preice AS showPreice
    		
    	FROM 
    		project P
    	LEFT JOIN project_person pp ON pp.project_id = P.pkid
    	LEFT JOIN project_around pa ON pa.project_id = P.pkid
    	LEFT JOIN area_code ac1 ON pp.area_code = ac1.code
    	LEFT JOIN area_code ac2 ON pp.town_code = ac2.code
    	<where>
    		P.project_status = 4
    	</where>
    </select>
    
    <select id="getChartsBarData" resultType="Map">
    	SELECT
			project_kind AS projectKind,
			count(1) AS projectNum 
		FROM 
			project P
		<where>
			P.project_status = 4
			<if test="(startDate == null or startDate =='') and (endDate == null or endDate == '')">
				AND DATE_SUB(CURDATE(), INTERVAL 30 DAY) <![CDATA[ <= ]]>   date(P.create_date)
			</if>
			<if test="startDate != null and startDate !=''">
				AND date(P.create_date) <![CDATA[ >= ]]> #{startDate}
			</if>
			<if test="endDate != null and endDate !=''">
				AND date(P.create_date) <![CDATA[ <= ]]> #{endDate}
			</if>
		</where> 
		GROUP BY 
			P.project_kind
    </select>
    
</mapper>