<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="com.kailash.land.entity.RoleEntity">
		<id column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="role_key" jdbcType="VARCHAR" property="roleKey" />
		<result column="role_name" jdbcType="VARCHAR" property="roleName" />
	</resultMap>
	<sql id="Base_Column_List">
		role_id, role_key, role_name
	</sql>
	<!--查询所有角色-->
	<select id="selectList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from role
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from role
		where role_id = #{roleId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from role
		where role_id = #{roleId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.kailash.land.entity.RoleEntity">
		insert into role (role_id, role_key, role_name
		)
		values (#{roleId,jdbcType=INTEGER}, #{roleKey,jdbcType=VARCHAR},
		#{roleName,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.kailash.land.entity.RoleEntity">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				role_id,
			</if>
			<if test="roleKey != null">
				role_key,
			</if>
			<if test="roleName != null">
				role_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="roleKey != null">
				#{roleKey,jdbcType=VARCHAR},
			</if>
			<if test="roleName != null">
				#{roleName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.kailash.land.entity.RoleEntity">
		update role
		<set>
			<if test="roleKey != null">
				role_key = #{roleKey,jdbcType=VARCHAR},
			</if>
			<if test="roleName != null">
				role_name = #{roleName,jdbcType=VARCHAR},
			</if>
		</set>
		where role_id = #{roleId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.kailash.land.entity.RoleEntity">
		update role
		set role_key = #{roleKey,jdbcType=VARCHAR},
		role_name = #{roleName,jdbcType=VARCHAR}
		where role_id = #{roleId,jdbcType=INTEGER}
	</update>
	
	<!-- zyz -->
	<select id="findObject" parameterType="Integer" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List" />
		FROM
			role
		WHERE role_id = #{roleId,jdbcType=INTEGER}
	</select>
	
	<select id="queryMenuRole" resultType="com.kailash.land.entity.RoleEntity">
		SELECT 
			A.*,
			B.pkid AS roleMenuId,
			IF(B.pkid IS NULL ,0 ,1) AS hasRole,
			B.menu_id AS menuId
		FROM 
			role A
		LEFT JOIN role_menu B ON A.role_id = B.role_id AND 	B.menu_id = #{menuId}
		<where>
			A.role_id != 4
		</where>
	</select>
</mapper>