<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.dao.UsersMapper">
    <resultMap id="BaseResultMap" type="com.kailash.land.entity.Users">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="user_status" jdbcType="INTEGER" property="userStatus"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="update_date" jdbcType="DATE" property="updateDate"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="mobile" jdbcType="CHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, user_name, nick_name,
        password, user_status, role_id, create_date,
        update_date, update_user, mobile, email
    </sql>

    <!-- 查询条件 -->
    <sql id="Where">
        <if test="userId != null and userId != ''">
            AND u.user_id = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            AND u.user_name LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="userStatus != null and userStatus != ''">
            AND u.user_status = #{userStatus}
        </if>
        <if test="roleId != null and roleId != ''">
            AND u.role_id = #{roleId}
        </if>
        <if test="createDate != null and createDate != ''">
            AND u.create_date = #{createDate}
        </if>
        <if test="updateUser != null and updateUser !=''">
            AND u.update_user = #{updateUser}
        </if>
        <if test="nickName != null and nickName != ''">
            AND u.nick_name LIKE CONCAT('%',#{nickName},'%')
        </if>
    </sql>
    <!-- 登录-根据用户名查询对象 -->
    <select id="findByUserName" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        users u
        <where>
            u.user_status = 0
            <if test="_parameter != null and _parameter != ''">
                AND u.user_name =#{_parameter}
            </if>
        </where>
    </select>
    <!--添加对象-->
    <insert id="insert"
            parameterType="com.kailash.land.entity.Users" useGeneratedKeys="true"
            keyProperty="userId">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="userStatus != null">
                user_status,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!--根据userId查询对象-->
    <select id="selectByUserId" parameterType="java.lang.Integer" resultType="Map">
        select
        u.user_id AS userId,
        u.user_name AS userName,
        u.role_id as roleId,
        u.user_status AS userStatus,
        DATE_FORMAT(u.create_date,'%Y-%m-%d') AS createDate,
        u.mobile as mobile,
        u.email as email,
        u.nick_name nickName
        from users u
        where
        u.user_id = #{userId,jdbcType=INTEGER}
    </select>
    <!--根据条件更新对象-->
    <update id="updateByCondition" parameterType="com.kailash.land.entity.Users">
        update users
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password!=''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=DATE},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=INTEGER},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=CHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <!-- zyz -->
    <select id="findnickNameByUsers" parameterType="com.kailash.land.entity.Users" resultType="Map">
        SELECT
        u.user_id AS userId ,
        u.nick_name AS nickName
        FROM
        users u
        <where>
            u.user_status != 2
            AND u.role_id = 2
            AND u.nick_name IS NOT NULL
            <if test="nickName != null and nickName != ''">
                AND u.nick_name LIKE CONCAT('%', #{nickName}, '%')
            </if>
        </where>
    </select>
    <!-- zyz -->
    <select id="findCountByMap" parameterType="Map"
            resultType="Integer">
        SELECT COUNT(1) FROM users u
        <where>
            u.user_status != 2
            <if test="userName != null">
                AND u.user_name = #{userName}
            </if>
            <if test="userId != null">
                AND u.user_id != #{userId}
            </if>
        </where>
    </select>
    
    
    <!-- zyz -->
    <select id="urlUserList" parameterType="String" resultType="Map" >
    	SELECT 
			u.user_id AS userId,
			u.user_name AS userName
		FROM 
			users u
		<where>
			EXISTS (
				SELECT 
					1
				FROM
					<if test="urlKind == 'urlInfo'">
						url_info 
					</if> 
					<if test="urlKind == 'urlImport'">
						url_import 
					</if> 
					<if test="urlKind == 'urlExport'">
						url_export 
					</if> 
					url
				WHERE 
					1 = 1 
					<if test="urlKind == 'urlInfo'">
						AND url.url_status = 1
						AND url.create_user = u.user_id
					</if>
					<if test="urlKind == 'urlImport' or urlKind == 'urlExport'">
						AND url.creator = u.user_id
					</if>
				GROUP BY
					<if test="urlKind == 'urlInfo'">
						url.create_user
					</if>
					<if test="urlKind == 'urlImport' or urlKind == 'urlExport'">
						url.creator
					</if>
			)
		</where>
    </select>
    
</mapper>
