<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.kailash.land.entity.Users">
        <id column="pkid" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_status" jdbcType="INTEGER" property="userStatus"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="update_date" jdbcType="DATE" property="updateDate"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="marry_flag" jdbcType="INTEGER" property="marryFlag"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="postcode" jdbcType="VARCHAR" property="postcode"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="area_code" jdbcType="INTEGER" property="areaCode"/>
        <result column="town_code" jdbcType="INTEGER" property="townCode"/>
    </resultMap>

    <sql id="Base_Column_List">
        pkid, user_name, nick_name,
        password, user_status, role_id, create_date,
        update_date, update_user, mobile, email, area_code, town_code
    </sql>

    
    <!-- 登录-根据用户名查询对象 -->
    <select id="findByUserName" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        users u
        <where>
            u.user_status = 1
            <if test="_parameter != null and _parameter != ''">
                AND u.user_name =#{_parameter} OR u.mobile =#{_parameter} or u.email=#{_parameter}
            </if>
        </where>
    </select>

    <select id="userStatistics" resultType="java.util.HashMap">
        select cast(sum(1) as char) AS ALL_USER, cast(sum( case when DATE_FORMAT(create_date,'%Y%m') = DATE_FORMAT(CURDATE( ),'%Y%m') then 1 else 0 end) as char) AS NEW_USER FROM users
    </select>
    
    <select id="findByFiled" parameterType="Map" resultMap="BaseResultMap">
    	SELECT 
    		 <include refid="Base_Column_List"/>
        FROM
        	users
        <where>
        	user_status != 0
        	<if test="filed != null and filed != '' and value != null and value != ''">
				AND ${filed} = #{value}
        	</if>
        	<if test="userId != null and userId != ''">
        		AND pkid != #{userId}
        	</if>
        </where>
    </select>
    
</mapper>
