<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailash.land.dao.UsersMapper">
    <resultMap id="BaseResultMap" type="com.kailash.land.entity.Users">
        <id column="pkid" jdbcType="INTEGER" property="pkid"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_status" jdbcType="INTEGER" property="userStatus"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="create_date" jdbcType="DATE" property="createDate"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="update_date" jdbcType="DATE" property="updateDate"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="marry_flag" jdbcType="INTEGER" property="marryFlag"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="postcode" jdbcType="VARCHAR" property="postcode"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
    </resultMap>

    <sql id="Base_Column_List">
        pkid, user_name, nick_name,
        password, user_status, role_id, create_date,
        update_date, update_user, mobile, email
    </sql>

    <!-- 查询条件 -->
    <sql id="Where">
        <if test="pkid != null and pkid != ''">
            AND u.pkid = #{pkid}
        </if>
        <if test="userName != null and userName != ''">
            AND u.user_name LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="userStatus != null and userStatus != ''">
            AND u.user_status = #{userStatus}
        </if>
        <if test="roleId != null and roleId != ''">
            AND u.role_id = #{roleId}
        </if>
        <if test="createDate != null and createDate != ''">
            AND u.create_date = #{createDate}
        </if>
        <if test="updateUser != null and updateUser !=''">
            AND u.update_user = #{updateUser}
        </if>
        <if test="nickName != null and nickName != ''">
            AND u.nick_name LIKE CONCAT('%',#{nickName},'%')
        </if>
    </sql>
    <!-- 登录-根据用户名查询对象 -->
    <select id="findByUserName" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        users u
        <where>
            u.user_status = 0
            <if test="_parameter != null and _parameter != ''">
                AND u.user_name =#{_parameter}
            </if>
        </where>
    </select>
    <!--添加对象-->
    <insert id="instertEntity" parameterType="com.kailash.land.entity.Users" useGeneratedKeys="true" keyProperty="pkid">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            create_date,update_date,
            <if test="pkid != null">pkid,</if>
            <if test="userName != null">user_name,</if>
            <if test="password != null">password,</if>
            <if test="userStatus != null">user_status,</if>
            <if test="roleId != null">role_id,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="mobile != null">mobile,</if>
            <if test="tel != null">tel,</if>
            <if test="email != null">email,</if>
            <if test="sex != null">sex,</if>
            <if test="birthday != null">birthday,</if>
            <if test="marryFlag != null">marry_flag,</if>
            <if test="address != null">address,</if>
            <if test="postcode != null">postcode,</if>
            <if test="company != null">company,</if>
            <if test="position != null">position,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        	NOW(), NOW(),
            <if test="pkid != null">#{pkid,jdbcType=INTEGER},</if>
            <if test="userName != null">#{userName,jdbcType=VARCHAR},</if>
            <if test="password != null">#{password,jdbcType=VARCHAR},</if>
            <if test="userStatus != null">#{userStatus,jdbcType=VARCHAR},</if>
            <if test="roleId != null">#{roleId,jdbcType=INTEGER},</if>
            <if test="createUser != null">#{createUser,jdbcType=INTEGER},</if>
            <if test="updateUser != null">#{updateUser,jdbcType=INTEGER},</if>
            
            <if test="mobile != null">#{mobile},</if>
            <if test="tel != null">#{tel},</if>
            <if test="email != null">#{email},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="marryFlag != null">#{marryFlag},</if>
            <if test="address != null">#{address},</if>
            <if test="postcode != null">#{postcode},</if>
            <if test="company != null">#{company},</if>
            <if test="position != null">#{position},</if>
        </trim>
    </insert>
    <!--根据pkid查询对象-->
    <select id="selectBypkid" parameterType="java.lang.Integer" resultType="Map">
        select
        u.pkid AS pkid,
        u.user_name AS userName,
        u.role_id as roleId,
        u.user_status AS userStatus,
        DATE_FORMAT(u.create_date,'%Y-%m-%d') AS createDate,
        u.mobile as mobile,
        u.email as email,
        u.nick_name nickName
        from users u
        where
        u.pkid = #{pkid,jdbcType=INTEGER}
    </select>
    <!--根据条件更新对象-->
    <update id="updateByCondition" parameterType="com.kailash.land.entity.Users">
        update users
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password!=''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=DATE},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=INTEGER},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
        </set>
        where pkid = #{pkid,jdbcType=INTEGER}
    </update>
    <!-- zyz -->
    <select id="findnickNameByUsers" parameterType="com.kailash.land.entity.Users" resultType="Map">
        SELECT
        u.pkid AS pkid ,
        u.nick_name AS nickName
        FROM
        users u
        <where>
            u.user_status != 2
            AND u.role_id = 2
            AND u.nick_name IS NOT NULL
            <if test="nickName != null and nickName != ''">
                AND u.nick_name LIKE CONCAT('%', #{nickName}, '%')
            </if>
        </where>
    </select>
    <!-- zyz -->
    <select id="findCountByMap" parameterType="Map"
            resultType="Integer">
        SELECT COUNT(1) FROM users u
        <where>
            u.user_status != 2
            <if test="userName != null">
                AND u.user_name = #{userName}
            </if>
            <if test="pkid != null">
                AND u.pkid != #{pkid}
            </if>
        </where>
    </select>
    
    
    <!-- zyz -->
    <select id="urlUserList" parameterType="String" resultType="Map" >
    	SELECT 
			u.pkid AS pkid,
			u.user_name AS userName
		FROM 
			users u
		<where>
			EXISTS (
				SELECT 
					1
				FROM
					<if test="urlKind == 'urlInfo'">
						url_info 
					</if> 
					<if test="urlKind == 'urlImport'">
						url_import 
					</if> 
					<if test="urlKind == 'urlExport'">
						url_export 
					</if> 
					url
				WHERE 
					1 = 1 
					<if test="urlKind == 'urlInfo'">
						AND url.url_status = 1
						AND url.create_user = u.pkid
					</if>
					<if test="urlKind == 'urlImport' or urlKind == 'urlExport'">
						AND url.creator = u.pkid
					</if>
				GROUP BY
					<if test="urlKind == 'urlInfo'">
						url.create_user
					</if>
					<if test="urlKind == 'urlImport' or urlKind == 'urlExport'">
						url.creator
					</if>
			)
		</where>
    </select>
    
</mapper>
