<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="common :: adminHeader"></head>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/info.css}">
<body>
<!-- v-cloak -->
<div id="app" v-cloak>
    <div th:include="html/project_detail :: project_detail">
    </div>
</div>
<script type="text/javascript">
    var projectId = [[${projectId}]];

    var vm = new Vue({
        el : '#app',
        data : {
            projectData: {
                projectId: projectId,
            },
            aeaDic: [],
            childAreas: [],
            loginUserId: "",
			picList1: [],
			picList2: [],
			picList3: [],
        },
        mounted : function() {
        	this.initArea();
        	this.loginUserId = $("#baseUserId").text();
            this.initProPicList();
            var _this = this;
            $.post("/project/queryDetail", this.projectData, function (result) {
                if (result.code == 0) {
                    _this.projectData = result.projectData;
                } else {
                    layer.msg(result.msg);
                }
            });
        },
        methods : {
        	initProPicList: function(){
				hzToolObj.postRpc("/project/proPicList", {projectId: this.projectData.projectId, picKind: 1}).done(function(r) {	
        			vm.picList1 = r.list;
        		});
				hzToolObj.postRpc("/project/proPicList", {projectId: this.projectData.projectId, picKind: 2}).done(function(r) {	
        			vm.picList2 = r.list;
        		});
				hzToolObj.postRpc("/project/proPicList", {projectId: this.projectData.projectId, picKind: 3}).done(function(r) {	
        			vm.picList3 = r.list;
        		});
			},
        	initArea: function(){
				$.post("/area/initArea", {}, function (result) {
                    if (result.code == 0) {
                    	vm.aeaDic = result.area;
                    } else {
                        layer.msg(result.msg);
                    }
                });
			},
        },
        watch: {
			'projectData.areaCode': function(code){
				if(code && code != 0) {
					vm.childAreas = vm.aeaDic.filter((item)=>{
	                    return item.code == code
	                })[0].childAreas;
				}	
			},
		}
    });
</script>
</body>
</html>
