<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="common :: adminHeader"></head>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/info.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/module/project_style.css}">

<body>
<!-- v-cloak -->
<div id="app" v-cloak>
	<div class="tdfb clear public2">
	    <div th:include="login/project_detail :: project_detail"></div>
	    <div class="main_r clear"  v-if="(picList1 && picList1.length > 0) || (picList2 && picList2.length > 0) || (picList3 && picList3.length > 0)">
			<h3 class="col_Name c4">资料信息</h3>
		</div>
		<div class="main_w">
			<div class="fl pinka_left">
				<div class="sel_attrs">
					<table class="attrs_table">
						<tr v-if="picList1 && picList1.length > 0">
							<td class="t_prop form-td"><strong>身份证：</strong></td>
							<td colspan="3" class="t_prop_b">
								<div id="picList1">
									<span v-for="item in picList1" style="padding: 0px 3px 0px 3px;"  @click="bigImg('picList1')">
										<img alt="" :src="item.picUrl" style="width: 100px;height: 100px; border-radius: 3px;  border: #5bc0de 1px; box-shadow: 0 1px 2px 1px #666;">
									</span>
								</div>
							</td>
						</tr>
						<tr v-if="picList2 && picList2.length > 0">
							<td class="t_prop form-td"><strong>产权证：</strong></td>
							<td colspan="3" class="t_prop_b">
								<div id="picList2">
									<span v-for="item in picList2" style="padding: 0px 3px 0px 3px;"  @click="bigImg('picList2')">
										<img alt="" :src="item.picUrl" style="width: 100px;height: 100px; border-radius: 3px;  border: #5bc0de 1px; box-shadow: 0 1px 2px 1px #666;">
									</span>
								</div>
							</td>
						</tr>
						<tr v-if="picList3 && picList3.length > 0">
							<td class="t_prop form-td"><strong>合同书：</strong></td>
							<td colspan="3" class="t_prop_b">
								<div id="picList3">
									<span v-for="item in picList3" style="padding: 0px 3px 0px 3px;"  @click="bigImg('picList3')">
										<img alt="" :src="item.picUrl" style="width: 100px;height: 100px; border-radius: 3px;  border: #5bc0de 1px; box-shadow: 0 1px 2px 1px #666;">
									</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    var projectId = [[${projectId}]];

    var vm = new Vue({
        el : '#app',
        data : {
            projectData: {
                projectId: projectId,
            },
            aeaDic: [],
            childAreas: [],
            loginUserId: "",
			picList1: [],
			picList2: [],
			picList3: [],
        },
        mounted : function() {
        	this.initArea();
        	this.loginUserId = $("#baseUserId").text();
            this.initProPicList();
            var _this = this;
            $.post("/project/queryDetail", this.projectData, function (result) {
                if (result.code == 0) {
                    _this.projectData = result.projectData;
                } else {
                    layer.msg(result.msg);
                }
            });
        },
        methods : {
        	bigImg: function(id){
        		layer.photos({
        			photos: '#' + id
        			,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
       			}); 
        	},
        	initProPicList: function(){
				hzToolObj.postRpc("/project/proPicList", {projectId: this.projectData.projectId, picKind: 1}).done(function(r) {	
        			vm.picList1 = r.list;
        		});
				hzToolObj.postRpc("/project/proPicList", {projectId: this.projectData.projectId, picKind: 2}).done(function(r) {	
        			vm.picList2 = r.list;
        		});
				hzToolObj.postRpc("/project/proPicList", {projectId: this.projectData.projectId, picKind: 3}).done(function(r) {	
        			vm.picList3 = r.list;
        		});
			},
        	initArea: function(){
				$.post("/area/initArea", {}, function (result) {
                    if (result.code == 0) {
                    	vm.aeaDic = result.area;
                    } else {
                        layer.msg(result.msg);
                    }
                });
			},
        },
        watch: {
			'projectData.areaCode': function(code){
				if(code && code != 0) {
					vm.childAreas = vm.aeaDic.filter((item)=>{
	                    return item.code == code
	                })[0].childAreas;
				}	
			},
		}
    });
</script>
</body>
</html>
