<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>铁西区农村经济总站土地流转交易监管平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin-html.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/jeDate/jeDate.css}">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/static/js/vue.min.js}"></script>
    <script th:src="@{/static/plugin/layer/layer.js}"></script>
    <script th:src="@{../static/plugin/pagination/jquery.pagination.js}"></script>
    <script th:src="@{../static/plugin/pagination/bootstrap-paginator.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/common_status_filter.js}"></script>
    <script th:src="@{/static/plugin/jeDate/jeDate.js}"></script>
</head>

<body>
<div id="vueApp" v-cloak>
    <form role="form">
        <div class="form-group form-inline">
            <label class="col-sm-2" for="projectName">项目名称</label>
            <div class="col-sm-2">
                <input class="form-control" id="projectName" v-model="form.projectName" type="text" placeholder="请输入项目名称" style="width: 90%;"/>
            </div>
            <label class="col-sm-2" for="projectKind">流转方式</label>
            <div class="col-sm-2">
                <select class="form-control" id="projectKind" v-model="form.projectKind" placeholder="请选择流转方式" style="width: 90%;" >
                    <option></option>
                    <option v-for="item in kinds" :value="item.value">{{item.label}}</option>
                </select>
            </div>
            <label class="col-sm-2" for="projectStatus">项目状态</label>
            <div class="col-sm-2">
                <select class="form-control" id="projectStatus" v-model="form.projectStatus" placeholder="请选择项目状态" style="width: 90%;" >
                    <option></option>
                    <option v-for="item in status" :value="'' + item.value">{{item.label}}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-2" for="startDate">开始时间</label>
            <div class="col-sm-2">
                <input id="startDate" type="text" placeholder="请输入开始时间" style="width: 90%;"/>
            </div>
            <label class="col-sm-2" for="endDate">终止时间</label>
            <div class="col-sm-2">
                <input id="endDate" type="text" placeholder="请输入终止时间" style="width: 90%;"/>
            </div>
            <div class="col-sm-4" style="text-align: right;">
                <div style="width: 95%;">
                    <button type="button" @click="doQuery('1')" class="btn btn-sm btn-info">查询</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row mx-auto" style="margin-top: 10px;">
        <div class="col-12">
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-default">
                <tr class="text-center">
                    <th>项目名称</th>
                    <th>发布人</th>
                    <th>流转方式</th>
                    <th>项目状态</th>
                    <th>公告价格</th>
                    <th>创建时间</th>
                    <th style="width: 20%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(project,index) in list" class="text-center">
                    <td>{{project.projectName}}</td>
                    <td>{{project.personName}}</td>
                    <td>{{project.projectKind | projectKindFilter}}</td>
                    <td>{{ ('' + project.projectStatus) | projectStatusFilter}}</td>
                    <td>{{project.showPreice}}</td>
                    <td>{{project.createDateStr}}</td>
                    <td class="inline">
                        <button type="button" class="btn btn-sm btn-warning" @click="doAudit(project)">审核</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="width: 95%;">
        <div class="col-12 text-center">
            <ul id='pagination'></ul>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        jeDate("#startDate",{
            theme:{ bgcolor:"#00A1CB",color:"#ffffff", pnColor:"#00CCFF"},
            isinitVal:false,
            onClose:true,
            isTime:true,
            format: 'YYYY-MM-DD'
        });

        jeDate("#endDate",{
            theme:{ bgcolor:"#00A1CB",color:"#ffffff", pnColor:"#00CCFF"},
            isinitVal:false,
            onClose:true,
            isTime:true,
            format: 'YYYY-MM-DD'
        });
    })

    var vm = new Vue({
        el: "#vueApp",
        data: {
            form: {
                projectName:'',
                projectKind:null,
                projectStatus: null,
                pageNo: 1,
                pageSize: 10,
            },
            list: [],
        },
        computed:{
            kinds: function(){
                let arr = [];
                for(let x in projectKindDic){
                    if(projectKindDic[x].value != 0){
                        arr.push(projectKindDic[x]);
                    }
                }
                return arr;
            },
            status: function(){
                return projectStatusDic;
            }
        },
        mounted : function() {
            this.doQuery();
        },
        methods:{
            doQuery: function(){
                let obj = {};
                for(let x in this.form){
                    if(this.form[x] != ''){
                        obj[x] = this.form[x];
                    }
                }
                if($("#startDate").val()){
                    obj.startDate = $("#startDate").val();
                }
                if($("#endDate").val()){
                    obj.endDate = $("#endDate").val();
                }
                hzToolObj.getdomInit("/project/projectSearch", obj, this.callback, this.form.pageNo);
            },
            callback: function(result){
                if(result.pageInfo.pageNum){
                    this.form.pageNo = result.pageInfo.pageNum;
                } else {
                    this.form.pageNo = 1;
                }
                this.list = result.pageInfo.list;
            },
            doAudit: function(project){
                layer.open({
                    type: 2,
                    title: '审核-' + project.projectName,
                    area: ['90%', '90%'],
                    fixed: true, //不固定
                    skin: 'layer-skin',
                    maxmin: true,
                    content: '/admin/projectAudit?projectId=' + project.projectId,
                    btn:['通过','拒绝','关闭'],
                    yes: function(index, layero){
                        let iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.vm.audit('1');
                    },
                    btn2: function(index, layero){
                        let iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.vm.audit('3');
                        return false;
                    },
                    btn3: function(){
                    },
                });
            }
        }
    })
</script>
</html>