<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: adminHeader"></head>

<body>
<div id="app" v-cloak>
    <div>
        <form class="form-horizontal" style="margin-top: 50px;" role="form">
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="userName">用户名</label>
                <div class="controls col-md-6">
                    <input type="text" placeholder="请输入用户名" class="form-control" style="width: 90%;" id="userName" v-model="user.userName" autocomplete="off">
                </div>
            </div>
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="userName">姓名</label>
                <div class="controls col-md-6">
                    <input type="text" placeholder="请输入姓名" class="form-control" style="width: 90%;" id="userName" v-model="user.nickName">
                </div>
            </div>
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="email">邮箱</label>
                <div class="controls col-md-6">
                    <input type="text" placeholder="请输入用户邮箱" class="form-control" style="width: 90%;" id="email" v-model="user.email">
                </div>
            </div>
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="mobile">手机号</label>
                <div class="controls col-md-6">
                    <input type="text" placeholder="请输入手机号" class="form-control" style="width: 90%;" id="mobile" v-model="user.mobile">
                </div>
            </div>
            <div class="control-group form-inline" v-if="!fromPage || fromPage != 'myself'">
                <label class="control-label col-md-2 offset-md-2" for="userStatus">用户状态</label>
                <div class="controls col-md-6">
                    <select class="form-control" id="userStatus" v-model="user.userStatus" placeholder="请选择用户状态" style="width: 90%;" >
                        <option v-for="item in commonStatusterDic" :value="item.value" v-if="item.value != 0 && item.value != 5">{{item.label}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group form-inline" v-if="!fromPage || fromPage != 'myself'">
                <label class="control-label col-md-2 offset-md-2" for="roleId">用户角色</label>
                <div class="controls col-md-6">
                    <select class="form-control" id="roleId" v-model="user.roleId" placeholder="请选择用户角色" style="width: 90%;" >
                        <option v-for="(roleName,roleId) in roleInfos" :value="roleId">{{roleName}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group form-inline" v-if="user.roleId != 1">
                <label class="control-label col-md-2 offset-md-2" for="areaCode">区域</label>
                <div class="controls col-md-6">
                    <select class="form-control" id="areaCode" v-model="user.areaCode" style="width: 90%;" >
                    	<option value="0">请选择</option>
                        <option v-for="item in areaDic" :value="item.code">{{ item.areaName }}</option>
                    </select>
                </div>
            </div>
            <div class="control-group form-inline" v-if="user.roleId != 1 && user.roleId != 2">
                <label class="control-label col-md-2 offset-md-2" for="townCode">乡镇</label>
                <div class="controls col-md-6">
                   <select class="form-control" id="townCode" v-model="user.townCode" style="width: 90%;" >
                    	<option value="0">请选择</option>
                        <option v-for="item in childAreas" :value="item.code">{{ item.areaName }}</option>
                    </select>
                </div>
            </div>
            <div class="control-group form-inline">
             	<div class="controls col-md-8 offset-md-2" style="text-align: center;">
	            	<input type="button" value="修改密码" @click="changePassWord">
             	</div>
            </div>
            <div class="control-group form-inline" v-if="changePassWordFlag">
                <label class="control-label col-md-2 offset-md-2" for="password">密码</label>
                <div class="controls col-md-6">
                    <input type="password" placeholder="请输入密码" class="form-control" style="width: 90%;" id="password" v-model="user.password" autocomplete="off">
                </div>
            </div>
            <div class="control-group form-inline" v-if="changePassWordFlag">
                <label class="control-label col-md-2 offset-md-2" for="password_v">确认密码</label>
                <div class="controls col-md-6">
                    <input type="password" placeholder="请再次输入密码" class="form-control" style="width: 90%;" id="password_v" v-model="user.password_v" autocomplete="off">
                </div>
            </div>
        </form>
        <div v-if="fromPage && fromPage == 'myself'" style="text-align: center; margin-top: 30px;">
          	<button type="button" @click="save" class="btn btn-sm btn-info">保存</button>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var userId = '[[${userId}]]';
    var vm = new Vue({
        el: '#app',
        data: {
            user: {
                userName: '',
                email: '',
                mobile: '',
				password: '',
                password_v: '',
                userStatus: '2',
                roleId: '4',
                areaCode: '',
                townCode: 0,
            },
            roleInfos:{},
            areaDic: [],
            childAreas: [],
            changePassWordFlag: false,
            fromPage: "",
        },
        created: function(){
        	this.fromPage = getUrlParam("from");
            var _this = this;
            $.post("/user/allRoles",null,function(resp){
                if(0 == resp.code){
                    var obj = new Object();
                    for(var i=0;i < resp.result.length;i++){
                        obj[resp.result[i].roleId] = resp.result[i].roleName;
                    }
                    _this.roleInfos = obj;
                }
            });
        },
        mounted : function() {
        	this.initArea();
        },
        methods : {
        	initUser: function(){
        		var userId = getUrlParam("userId");
       		  	if(userId){
                     $.post("/user/userDetail?userId=" + userId, "", function(resp){
                         if(0 == resp.code){
                             vm.user = resp.userData;
                             vm.user.password = "";
                             if("3" == vm.user.userStatus || "4" == vm.user.userStatus){
                                 $("#userStatus").attr("disabled","true");
                             }
                         } else {
                        	 vm.clear();
                             layer.msg("获取用户信息失败！");
                         }
                     });
                 }
        	},
        	changePassWord: function(){
				if(!vm.changePassWordFlag){
					vm.changePassWordFlag = true;
				} else {
					vm.changePassWordFlag = false;
					vm.user.password = "";
				}
        	},
        	initArea: function(){
        		hzToolObj.postRpc("/area/initArea", {}).done(function(result) {
        			vm.areaDic = result.area;
        			vm.initUser();
        		});
        	},
            checkNull: function () {
                if (!this.user.userName) {
                    layer.msg("请输入用户名！");
                    $("#userName").focus();
                    return false;
                }
                if (!this.user.email) {
                    layer.msg("请输入邮箱！");
                    $("#email").focus();
                    return false;
                }
                if (!this.user.mobile) {
                    layer.msg("请输入手机！");
                    $("#mobile").focus();
                    return false;
                }
                if(vm.changePassWordFlag){
                    if (!this.user.password) {
                        layer.msg("请输入密码！");
                        $("#password").focus();
                        return false;
                    }
                    if (!this.user.password_v) {
                        layer.msg("请再次输入密码！");
                        $("#password_v").focus();
                        return false;
                    }
					if((this.user.password || this.user.password_v) && this.user.password != this.user.password_v){
	                    layer.msg("两次输入密码不一致！");
	                    $("#password").focus();
	                    return false;
	                }
                }
                return true;
            },
            save : function () {
                if (vm.checkNull()) {
                    var tUser = new Object();
                    var url = "";

                    // 修改
                    if(!userId){
                        url = "/user/users_register";
                        this.user.password = hex_md5(this.user.password);
                    } else {
                        url = "/user/users_modify";
                        this.user.userId = userId;
                        if(this.user.password){
                        	this.user.password = hex_md5(this.user.password);
                        }
                    }
                    delete this.user.createDate;
                    delete this.user.updateDate;
                    delete this.user.auditDate;
                    $.post(url, this.user, function (result) {
                        if (result.code == 0) {
                            layer.msg("保存成功！",{icon:1, time:2000, shade:0.4},function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });
                            parent.vm.doQuery();
                        } else {
                            layer.msg(result.msg);
                        }
                    });
                }
                return false;
            },
            clear: function(){
                for(var x in this.user){
                    this.user[x] = '';
                }
            },
           
        },
        watch: {
			'user.areaCode': function(code){
				if(code != 0) {
					for(var i=0; i<vm.areaDic.length; i++){
						if(vm.areaDic[i].code == code){
							vm.childAreas = vm.areaDic[i].childAreas;
						}
					}
				} else {
					vm.user.townCode = 0;
				}
			},
		}
    });
</script>
</html>
