<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>铁西区农村经济总站土地流转交易监管平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin-html.css}">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/static/js/vue.min.js}"></script>
    <script th:src="@{/static/plugin/layer/layer.js}"></script>
    <script th:src="@{../static/plugin/pagination/jquery.pagination.js}"></script>
    <script th:src="@{../static/plugin/pagination/bootstrap-paginator.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/common_status_filter.js}"></script>
</head>

<body>
<div id="vueApp" v-cloak>
    <form role="form">
        <div class="form-group form-inline">
            <label class="col-sm-2" for="userName">用户名</label>
            <div class="col-sm-2">
                <input class="form-control" id="userName" v-model="form.userName" type="text" placeholder="请输入用户名" style="width: 90%;"/>
            </div>
            <label class="col-sm-2" for="email">邮箱</label>
            <div class="col-sm-2">
                <input class="form-control" id="email" v-model="form.email"  type="text" placeholder="请输入邮箱" style="width: 90%;"/>
            </div>
            <label class="col-sm-2" for="userStatus">用户状态</label>
            <div class="col-sm-2">
                <select class="form-control" id="userStatus" v-model="form.userStatus" placeholder="请选择用户状态" style="width: 90%;" >
                    <option></option>
                    <option v-for="item in status" :value="item.value">{{item.label}}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-2" for="mobile">手机号</label>
            <div class="col-sm-2">
                <input class="form-control" id="mobile" v-model="form.mobile" type="text" placeholder="请输入手机号" style="width: 90%;"/>
            </div>
            <label class="col-sm-2" for="roleId">角色名称</label>
            <div class="col-sm-2">
                <select class="form-control" id="roleId" v-model="form.roleId" placeholder="请选择角色" style="width: 90%;" >
                    <option></option>
                    <option v-for="(roleName,roleId) in roleInfos" :value="roleId">{{roleName}}</option>
                </select>
            </div>
            <div class="col-sm-4" style="text-align: right;">
                <div style="width: 95%;">
                    <button type="button" @click="doQuery('1')" class="btn btn-sm btn-info">查询</button>
                    <button type="button" @click="doModify()" class="btn btn-sm btn-warning">新增</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row mx-auto" style="margin-top: 10px;">
        <div class="col-12">
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-default">
                <tr class="text-center">
                    <th>会员ID</th>
                    <th>会员名称</th>
                    <th>邮箱</th>
                    <th>手机号</th>
                    <th>所属角色</th>
                    <th>会员状态</th>
                    <th style="width: 20%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user,index) in list" class="text-center">
                    <td>{{user.userId}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{roleInfos[user.roleId]}}</td>
                    <td>{{user.userStatus | commonStatusFilter}}</td>
                    <td class="inline">
                        <button type="button" class="btn btn-sm btn-warning" @click="doAudit(user)">审核</button>
                        <button type="button" class="btn btn-sm btn-warning" @click="doModify(user)">修改</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="width: 95%;">
        <div class="col-12 text-center">
            <ul id='pagination'></ul>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: "#vueApp",
        data: {
            form: {
                userName: '',
                email: '',
                mobile: '',
                roleId: '',
                pageNo: 1,
                pageSize: 10,
            },
            list: [],
            roleInfos:{},
            status: commonStatusterDic,
        },
        mounted : function() {
            this.doQuery();
        },
        created: function(){
            let _this = this;
            $.post("/user/allRoles",null,function(resp){
                let obj = {};
                for(let i=0;i < resp.result.length;i++){
                    obj[resp.result[i].roleId] = resp.result[i].roleName;
                }
                _this.roleInfos = obj;
            });
        },
        methods:{
            doQuery: function(){
                let obj = {};
                for(let x in this.form){
                    if(this.form[x]){
                        obj[x] = this.form[x];
                    }
                }
                hzToolObj.getdomInit("/user/userSearch", obj, this.callback, this.form.pageNo);
            },
            callback: function(result){
                if(result.pageInfo.pageNum){
                    this.form.pageNo = result.pageInfo.pageNum;
                } else {
                    this.form.pageNo = 1;
                }
                this.list = result.pageInfo.list;
            },
            doAudit: function(user){
                let _this = this;
                let userId =  user.userId;
                let buttons = [];
                if(user.userStatus == '2' || user.userStatus == '3'){
                    buttons.push("通过");
                    buttons.push("拒绝");
                }
                buttons.push("关闭");

                layer.open({
                    type: 2,
                    title: '审核-' + user.userName,
                    area: ['90%', '90%'],
                    fixed: true, //不固定
                    skin: 'layer-skin',
                    maxmin: true,
                    content: '/admin/userAudit?userId=' + userId,
                    btn:buttons,
                    yes: function(index, layero){
                        if(3 == buttons.length){
                            let iframeWin = window[layero.find('iframe')[0]['name']];
                            iframeWin.vm.audit(userId,"1");
                        } else{
                            layer.close(layer.index);
                        }
                        return false;
                    },
                    btn2: function(index, layero){
                        let iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.vm.audit(userId,"3");
                        return false;
                    },
                    btn3: function(){
                        return true;
                    },
                });
            },
            doModify: function(user){
                let _this = this;
                let userId = "";
                let title = "新增用户";
                if(user && user.userId){
                    userId =  user.userId;
                    title = "修改用户-" + user.userName;
                }

                layer.open({
                    type: 2,
                    title: title,
                    area: ['90%', '90%'],
                    fixed: true, //不固定
                    skin: 'layer-skin',
                    maxmin: true,
                    content: '/admin/userModify?userId=' + userId,
                    btn:['保存','清空','关闭'],
                    yes: function(index, layero){
                        let iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.vm.save();
                    },
                    btn2: function(index, layero){
                        let iframeWin = window[layero.find('iframe')[0]['name']];
                        iframeWin.vm.clear();
                        return false;
                    },
                    btn3: function(){
                    },
                });
            }
        }
    })
</script>
</html>