<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="pageTitle">注册会员—铁西区农村经济总站土地流转交易监管平台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.css}">
</head>
<style>
    .control-group{
        margin-top: 10px;
    }
</style>
<body>
<div id="app" v-cloak>
    <div>
        <form class="form-horizontal" style="margin-top: 50px;" role="form">
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="userName">用户名</label>
                <div class="controls col-md-6">
                    <input type="text" placeholder="请输入用户名" class="form-control" style="width: 90%;" id="userName" v-model="user.userName">
                </div>
            </div>
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="email">邮箱</label>
                <div class="controls col-md-6">
                    <input type="text" placeholder="请输入用户邮箱" class="form-control" style="width: 90%;" id="email" v-model="user.email">
                </div>
            </div>
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="mobile">手机号</label>
                <div class="controls col-md-6">
                    <input type="text" placeholder="请输入手机号" class="form-control" style="width: 90%;" id="mobile" v-model="user.mobile">
                </div>
            </div>
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="password">密码</label>
                <div class="controls col-md-6">
                    <input type="text" placeholder="请输入密码" class="form-control" style="width: 90%;" id="password" v-model="user.password">
                </div>
            </div>
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="password_v">确认密码</label>
                <div class="controls col-md-6">
                    <input type="text" placeholder="请再次输入密码" class="form-control" style="width: 90%;" id="password_v" v-model="user.password_v">
                </div>
            </div>
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="userStatus">用户状态</label>
                <div class="controls col-md-6">
                    <select class="form-control" id="userStatus" v-model="user.userStatus" placeholder="请选择用户状态" style="width: 90%;" >
                        <option v-for="(name,key) in status" :value="key">{{name}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group form-inline">
                <label class="control-label col-md-2 offset-md-2" for="roleId">用户角色</label>
                <div class="controls col-md-6">
                    <select class="form-control" id="roleId" v-model="user.roleId" placeholder="请选择用户角色" style="width: 90%;" >
                        <option v-for="(roleName,roleId) in roleInfos" :value="roleId">{{roleName}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap/bootstrap.js}"></script>
<script th:src="@{/static/js/vue.min.js}"></script>
<script th:src="@{/static/js/md5_32.js}"></script>
<script th:src="@{/static/plugin/layer/layer.js}"></script>
<script type="text/javascript">
    var userId = '[[${userId}]]';

    var vm = new Vue({
        el: '#app',
        data: {
            user: {
                userName: '',
                email: '',
                mobile: '',
                password: '',
                password_v: '',
                userStatus: '3',
                roleId: '4',
            },
            status:{},
            roleInfos:{},
        },
        created: function(){
            var _this = this;

            $.get("/user/getUserStatus","", function (resp) {
                if(0 == resp.code){
                    _this.status = resp.status;
                }
            });

            var _this = this;
            $.post("/user/allRoles",null,function(resp){
                if(0 == resp.code){
                    var obj = new Object();
                    for(var i=0;i < resp.result.length;i++){
                        obj[resp.result[i].roleId] = resp.result[i].roleName;
                    }
                    _this.roleInfos = obj;
                }
            });

            if(userId){
                $.post("/user/userDetail?userId=" + userId, "", function(resp){
                    if(0 == resp.code){
                        for(var x in _this.user){
                            _this.user[x] = resp.userData[x];
                        }
                    } else {
                        _this.clear();
                        layer.msg("获取用户信息失败！");
                    }
                });
            }
        },
        methods : {

        },
    });
</script>
</html>
