<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="common :: adminHeader"></head>
   
<body>
<div id="vueApp" v-cloak>
    <div class="row mx-auto" style="margin-top:30px; min-height: 300px">
        <div class="col-12" v-show="winFlag.firstWin">
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-default">
                <tr class="text-center">
                    <th>菜单Id</th>
                    <th>菜单名称</th>
                    <th>菜单级别</th>
                    <th>所属权限</th>
                    <th style="width: 20%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in list" class="text-center">
                    <td>{{ item.menuId }}</td>
                    <td>{{ item.name}}</td>
                    <td>一级</td>
                    <td>
                    	<div class="control-group form-inline" v-for="role in item.role">
                    		<div class="controls col-md-4"><input type="checkbox" v-model="role.hasRole" @click="doModify(role.hasRole, role.roleMenuId, item.menuId, role.roleId)"></div>
                    		<div class="controls col-md-4">{{role.roleName}}</div>
                    	</div>
                    </td>
                    <td class="inline">
                        <button type="button" class="zbtn zbtn-mm zbtn-warning" @click="secondMenu(item)" v-if="item.seconds && item.seconds.length > 0">子菜单管理</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12" v-if="winFlag.secondWin">
        	<div class="col-sm-12" style="text-align: left;">一级菜单：{{secondTitle}}</div>
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-default">
                <tr class="text-center">
                    <th>菜单Id</th>
                    <th>菜单名称</th>
                    <th>菜单级别</th>
                    <th>所属权限</th>
                </tr>
                </thead>
                <tbody>
	                <tr v-for="(item,index) in secondList" class="text-center">
	                    <td>{{ item.menuId }}</td>
	                    <td>{{ item.name}}</td>
	                    <td>二级</td>
	                    <td>
	                    	<div class="control-group form-inline" v-for="role in item.role">
	                    		<div class="controls col-md-4"><input type="checkbox" v-model="role.hasRole" @click="doModify(role.hasRole, role.roleMenuId, item.menuId, role.roleId)"></div>
	                    		<div class="controls col-md-4">{{role.roleName}}</div>
	                    	</div>
	                    </td>
	                </tr>
                </tbody>
            </table>
           	<div class="col-sm-12" style="text-align: center;">
                <div style="width: 95%;">
                    <button type="button" @click="backWin" class="btn btn-sm btn-info">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: "#vueApp",
        data: {
            queryData: {
                pageNo: 1,
                pageSize: 10,
            },
            list: [],
            secondList: [],
            secondTitle: "",
            winFlag: {
	            firstWin: true,
	            secondWin: false,
            }
        },
        mounted : function() {
            this.doQuery();
        },
        methods:{
            doQuery: function(){
            	hzToolObj.postRpc("/menu/menuList", this.queryData).done(function(result) {	
            		vm.list = result.menus;
        		});
            },
            secondMenu: function(firstMenu){
            	vm.winFlag.firstWin = false;
            	vm.winFlag.secondWin = true;
            	vm.secondTitle = firstMenu.name;
            	vm.secondList = firstMenu.seconds;
            },
            backWin:  function(){
            	vm.winFlag.firstWin = true;
            	vm.winFlag.secondWin = false;
            	vm.secondTitle = "";
            	vm.secondList = [];
            	vm.doQuery();
            },
            doModify: function(hasRole, roleMenuId, menuId, roleId){
           		var url, data;
               	data = {
               			pkid: roleMenuId,
               			menuId: menuId,	
               			roleId: roleId,	
               	};
               	if(hasRole == 0){
               	   delete data.roleMenuId;
            	   url = "/menu/insertRoleMenu";
               	} else if (hasRole == 1) {
            	   url = "/menu/deleteRoleMenu";
               	}
               	hzToolObj.postRpc(url, data).done(function(result) {
               		if (result.code == 0) {
                    	vm.doQuery();
                    	layer.alert("操作成功");
                    } else {
                        layer.msg(result.msg);
                    }
        		});
            },
        }
    })
</script>
</html>