<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
<title id="pageTitle">信息发布~四平市铁西区农经总站土地流转管理平台</title>
</head>
<body>
	<div id="app" v-cloak>
		<header th:include="common :: header"></header>
		<div th:include="common :: nav"></div>
		<!-- Content Begin -->
		<p class="location2">
			<span></span>当前位置：<a href="../index">首页</a>>发布信息
		</p>
		<div class="fabu2 public2">
			<div class="fabu_title">
				<img src="../static/images/main/fabu.jpg" width="149" height="66"
					border="0" alt="">
			</div>
			<div class="fb_main">
				<img src="../static/images/main/xxfb/1.png" width="300" height="180"
					class="fl">
				<div id="" class="">
					<dl id="slider2">
						<dt class="open">
							<img src="../static/images/main/xxfb/fb11.jpg" width="60"
								height="159" border="0" alt="">
						</dt>
						<dd>
							<div class="fabu_info">
								<h2>所有权交易信息发布</h2>
								如果您是土地、林业、渔业的所有者（拥有土地所有权证），您又需要将所有权的土地等农业资产变成交易的对象，请在这里，发布您的信息。注意，要详细哦：）
								</p>
								<p class="mt10 agreement">
									<input type="checkbox" name="agreement">阅读并同意本平台相关条例
								</p>
								<span class="btn_fb"><a href="../login/deal_add"
									id="example">立即发布交易信息</a></span>
							</div>
						</dd>
						<dt class="open">
							<img src="../static/images/main/xxfb/fb2.jpg" width="60"
								height="159" border="0" alt="">
						</dt>
						<dd>
							<div class="fabu_info">
								<h2>农业资产或设施需求信息发布</h2>
								<p class="fb_info_p">如果您想进入农业，承包或使用某一片土地、山林、水面乃至水利设施或相关的资源，您可以在这里发布您的需求，很快就会有人跟您接洽的。不信？发布一个需求信息（必须是真心需求哦），试试吧：）</p>
								<p class="mt5 agreement">
									<input type="checkbox" name="agreement">阅读并同意平台相关条例
								</p>
								<span class="btn_fb"><a href="../login/demand_add" id="example">立即发布需求信息</a></span>
							</div>
						</dd>
						<dt class="open">
							<img src="../static/images/main/xxfb/fb3.jpg" width="60"
								height="159" border="0" alt="">
						</dt>
						<dd>
							<div class="fabu_info">
								<h2>涉农招投标信息</h2>
								<p class="fb_info_p">这里，作为您是产权拥有者，可以对某一农村资源的使用、开发或建设进行招投标项目，以方便更快的找到合作伙伴，共同发展农业资源，提高农村经营经济发展！</p>
								<p class="mt5 agreement">
									<input type="checkbox" name="agreement">阅读并同意本平台相关条例
								</p>
								<span class="btn_fb"><a href="#" id="example">立即发布招投标信息</a></span>
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div id="InfoBox">
			<div class="Box_title">
				<img src="../static/images/main/tu9.png" width="28" height="28"><span
					class="ml5">发布需求信息</span><a href="javascript:void(0)" title="关闭窗口"
					class="close_btn" id="closeBtn">×</a>
			</div>

		</div>
	</div>
	<div th:include="common :: js"></div>
	<script type="text/javascript">
		var slider2 = new accordion.slider("slider2");
		slider2.init("slider2", 0, "open");
	</script>

</body>
</html>
