<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
<title id="pageTitle">产权交易信息发布~四平市铁西区农经总站土地流转管理平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<header th:include="common :: header"></header>
		<div th:include="common :: nav"></div>
		<!-- Content Begin -->
		<div class="Locate">
			<span></span>
			<p>
				当前位置：<a href="../index">首页</a>产权信息发布
			</p>
		</div>
		<div class="main3 clear public2">
			<div class="main_r">
				<h3 class="col_Name c4">发布人信息</h3>
			</div>
			<div class="main_w">
				<div class="fl pinka_left">
					<!--		<div class="screen_sel">
-->
					<div class="sel_attrs">
						<table class="attrs_table">
							<tr>
								<td class="t_prop"><strong>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="name" placeholder="输入产权人（或发布者）姓名" v-model="deal.name"></td>
								<td class="t_prop mt15"><strong>性&nbsp;&nbsp;&nbsp;&nbsp;别：</strong></td>
								<td><input type="radio" name="male" v-model="deal.sex"
									value="0">男 &nbsp;&nbsp;&nbsp;&nbsp; <input
									type="radio" name="female" v-model="deal.sex" value="1">女</td>
							</tr>
							<tr>
								<td class="t_prop"><strong>手&nbsp;&nbsp;&nbsp;&nbsp;机：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="mobile" placeholder="有效手机号码" v-model="deal.moibel"></td>
								<td class="t_prop mt15"><strong>信息属权：</strong></td>
								<td><input type="radio" name="infoKind"
									 v-model="deal.infoKind" value="0">个&nbsp;&nbsp;人
									&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="infoKind"
									v-model="deal.infoKind" value="1">集&nbsp;&nbsp;体</td>
							</tr>
							<tr>
								<td class="t_prop"><strong>联系地址：</strong></td>
								<td colspan="3" class="pl5"><input type="text"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 90%; padding: 0px 2px;"
									name="name" placeholder="输入产权人（或发布者）现住址" v-model="deal.address"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- publictor end-->
		<div class="main3 clear public2">
			<div class="main_r" style="width: auto;">
				<h3 class="col_Name c4">项目详细信息</h3>
			</div>
			<div class="main_w">
				<div class="fl pinka_left">
					<div class="sel_attrs">
						<table class="attrs_table">
							<tr>
								<td class="t_prop"><strong>项目名称：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="xmmc" placeholder="项目详细名称" v-model="deal.dealName"></td>
								<td class="t_prop"><strong>项目编号：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="xmbh" placeholder="自动生成项目编号" v-model="deal.dealNum"></td>
							</tr>
							<tr>
								<td class="t_prop"><strong>项目地址：</strong></td>
								<td colspan="3" class="pl5"><input type="text"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 90%; padding: 0px 2px;"
									name="xmdz" placeholder="输入流转项目的具体地址（位置）"
									v-model="deal.dealAddress"></td>
							</tr>
							<tr>
								<td class="t_prop"><strong>转出方：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="zcf" placeholder="联系人姓名" v-model="deal.output"></td>
								<td class="t_prop mt15"><strong>项目属权：</strong></td>
								<td><input type="radio" name="rightKind"
									v-model="deal.rightKind" value="0">个&nbsp;&nbsp;人
									&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="rightKind"
									v-model="deal.rightKind" value="1">集&nbsp;&nbsp;体</td>
							</tr>
							<tr>
								<td class="t_prop"><strong>权证编号：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="qzbh" placeholder="产权证编号" v-model="deal.warrantNum"></td>
								<td class="t_prop"><strong>面积|数量（亩|㎡）：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="mjsl" placeholder="项目数量" v-model="deal.areaNum"></td>
							</tr>

							<tr>
								<td class="t_prop"><strong>承包经营权人：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="cbjyqr" placeholder="现承包经营权人姓名" v-model="deal.personName"></td>
								<td class="t_prop mt15"><strong>是否他项权利人：</strong></td>
								<td><input type="radio" name="otherRightFlag"
									v-model="deal.otherRightFlag" value="1">是
									&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio"
									name="otherRightFlag" v-model="deal.otherRightFlag" value="0">否</td>
							</tr>

							<tr>
								<td class="t_prop"><strong>他项权利人：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="txqlr" placeholder="他项权利人名称"
									v-model="deal.otherRightName"></td>
								<td class="t_prop"><strong>他项权利内容：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="txqlnr" placeholder="他项权利内容（如存在）"
									v-model="deal.otherRightContext"></td>
							</tr>
							<tr>
								<td class="t_prop"><strong>涉及农户数：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="sjnhs" placeholder="涉项农户总数" v-model="deal.famerNum"></td>
								<td class="t_prop"><strong>原承包/租赁期：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="zlq" placeholder="采用时间选择项决定起始终止时间"
									v-model="deal.oldRentDate"></td>
							</tr>

							<tr>
								<td class="t_prop"><strong>地&nbsp;&nbsp;&nbsp;级：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="dj" placeholder="用地级别" v-model="deal.landLevel"></td>
								<td class="t_prop"><strong>地上物情况：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="dswqk" placeholder="地上物情况" v-model="deal.upThings"></td>
							</tr>

							<tr>
								<td class="t_prop"><strong>交通情况：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="jtqk" placeholder="交通情况" v-model="deal.traffic"></td>
								<td class="t_prop"><strong>是否属再次转出：</strong></td>
								<td><input type="radio" name="againFlag"
									v-model="deal.againFlag" value="1">是
									&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="againFlag"
									v-model="deal.againFlag" value="0">否</td>
							</tr>

							<tr>
								<td class="t_prop"><strong>流转承包用途：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="lzcbyt" placeholder="流转承包用途" v-model="deal.rentUse"></td>
								<td class="t_prop"><strong>原承包/出租人（发包人）是否同意：</strong></td>
								<td><input type="radio" name="yes" v-model="deal.agreeFlag"
									value="1">是 &nbsp;&nbsp;&nbsp;&nbsp; <input
									type="radio" name="no" v-model="deal.agreeFlag" value="0">否</td>
							</tr>

							<tr>
								<td class="t_prop"><strong>前次转出方式：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="qczcfs" placeholder="前次转出方式" v-model="deal.oldOutput"></td>
								<td class="t_prop"><strong>拟转出方式：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="nzcfs" placeholder="拟转出方式：承包、租赁、继承等"
									v-model="deal.hopeOutput"></td>
							</tr>

							<tr>
								<td class="t_prop"><strong>放弃行使优先权：</strong></td>
								<td colspan="3"><input type="radio" name="giveupRightFlag"
									value="1" v-model="deal.giveupRightFlag">是
									&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio"
									name="giveupRightFlag" value="0" v-model="deal.giveupRightFlag">否</td>
							</tr>

							<tr>
								<td class="t_prop"><strong>评估机构：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="pgjg" placeholder="评估机构名称" v-model="deal.assessOrg"></td>
								<td class="t_prop"><strong>评估基准日：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="pgjzr" placeholder="采用日期选择方式选择日期"
									v-model="deal.assessDate"></td>
							</tr>

							<tr>
								<td class="t_prop"><strong>评估值（元）：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="pgz" placeholder="标准计价方式，如：1,000.00"
									v-model="deal.assessValue"></td>
								<td class="t_prop"><strong>转出方式：</strong></td>
								<td class="t_prop_a"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 280px;"
									name="zcfs" placeholder="传出方式：个人承包，非家庭承包等"
									v-model="deal.outputWay"></td>
							</tr>

							<tr>
								<td class="t_prop"><strong>拟转出期限：</strong></td>
								<td colspan="3" class="t_prop_a"><input type="text"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 90%; padding: 0px 2px;"
									name="nzcrq" placeholder="采用时间选择项决定起始终止时间"
									v-model="deal.hopeOutputDate"></td>
							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- project's info end -->
		<!-- four info start-->
		<div class="main3 clear public2">
			<div class="main_r">
				<h2 class="col_Name c4">四至及交易条件</h2>
			</div>
			<div class="main_w">
				<div class="sel_attrs">
					<table class="attrs_table">
						<tr>
							<td colspan="4" class="t_prop c4">地块四至情况</td>
						</tr>
						<tr>
							<td class="t_prop">地块名称：</td>
							<td class="t_prop_c"><input type="text" size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px;"
								name="dkmc" placeholder=" 四至地块名称" v-model="deal.areaName">
							</td>
							<td class="t_prop">面积（亩）：</td>
							<td class="t_prop_c"><input type="text" size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px;"
								name="szdkmj" placeholder="地块面积数量" v-model="deal.area">
							</td>
						</tr>
						<tr>
							<td class="t_prop">东</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="east" placeholder="东向接壤情况" v-model="deal.east"></td>
						</tr>
						<tr>
							<td class="t_prop">南</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="south" placeholder="南向接壤情况" v-model="deal.south">
							</td>
						</tr>
						<tr>
							<td class="t_prop">西</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="west" placeholder="西向接壤情况" v-model="deal.west"></td>
						</tr>
						<tr>
							<td class="t_prop">北</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="north" placeholder="北向接壤情况" v-model="deal.north">
							</td>
						</tr>

						<tr>
							<td colspan="4" class="t_prop c4">交易方式及条件</td>
						</tr>
						<tr>
							<td class="t_prop">标的公告价格（元）</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								 style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="ggjg" placeholder="总成交金额" v-model="deal.showPreice">
							</td>
						</tr>
						<tr>
							<td class="t_prop">合同支付方式</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="pay" placeholder="按合同约束支付" v-model="deal.payWay">
							</td>
						</tr>
						<tr>
							<td class="t_prop">支付期限</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="zfqx" placeholder="按合同约束执行" v-model="deal.payLimit">
							</td>
						</tr>
						<tr>
							<td class="t_prop">其他交易条件</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="qtjytj" placeholder="其他附属交易补充条款" v-model="deal.otherPay">
							</td>
						</tr>
						<tr>
							<td class="t_prop">受让方应具备的条件</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="srftj" placeholder="受让方应当具备的条件限制"
								v-model="deal.shouldHave"></td>
						</tr>
						<tr>
							<td class="t_prop">到期未征集到受让方</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="mysrf" placeholder="自动撒牌" v-model="deal.overdue">
							</td>
						</tr>
						<tr>
							<td class="t_prop">补充事项</td>
							<td colspan="3" class="t_prop_c"><input type="text"
								size="30"
								style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
								name="bcsx" placeholder="其他需要批漏的事项" v-model="deal.supplement">
							</td>
						</tr>
					</table>
				</div>
			</div>


		</div>
		<!-- four info end  -->
		<!-- materials upload -->
		<div class="main3 clear public2">
			<div class="main_r" style="width: auto;">
				<h3 class="col_Name c4">资料照片上传</h3>
			</div>
			<div class="main_w">
				<div class="fl pinka_left">
					<div class="sel_attrs">
						<table class="attrs_table">
							<tr>
								<td class="t_prop"><strong>身份证：</strong></td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 90%; height: 35px;"
									name="sfz" placeholder="发布者身份证正反面。上传" v-model="deal.idCardPic">
								</td>
							</tr>
							<tr>
								<td class="t_prop"><strong>产权证：</strong></td>
								<td colspan="3" class="t_prop_a"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 90%; height: 35px;"
									name="cqz" placeholder="产权证重要页面上传。（多页上传）"
									v-model="deal.rightPic"></td>
							</tr>
							<tr>
								<td class="t_prop"><strong>合同书：</strong></td>
								<td colspan="3" class="pl5"><input type="text"
									style="border: none; color: #000; font-size: 14px; height: 35px; width: 98%; padding: 0px 2px;"
									name="name" placeholder="成交合同书上传" v-model="deal.dealPic">
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- materials upload end -->
		<div class="am-text-center am-padding">
			<button type="button" class="am-btn am-btn-default am-btn-warning"
				@click="submitDeal">
				<p>提交审批</p>
			</button>
			<button type="button" class="am-btn am-btn-default ">
				<p>重新填写</p>
			</button>
		</div>
	</div>

	<!-- Content End and the following is Footer Begin -->
	<div th:include="common :: footer"></div>
	<!-- Footer END -->
	<div th:include="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				deal : {
					sex: 0,
					infoKind: 0,
					rightKind: 0,
					otherRightFlag: 0,
					againFlag: 0,
					agreeFlag: 0,
					giveupRightFlag: 1,
				}
			},
			mounted : function() {

			},
			methods : {
				submitDeal : function() {
						hzToolObj.postRpc("/deal/deal_add", vm.deal ).done(function(result){
							if (result.code == 0) {
								window.location.href="/index";
							} else {
								layer.msg(result.msg);
							}
						});
					if (vm.checkDeal()) {
					}
				},
				checkDeal : function() {
					return true;
				},
			},
		});
	</script>



</body>
</html>
