<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">需求咨询信息发布—铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>
		<!-- container begin -->
		<div class="main clear mt5">
			
			<div th:include="common :: location">
				<div id="pageLocaton">需求信息发布/咨询</div>
			</div>
			
			<div class="xqfb pub">
				<div class="Box_title"
					style="padding-bottom: 10px; width: 100%; border-bottom: 1px dashed #c6c6c6;">
					<span class="ml5 c2 f20 font-weight-bold"
						style="font-family: '幼圆', '微软雅黑';">发布需求信息</span>

				</div>
				<table class="Box_table pb15">
					<tr>
						<td align=right><b>*</b>需求类别：</td>
						<td class="checkBox">
							<label v-for="item in demandKindDic" v-if="item.value != 0"> 
								<input type="radio" name="demandKind" :value="item.value" v-model="demandData.demandKind"><span>{{ item.label }}</span>
							</label>
						</td>
					</tr>
					<tr>
						<td align=right>资金范围：</td>
						<td>
							<select v-model="demandData.moneyLevel">
								<option value="0">请选择</option>
								<option v-for="item in moneyLevelDic" :value="item.value">{{ item.label }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td align=right>需求性质：</td>
						<td class="checkBox">
							<label for="demandInfoKind0"> 
								<input type="radio" id="demandInfoKind0" value="0" name="demandInfoKind" v-model="demandData.demandInfoKind"><span>{{ 0 | projectInfoKindFilter }}</span>
							</label>
							<label for="demandInfoKind1"> 
								<input type="radio" id="demandInfoKind1" value="1" name="demandInfoKind" v-model="demandData.demandInfoKind"><span>{{ 1 | projectInfoKindFilter }}</span>
							</label>
						</td>
					</tr>
					<tr>
						<td align=right><b>*</b>项目需求名称：</td>
						<td class="pop_jj">
							<input type="text" v-model="demandData.title">
						</td>
					</tr>
					<tr>
						<td align=right><b>*</b>详细需求描述：</td>
						<td class="pop_descript">
							<textarea name="" rows="" cols="" v-model="demandData.detail"></textarea>
						</td>
					</tr>
					<tr>
						<td align=right><b>*</b>联 系 人：</td>
						<td class="pop_contact">
							<input type="text" placeholder="姓名" v-model="demandData.person">
							<b>*</b>
							性别：
							<label for="male"> 
								<input type="radio" value="0" v-model="demandData.sex" name="male" >
								<span style="float: left;">先生</span>
							</label>
							<label for="female">
								<input type="radio" value="1" v-model="demandData.sex" name="female">
								<span style="float: left;">女士</span>
							</label>
						</td>
					</tr>
					<tr>
						<td align=right><b>*</b>联系方式：</td>
						<td class="pop_contact">
							<input type="text" placeholder="手机" v-model="demandData.mobile" id="mobile">
							<b>*</b>
							邮 箱：
							<input type="email" placeholder="邮 箱" v-model="demandData.email">
						</td>
					</tr>
					<tr>
						<td align=right>附 件：</td>
						<td>
							<span id="picker">上传附件</span>
							<span id="fileName"></span>
						</td>
					</tr>
					<tr>
						<td align=right></td>
						<td class="pop_agree"><input type="checkbox" v-model="readFlag">阅读并同意本平台相关条款</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<span class="btn_fb" @click="demandModify"><a >立即发布需求信息</a></span>
							<a class="pop_cancel" id="closebtn" href="/login/user_index">取&nbsp;消</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- container end -->
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				demandData : {
					demandKind: 1,
					moneyLevel: 0,
					sex: 0,
					fileUrl: null,
					person: "",
            		mobile: "",
            		email: "",
				},
				readFlag: false,
			},
			mounted : function() {
				this.demandData.demandId = getUrlParam('demandId');
				if(this.demandData.demandId){
					this.initDemand();
				} else {
					this.initUser();
				}
			},
			methods : {
				initDemand: function(){
					if(this.demandData.demandId){
						hzToolObj.postRpc("/demand/demandDetail", this.demandData).done(function (result) {
		                    vm.demandData = result.objData;
		                });
					} else {
						this.initUser();
					}
				},
				demandModify: function(){
					if(vm.checkNull()){
						vm.demandData.demandStatus = 2; 
						$.post("/demand/demandModfiy", vm.demandData, function (result) {
	                        if (result.code == 0) {
	                        	layer.alert("提交成功！",{icon:1, shade:0.4},function () {
	                                window.location.href = "../login/user_index";
	                            });
	                        } else {
	                            layer.msg(result.msg);
	                        }
	                    });
					}
				},
				checkNull: function(){
					if(!vm.demandData.demandKind){
						layer.msg("请选择需求类别！");
						return false;
					} else if(!vm.demandData.title){
						layer.msg("请填写项目需求名称！");
						return false;
					} else if(!vm.demandData.detail){
						layer.msg("请填写详细需求描述！");
						return false;
					} else if(!vm.demandData.person){
						layer.msg("请填写联系人！");
						return false;
					} else if(!vm.demandData.mobile){
						layer.msg("请填写联系方式！");
						return false;
					} else if(!(mobileReg.test(vm.demandData.mobile))){ 
						layer.msg("手机号码有误，请重填");  
						 $("#mobile").focus();
						return false; 
					} else if(!vm.demandData.email){
						layer.msg("请填写邮箱！");
						return false;
					} else if(!(emailReg.test(vm.demandData.email))){ 
						layer.msg("邮箱有误，请重填");
						return false;
					} else if(!vm.readFlag){
						layer.msg("请阅读并同意本平台相关条款!");
						return false;
					} else {
						return true
					}
				},
				downFile: function(url){
		               window.location.href = "/file/downFile?filePath=" + url;
		        },
		        initUser: function(){
		        	var tUser = {
							userId: $("#baseUserId").text(),
					};
					$.post("/user/userDetail", tUser, function (result) {
						if (result.code == 0) {
		                	var userData = result.userData;
		                	vm.demandData.person = userData.nickName;
		                	vm.demandData.mobile = userData.mobile;
		                	vm.demandData.email = userData.email;
		                } 
		            });
		        },
			},
			
			
		});
		$(function(){
			WebUploader.create({
		        auto: true,
		        swf: '/static/plugin/webuploader/Uploader.swf',
		        server: '/file/upload',
		        pick: '#picker',
		        resize: false,
		        formData: {
		            fileKind: 3,
		        }
				}).on("uploadSuccess",function(file, resp){
				    if(0 == resp.code){
				        $("#fileName").html("上传成功！点击<a href='javascript:;' onclick='vm.downFile(\"" + resp.url +"\")'>下载</a>");
				        vm.demandData.fileUrl = resp.url;
				        this.reset();
				    } else {
				        alert(resp.msg);
				    }
			});
			
		});
	</script>
</body>
</html>
