<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
<title id="pageTitle">新闻*政策*法规*公告发布系统~四平市铁西区农经总站土地流转管理平台</title>
</head>
<script src="../static/plugin/ckeditor/ckeditor.js"></script>
<script>
	window.onload = function() {
		CKEDITOR.replace('editor');
        $("#noticeKind").change(function () {
            vm.noticeInfo.noticeKind = $('#noticeKind option:selected').val();
        });
	};
</script>
<body>
	<header th:include="common :: header"></header>
	<div th:include="common :: nav"></div>
	<div id="app" v-cloak>
		<!-- Content Begin -->
		<div class="Locate">
			<span></span>
			<p>
				当前位置：<a href="/index">首页</a> > 新闻*政策*法规*公告发布
			</p>
		</div>
		<div class="main3 clear public2">
			<div class="main_r">
				<h2 class="col_Name c4">新闻*政策*法规*公告发布系统</h2>
			</div>
			<div class="main_w">
				<div class="fl pinka_left">
					<div class="sel_attrs">
						<table class="attrs_table">
							<tr>
								<td class="t_prop"><strong>标&nbsp;&nbsp;&nbsp;&nbsp;题：</strong></td>
								<td colspan="3" class="pl5">
									<input type="text" class="am-form-field table-input" placeholder="输入新闻*政策*法规*公告等信息的标题" v-model="noticeInfo.title" > 
								</td>
							</tr>
							<tr>
								<td class="t_prop"><strong>发&nbsp;布&nbsp;人：</strong></td>
								<td class="t_prop_a">
									<input type="text" class="am-form-field table-input" placeholder="发布人的姓名或单位名称等" v-model="noticeInfo.companyName" > 
								</td>
								<td class="t_prop"><strong>发布时间：</strong></td>
								<td class="t_prop_a">
									{{ noticeInfo.createDateStr }}
								</td>
							</tr>
							<tr>
								<td class="t_prop"><strong>文章类别:</strong></td>
								<td colspan="3">
									<select id="noticeKind" data-am-selected v-model="noticeInfo.noticeKind">
										<option value="1">新闻</option>
										<option value="2">政策</option>
										<option value="3">法规</option>
										<option value="3">公告</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="4" class="t_prop"><strong>内容编辑：</strong></td>
							</tr>
							<tr>
								<td colspan="4" class="t_prop_a cheditor">
									<textarea id="editor" name="editor" v-model="noticeInfo.noticeText"></textarea>
								</td>
							</tr>
						</table>
						<div class="am-text-center am-padding">
							<button type="button"
								class="am-btn am-btn-default am-btn-warning" @click="submit">
								<span>立刻发布</span>
							</button>
							<button type="button" class="am-btn am-btn-default ">
								<span>取消发布</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- materials upload end -->
		<!-- Content End and the following is Footer Begin -->
		<!-- Footer END -->
	</div>
	<div th:include="common :: footer"></div>
	<div th:include="common :: js"></div>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				noticeInfo : {
					createDateStr: "",
					noticeKind: 1,
				},
			},
			mounted : function() {
				this.getNoWDate()
			},
			methods : {
				submit : function() {
					if (vm.checkInfo()) {
						hzToolObj.postRpc("/notice/notice_add", vm.noticeInfo).done(function(result) {
							if (result.code == 0) {
								window.location.href = "/index";
							} else {
								layer.msg(result.msg);
							}
						});
					}
				},
				checkInfo : function() {
					if (!vm.noticeInfo.title){
						layer.msg("标题不能为空！");
						return false;
					} else if (!vm.noticeInfo.companyName) {
						layer.msg("发布人不能为空！");
						return false;
					} else if(CKEDITOR.instances.editor.getData() == "") {
						layer.msg("内容不能为空！");
						return false;
					} else {
						vm.noticeInfo.noticeText = CKEDITOR.instances.editor.getData();
						return true;
					}
				},
				getNoWDate: function(){
					var myDate = new Date();
					var month = myDate.getMonth() + 1;
					this.noticeInfo.createDateStr = myDate.getFullYear() + "年" + month + "月" + myDate.getDate() + "日";
				}
			}
		});
	</script>
</body>
</html>
