<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">交易信息详情—铁西区农村经济总站土地流转交易监管平台</title>
</head>

<link rel="stylesheet" type="text/css" th:href="@{/static/module/project_style.css}">

<body>
 <!-- v-cloak -->
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>

		<!-- container begin -->
		<div class="main clearfix mt10">
		
			<div th:include="common :: location">
				<div id="pageLocaton">土地流转项目信息详情</div>
			</div>
			
			<h3 class="c2 text-center">{{ projectData.projectName }}</h3>
			<p class="text-center f14" style="font-family: '宋体';">
				<b>发布时间：</b><span>{{ projectData.createDateStr }}</span> &nbsp;&nbsp;
				<b>访问数量:</b><span>{{ visitNum }}</span>
			
			<div class="tdfb clear public2">
			<div th:fragment="project_detail">
				<div class="main_r" style="width: auto;">
					<h3 class="col_Name c4">发布人信息</h3>
				</div>
				<div class="main_w">
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.name }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>性&nbsp;&nbsp;&nbsp;&nbsp;别：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.sex | sexFilter }}</span>
			            </div>
			        </div>
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>手&nbsp;&nbsp;&nbsp;&nbsp;机：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.mobile }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>信息属权：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.infoKind | projectInfoKindFilter }}</span>
			            </div>
			        </div>
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>联系地址：</strong>
			            </div>
			            <div class="col-sm-10">
			            	<span class="form-span" v-if="projectData.areaName">{{ projectData.areaName }}</span>
			            	<span class="form-span" v-if="projectData.townName">{{ projectData.townName }}</span>
			            	<span class="form-span" v-if="projectData.taddress">{{ projectData.address }}</span>
			            </div>
			        </div>
				</div>
				<div class="main_r clear">
					<h3 class="col_Name c4">项目详细信息</h3>
				</div>
				<div class="main_w">
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>项目名称：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.projectName }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>流转方式：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.projectKind | projectKindFilter }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>项目地址：</strong>
			            </div>
			            <div class="col-sm-10">
			            	<span class="form-span">{{ projectData.projectAddress }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>转出方：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.outputPersonName }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>项目属权：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.rightKind | projectInfoKindFilter }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>权证编号：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.warrantNum }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>面积|数量（亩|㎡）：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.areaNum }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>承包经营权人：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.personName }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>是否他项权利人：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.otherRightFlag |  commonYesNoFilter }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>他项权利人：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.otherRightName }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>他项权利内容：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.otherRightContext }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>涉及农户数：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.famerNum }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>原承包/租赁期：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.oldRentDateStart }}</span>
			            	<span class="form-span" v-if="projectData.oldRentDateStart && projectData.oldRentDateEnd">至</span>
			            	<span class="form-span">{{ projectData.oldRentDateEnd }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>地&nbsp;&nbsp;&nbsp;级：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.landLevel }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>地上物情况：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.upThings }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>交通情况：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.traffic }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>是否属再次转出：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.againFlag | commonYesNoFilter }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>流转承包用途：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.rentUse }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>原承包/出租人（发包人）是否同意：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.agreeFlag | commonYesNoFilter }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>前次转出方式：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.oldOutput }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>拟转出方式：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.hopeOutput }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>放弃行使优先权：</strong>
			            </div>
			            <div class="col-sm-10">
			            	<span class="form-span">{{ projectData.giveupRightFlag | commonYesNoFilte }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>评估机构：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.assessOrg }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>评估基准日：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.assessDate }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>评估值（元）：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.assessValue }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>转出方式：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.outputWay }}</span>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>拟转出期限：</strong>
			            </div>
			            <div class="col-sm-10">
			            	<span class="form-span">{{ projectData.hopeOutputDateStart }}</span>
			            	<span class="form-span" v-if="projectData.hopeOutputDateStart && projectData.hopeOutputDateEnd">至</span>
			            	<span class="form-span">{{ projectData.hopeOutputDateEnd }}</span>
			            </div>
			        </div>
				</div>
				<!-- four info start-->
				<div class="main_r clear">
					<h2 class="col_Name c4">四至及交易条件</h2>
				</div>
				<div class="main_w">
					<div class="form-inline">
			            <div class="col-sm-12 form-label t_prop bold c4">
			            	<strong>地块四至情况</strong>
			            </div>
			        </div>        
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>地块名称：</strong>
			            </div>
			            <div class="col-sm-4">
			                <span class="form-span">{{ projectData.areaName }}</span>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>面积（亩）：</strong>
			            </div>
			            <div class="col-sm-4">
			            	<span class="form-span">{{ projectData.area }}</span>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>东</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.east }}</span>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>南</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.south }}</span>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>西</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.west }}</span>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>北</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.north }}</span>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-12 form-label t_prop bold c4">
			            	<strong>交易方式及条件</strong>
			            </div>
			        </div>  
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>标的公告价格（元）</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.showPreice }}</span>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>合同支付方式</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.payWay }}</span>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>支付期限</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.payLimit }}</span>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>其他交易条件</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.otherPay }}</span>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>受让方应具备的条件</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.shouldHave }}</span>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>到期未征集到受让方</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.overdue }}</span>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>补充事项</strong>
			            </div>
			            <div class="col-sm-10">
			                <span class="form-span">{{ projectData.supplement }}</span>
			            </div>
			        </div> 
				</div>
			</div>
			</div>

			<div class="clearl" style="width: 90%; margin: 0 auto;">
				<p class="fl clear pl15 mb20" style="font-family: '微软雅黑'; font-size: 12px;">
					<b>上一页:</b>
					<a v-if="preProject" @click="goDetail(preProject.pkid)" style="font: '宋体' 12px;" >{{ preProject.projectName }}</a>
					<a v-else>无 </a>
				</p>
				<p class="pr15 fr mb20" style="font-family: '微软雅黑'; font-size: 12px;">
					<b>下一页：</b>
					<a v-if="nextProject" @click="goDetail(nextProject.pkid)" style="font: '宋体' 12px;" >{{ nextProject.projectName }}</a>
					<a v-else>无 </a>
				</p>
				<br>
			</div>
			<div id="share" style="float: right; margin-right: 30px;"></div>
		</div>
		<!-- container end -->
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script th:src="@{/static/js/watermark.js}"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				queryData:{},
				projectData: {},
				preProject: {},
				nextProject: {},
				visitNum: 0,
				loginUserId: "",
				picList1: [],
				picList2: [],
				picList3: [],
			},
			mounted : function() {
				this.loginUserId = $("#baseUserId").text();
				this.projectData.projectId = window.atob(getUrlParam('projectId'));
				this.queryData = JSON.parse(storage.getItem("projectQueryData"));
				this.queryData.projectId = this.projectData.projectId;
				this.initPage();
				this.initProPicList();
			},
			methods : {
				initProPicList: function(){
					hzToolObj.postRpc("/project/proPicList", {projectId: this.projectData.projectId, picKind: 1}).done(function(r) {	
	        			vm.picList1 = r.list;
	        		});
					hzToolObj.postRpc("/project/proPicList", {projectId: this.projectData.projectId, picKind: 2}).done(function(r) {	
	        			vm.picList2 = r.list;
	        		});
					hzToolObj.postRpc("/project/proPicList", {projectId: this.projectData.projectId, picKind: 3}).done(function(r) {	
	        			vm.picList3 = r.list;
	        		});
				},
				initPage: function(){
					this.initProject();
					this.initPreNext();
					hzToolObj.postRpc("/sysLog/addVisitLog", {bizKind:1,bizId: this.queryData.projectId}).done(function(result) {
						vm.visitNum = result.visitNum;
					});
				},
				initProject: function(){
					$.post("/project/queryDetail", this.projectData, function (result) {
                        if (result.code == 0) {
                           vm.projectData = result.projectData;
                           if(vm.projectData.projectStatus == 1){
                        	   waterMark("项目已实名认证，可放心交易");
                           } else if (vm.projectData.projectStatus == 4) {
                        	   waterMark("项目已实名认证");
                           }
                        } else {
                            layer.msg(result.msg);
                        }
                    });
				},
				initPreNext: function(){
					$.post("/project/queryPreNext", this.queryData, function (result) {
                        if (result.code == 0) {
                           vm.preProject = result.preProject;
                           vm.nextProject = result.nextProject;
                        } else {
                            layer.msg(result.msg);
                        }
                    });
				},
				goDetail: function(projectId){
					window.location.href="../login/project_detail?projectId=" + window.btoa(projectId);
				},
			},
		});
		
		socialShare('#share', {sites: ['qzone', 'qq', 'weibo','wechat']});
	</script>
</body>
</html>
