<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">项目信息发布—铁西区农村经济总站土地流转交易监管平台</title>
</head>

<link rel="stylesheet" type="text/css" th:href="@{/static/module/project_style.css}">
<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>
		<!-- container begin -->
		<div class="main clearfix mt10">
			
			<div th:include="common :: location">
				<div id="pageLocaton">土地流转项目信息发布</div>
			</div>

			<!-- table1 begin -->
			<div th:fragment="project_add">
			<div class="tdfb pub clearfix mb15">
				<div class="main_r">
					<h3 class="col_Name c4">发布人信息</h3>
				</div>
				<div class="main_w">
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="输入产权人（或发布者）姓名" v-model="projectData.name"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>性&nbsp;&nbsp;&nbsp;&nbsp;别：</strong>
			            </div>
			            <div class="col-sm-4 form-radio">
			            	<input type="radio" name="sex" value="0" v-model="projectData.sex">&nbsp;&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" name="sex" value="1" v-model="projectData.sex">&nbsp;&nbsp;女
			            </div>
			        </div>
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>手&nbsp;&nbsp;&nbsp;&nbsp;机：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="有效手机号码" v-model="projectData.mobile"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>信息属权：</strong>
			            </div>
			            <div class="col-sm-4 form-radio">
			            	<input type="radio" name="infoKind" value="0" v-model="projectData.infoKind">&nbsp;&nbsp;{{ 0 | projectInfoKindFilter }}&nbsp;&nbsp;
							<input type="radio" name="infoKind" value="1" v-model="projectData.infoKind">&nbsp;&nbsp;{{ 1 | projectInfoKindFilter }}</td>
			            </div>
			        </div>
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>联系地址：</strong>
			            </div>
			            <div class="col-sm-2 ">
			            	<select v-model="projectData.areaCode" class="form-select">
								<option value="0">选择乡镇</option>
								<option v-for="item in aeaList" :value="item.code">{{ item.areaName }}</option>
							</select>
			            </div>
			            <div class="col-sm-2 ">
			            	<select v-model="projectData.townCode" class="form-select">
								<option value="0">请选择村委</option>
								<option v-for="item in childAreas" :value="item.code">{{ item.areaName }}</option>
							</select>
			            </div>
			            <div class="col-sm-6" style="border: 1px solid #eee;">
			                <input class="form-input" type="text" placeholder="输入产权人（或发布者）现住址" v-model="projectData.address" style="border-bottom: 1px solid #eee !important"/>
			            </div>
			        </div>
				</div>
			</div>
			<!-- table1 end table2 begin -->
			<div class="tdfb clear public2">
				<div class="main_r" style="width: auto;">
					<h3 class="col_Name c4">项目详细信息</h3>
				</div>
				<div class="main_w">
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>项目名称：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="项目详细名称" v-model="projectData.projectName"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>流转方式：</strong>
			            </div>
			            <div class="col-sm-4" style="text-align: center;">
			            	<select v-model="projectData.projectKind" id="projectKind" class="form-select">
								<option value="0">请选择流转方式</option>
								<option value="1">{{ 1 | projectKindFilter }}</option>
								<option value="2">{{ 2 | projectKindFilter }}</option>
								<option value="3">{{ 3 | projectKindFilter }}</option>
								<option value="4">{{ 4 | projectKindFilter }}</option>
							</select>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>项目地址：</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="输入流转项目的具体地址（位置）" v-model="projectData.projectAddress"/>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>转出方：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="联系人姓名" v-model="projectData.outputPersonName"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>项目属权：</strong>
			            </div>
			            <div class="col-sm-4 form-radio">
			            	<input type="radio" name="rightKind" value="0" v-model="projectData.rightKind">&nbsp;&nbsp;{{ 0 | projectInfoKindFilter }}&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" name="rightKind" value="1" v-model="projectData.rightKind">&nbsp;&nbsp;{{ 1 | projectInfoKindFilter }}
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>权证编号：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="产权证编号" v-model="projectData.warrantNum"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>面积|数量（亩）：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="number" placeholder="项目数量" v-model="projectData.areaNum"/>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>承包经营权人：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="现承包经营权人姓名" v-model="projectData.personName"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>是否他项权利人：</strong>
			            </div>
			            <div class="col-sm-4 form-radio">
			                <input type="radio" name="otherRightFlag" value="1" v-model="projectData.otherRightFlag">&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" name="otherRightFlag" value="0" v-model="projectData.otherRightFlag">&nbsp;&nbsp;否
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>他项权利人：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="他项权利人名称" v-model="projectData.otherRightName"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>他项权利内容：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="他项权利内容（如存在）" v-model="projectData.otherRightContext"/>
			            </div>
			        </div>
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>涉及农户数：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="number" placeholder="涉项农户总数" v-model="projectData.famerNum"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>原承包/租赁期：</strong>
			            </div>
			            <div class="col-sm-4" style="text-align: center;">
			            	<div class="input-group" style="text-align: center;">
				                <input class="form-date" type="text" placeholder="起始时间" id="oldRentDateStart" readonly="readonly"/>
								<span class="input-group-addon form-radio" style="width: 10%">至</span>
								<input class="form-date" type="text" placeholder="终止时间" id="oldRentDateEnd" readonly="readonly"/>
					        </div>
			            </div>
			        </div>
				    <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>地&nbsp;&nbsp;&nbsp;级：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="用地级别" v-model="projectData.landLevel"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>地上物情况：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="地上物情况" v-model="projectData.upThings"/>
			            </div>
			        </div>    
				    <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>交通情况：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="交通情况" v-model="projectData.traffic"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>是否属再次转出：</strong>
			            </div>
			            <div class="col-sm-4 form-radio">
							<input type="radio" name="againFlag" value="1" v-model="projectData.againFlag">&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" name="againFlag" value="0" v-model="projectData.againFlag">&nbsp;&nbsp;否
			            </div>
			        </div>    
				    <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>流转承包用途：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="流转承包用途" v-model="projectData.rentUse"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>原承包/出租人（发包人）是否同意：</strong>
			            </div>
			            <div class="col-sm-4 form-radio">
							<input type="radio" name="agreeFlag" value="1" v-model="projectData.agreeFlag">&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" name="agreeFlag" value="0" v-model="projectData.agreeFlag">&nbsp;&nbsp;否
			            </div>
			        </div>    
				    <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>前次转出方式：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="前次转出方式" v-model="projectData.oldOutput"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>拟转出方式：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="拟转出方式：承包、租赁、继承等" v-model="projectData.hopeOutput"/>
			            </div>
			        </div>    
				    <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>放弃行使优先权：</strong>
			            </div>
			            <div class="col-sm-10 form-radio">
							<input type="radio" name="giveupRightFlag" value="1" v-model="projectData.giveupRightFlag">&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" name="giveupRightFlag" value="0" v-model="projectData.giveupRightFlag">&nbsp;&nbsp;否
			            </div>
			        </div>    
				    <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>评估机构：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="评估机构名称" v-model="projectData.assessOrg"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>评估基准日：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="评估基准日" id="assessDate" readonly="readonly"/>
			            </div>
			        </div>        
				    <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>评估值（元）：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="number" placeholder="标准计价方式，如：1,000.00" v-model="projectData.assessValue"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>转出方式：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder="传出方式：个人承包，非家庭承包等" v-model="projectData.outputWay"/>
			            </div>
			        </div>        
				     <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>拟转出期限：</strong>
			            </div>
			            <div class="col-sm-10" style="text-align: center;">
			            	<div class="input-group" style="text-align: center;">
				                <input class="form-date" type="text" placeholder="起始时间" id="hopeOutputDateStart" readonly="readonly"/>
								<span class="input-group-addon form-radio" style="width: 10%">至</span>
								<input class="form-date" type="text" placeholder="终止时间" id="hopeOutputDateEnd" readonly="readonly"/>
					        </div>
			            </div>
			        </div>  
				</div>
			</div>
			<!-- table2 end table3 begin-->
			<div class="tdfb clear public2">
				<div class="main_r">
					<h2 class="col_Name c4">四至及交易条件</h2>
				</div>
				<div class="main_w">
					<div class="form-inline">
			            <div class="col-sm-12 form-label t_prop bold c4">
			            	<strong>地块四至情况</strong>
			            </div>
			        </div>        
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>地块名称：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="text" placeholder=" 四至地块名称" v-model="projectData.areaName"/>
			            </div>
			            <div class="col-sm-2 form-label">
			            	<strong>面积（亩）：</strong>
			            </div>
			            <div class="col-sm-4">
			                <input class="form-input" type="number" placeholder="地块面积数量" v-model="projectData.area"/>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>东</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="东向接壤情况" v-model="projectData.east"/>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>南</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="南向接壤情况" v-model="projectData.south"/>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>西</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="西向接壤情况" v-model="projectData.west"/>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>北</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="北向接壤情况" v-model="projectData.north"/>
			            </div>
			        </div> 
					<div class="form-inline">
			            <div class="col-sm-12 form-label t_prop bold c4">
			            	<strong>交易方式及条件</strong>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>标的公告价格（元）</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="number" placeholder="总成交金额" v-model="projectData.showPreice" id="showPreice"/>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>合同支付方式</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="按合同约束支付" v-model="projectData.payWay"/>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>支付期限</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="按合同约束执行" v-model="projectData.payLimit"/>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>其他交易条件</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="其他附属交易补充条款" v-model="projectData.otherPay"/>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>受让方应具备的条件</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="受让方应当具备的条件限制" v-model="projectData.shouldHave"/>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>到期未征集到受让方</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="自动撒牌" v-model="projectData.overdue"/>
			            </div>
			        </div> 
			        <div class="form-inline">
			            <div class="col-sm-2 form-label">
			            	<strong>补充事项</strong>
			            </div>
			            <div class="col-sm-10">
			                <input class="form-input" type="text" placeholder="其他需要批漏的事项" v-model="projectData.supplement"/>
			            </div>
			        </div> 
				</div>
			</div>
		</div>
		</div>
		<div class="clear mb25" style="text-align: center;">
			<button type="button" class="btn btn-default active btn-info" style="width: 20%; background: #6e3e0d; margin-right: 25px;" v-if="!projectData.projectId" @click="submitProject('add')">提交审批</button>
			<button type="button" class="btn btn-default active btn-info" style="width: 20%; background: #6e3e0d; margin-right: 25px;" v-else @click="submitProject('upd')">提交修改</button>
			<button type="button" class="btn btn-default active btn-info" style="width: 20%; background: #6e3e0d;" @click="cancel">取消</button>
		</div>
		<footer class="footer">
			<div th:replace="common::foot"></div>
		</footer>
	</div>
	<div th:include="common :: js"></div>
	<script th:src="@{/static/module/project_add.js}"></script>
</body>
</html>
