<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">项目信息发布—铁西区农村经济总站土地流转交易监管平台</title>
</head>

<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>
		<!-- container begin -->
		<div class="main clearfix mt10">
			
			<div th:include="common :: location">
				<div id="pageLocaton">土地流转项目信息发布</div>
			</div>

			<!-- table1 begin -->
			<div class="tdfb pub clearfix mb15">
				<div class="main_r">
					<h3 class="col_Name c4">发布人信息</h3>
				</div>

				<div class="main_w">
					<div class="fl pinka_left">
						<div class="sel_attrs">
							<table class="attrs_table">
								<tr>
									<td class="t_prop"><strong>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</strong></td>
									<td class="t_prop_a">
										<input type="text" size="30" id="name"
										style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px;" 
										name="name" placeholder="输入产权人（或发布者）姓名" v-model="projectData.name">
									</td>
									<td class="t_prop mt15"><strong>性&nbsp;&nbsp;&nbsp;&nbsp;别：</strong></td>
									<td class="pl10"><input type="radio" name="sex" value="0"
										v-model="projectData.sex">&nbsp;&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="sex" value="1" v-model="projectData.sex">&nbsp;&nbsp;女</td>
								</tr>
								<tr>
									<td class="t_prop"><strong>手&nbsp;&nbsp;&nbsp;&nbsp;机：</strong></td>
									<td class="t_prop_a">
										<input type="text" size="30" id="mobile"
											style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 100%;"
											name="mobile" placeholder="有效手机号码" v-model="projectData.mobile">
									</td>
									<td class="t_prop mt15"><strong>信息属权：</strong></td>
									<td class="pl10">
										<input type="radio" name="infoKind" value="0" v-model="projectData.infoKind">&nbsp;&nbsp;{{ 0 | projectInfoKindFilter }}&nbsp;&nbsp;
										<input type="radio" name="infoKind" value="1" v-model="projectData.infoKind">&nbsp;&nbsp;{{ 1 | projectInfoKindFilter }}</td>
								</tr>
								<tr>
									<td class="t_prop"><strong>联系地址：</strong></td>
									<td colspan="3" class="pl5">
										<select v-model="projectData.areaCode">
											<option value="0">选择乡镇</option>
											<option v-for="item in aeaList" :value="item.code">{{ item.areaName }}</option>
										</select>
										<select v-model="projectData.townCode" v-show="childAreas.length > 0">
											<option value="0">请选择村委</option>
											<option v-for="item in childAreas" :value="item.code">{{ item.areaName }}</option>
									</select> 
										<input type="text"
										style="border: none; color: #000; font-size: 14px; padding: 0px 2px; height: 35px; width: 68%; padding: 0px 2px;"
										name="name" placeholder="输入产权人（或发布者）现住址"
										v-model="projectData.address"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- table1 end table2 begin -->
			<div class="tdfb clear public2">
				<div class="main_r" style="width: auto;">
					<h3 class="col_Name c4">项目详细信息</h3>
				</div>
				<div class="main_w">
					<div class="fl pinka_left">
						<div class="sel_attrs">
							<table class="attrs_table">
								<tr>
									<td class="t_prop"><strong>项目名称：</strong></td>
									<td class="t_prop_a">
										<input type="text" size="30" id="projectName"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 100%;"
										name="xmmc" placeholder="项目详细名称" v-model="projectData.projectName">
									</td>
									<td class="t_prop"><strong>流转方式：</strong></td>

									<td class="pl10">
										<select v-model="projectData.projectKind" id="projectKind">
											<option value="0">请选择流转方式</option>
											<option value="1">{{ 1 | projectKindFilter }}</option>
											<option value="2">{{ 2 | projectKindFilter }}</option>
											<option value="3">{{ 3 | projectKindFilter }}</option>
											<option value="4">{{ 4 | projectKindFilter }}</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="t_prop"><strong>项目地址：</strong></td>
									<td colspan="3" class="pl5"><input type="text"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 100%; padding: 0px 2px;"
										name="xmdz" placeholder="输入流转项目的具体地址（位置）"
										v-model="projectData.projectAddress"></td>
								</tr>
								<tr>
									<td class="t_prop"><strong>转出方：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="zcf" placeholder="联系人姓名"
										v-model="projectData.outputPersonName"></td>
									<td class="t_prop mt15"><strong>项目属权：</strong></td>
									<td class='pl10'><input type="radio" name="rightKind"
										value="0" v-model="projectData.rightKind">&nbsp;&nbsp;{{ 0 | projectInfoKindFilter }}&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="rightKind" value="1"
										v-model="projectData.rightKind">&nbsp;&nbsp;{{ 1 | projectInfoKindFilter }}</td>
								</tr>
								<tr>
									<td class="t_prop"><strong>权证编号：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="qzbh" placeholder="产权证编号" v-model="projectData.warrantNum"></td>
									<td class="t_prop"><strong>面积|数量（亩|㎡）：</strong></td>
									<td class="t_prop_a"><input type="number" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="mjsl" placeholder="项目数量" v-model="projectData.areaNum"></td>
								</tr>

								<tr>
									<td class="t_prop"><strong>承包经营权人：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="cbjyqr" placeholder="现承包经营权人姓名"
										v-model="projectData.personName"></td>
									<td class="t_prop mt15"><strong>是否他项权利人：</strong></td>
									<td class='pl10'><input type="radio" name="otherRightFlag"
										value="1" v-model="projectData.otherRightFlag">&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="otherRightFlag" value="0"
										v-model="projectData.otherRightFlag">&nbsp;&nbsp;否</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>他项权利人：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="txqlr" placeholder="他项权利人名称"
										v-model="projectData.otherRightName"></td>
									<td class="t_prop"><strong>他项权利内容：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="txqlnr" placeholder="他项权利内容（如存在）"
										v-model="projectData.otherRightContext"></td>
								</tr>

								<tr>
									<td class="t_prop"><strong>涉及农户数：</strong></td>
									<td class="t_prop_a"><input type="number" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="sjnhs" placeholder="涉项农户总数" v-model="projectData.famerNum"></td>
									<td class="t_prop"><strong>原承包/租赁期：</strong></td>
									<td class="t_prop_a">
										<input type="text" size="30"
											style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
											placeholder="采用时间选择项决定起始终止时间" id="oldRentDate" 
											readonly="readonly">
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>地&nbsp;&nbsp;&nbsp;级：</strong></td>
									<td class="t_prop_a">
										<input type="text" size="30" style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"name="dj" placeholder="用地级别" v-model="projectData.landLevel">
									</td>
									<td class="t_prop"><strong>地上物情况：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="dswqk" placeholder="地上物情况" v-model="projectData.upThings"></td>
								</tr>

								<tr>
									<td class="t_prop"><strong>交通情况：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="jtqk" placeholder="交通情况" v-model="projectData.traffic"></td>
									<td class="t_prop"><strong>是否属再次转出：</strong></td>
									<td class='pl10'><input type="radio" name="againFlag"
										value="1" v-model="projectData.againFlag">&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="againFlag" value="0"
										v-model="projectData.againFlag">&nbsp;&nbsp;否</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>流转承包用途：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="lzcbyt" placeholder="流转承包用途" v-model="projectData.rentUse"></td>
									<td class="t_prop"><strong>原承包/出租人（发包人）是否同意：</strong></td>
									<td class='pl10'><input type="radio" name="agreeFlag"
										value="1" v-model="projectData.agreeFlag">&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="agreeFlag" value="0"
										v-model="projectData.agreeFlag">&nbsp;&nbsp;否</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>前次转出方式：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="qczcfs" placeholder="前次转出方式" v-model="projectData.oldOutput"></td>
									<td class="t_prop"><strong>拟转出方式：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="nzcfs" placeholder="拟转出方式：承包、租赁、继承等"
										v-model="projectData.hopeOutput"></td>
								</tr>

								<tr>
									<td class="t_prop"><strong>放弃行使优先权：</strong></td>
									<td class='pl10' colspan="3"><input type="radio"
										name="giveupRightFlag" value="1"
										v-model="projectData.giveupRightFlag">&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="giveupRightFlag" value="0"
										v-model="projectData.giveupRightFlag">&nbsp;&nbsp;否</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>评估机构：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="pgjg" placeholder="评估机构名称" v-model="projectData.assessOrg"></td>
									<td class="t_prop"><strong>评估基准日：</strong></td>
									<td class="t_prop_a">
										<input type="text"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										placeholder="输入日期:yyyy-mm-dd" id="assessDate"
										readonly="readonly">
									</td>
								</tr>

								<tr>
									<td class="t_prop"><strong>评估值（元）：</strong></td>
									<td class="t_prop_a"><input type="number" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="pgz" placeholder="标准计价方式，如：1,000.00"
										v-model="projectData.assessValue"></td>
									<td class="t_prop"><strong>转出方式：</strong></td>
									<td class="t_prop_a"><input type="text" size="30"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 280px;"
										name="zcfs" placeholder="传出方式：个人承包，非家庭承包等"
										v-model="projectData.outputWay"></td>
								</tr>

								<tr>
									<td class="t_prop"><strong>拟转出期限：</strong></td>
									<td colspan="3" class="t_prop_a">
									<input type="text" placeholder="采用时间选择项决定起始终止时间"
										style="border: none; color: #000; font-size: 13px; padding: 0px 2px; height: 35px; width: 90%; padding: 0px 2px;"
										id="hopeOutputDate" readonly="readonly">
									</td>
								</tr>

							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- table2 end table3 begin-->
			<div class="tdfb clear public2">
				<div class="main_r">
					<h2 class="col_Name c4">四至及交易条件</h2>
				</div>
				<div class="main_w">
					<div class="sel_attrs">
						<table class="attrs_table">
							<tr>
								<td colspan="4" class="t_prop bold c4">地块四至情况</td>
							</tr>
							<tr>
								<td class="t_prop">地块名称：</td>
								<td class="t_prop_c"><input type="text" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px;"
									name="dkmc" placeholder=" 四至地块名称" v-model="projectData.areaName"></td>
								<td class="t_prop">面积（亩）：</td>
								<td class="t_prop_c"><input type="number" size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px;"
									name="szdkmj" placeholder="地块面积数量" v-model="projectData.area"></td>
							</tr>
							<tr>
								<td class="t_prop">东</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="east" placeholder="东向接壤情况" v-model="projectData.east"></td>
							</tr>
							<tr>
								<td class="t_prop">南</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="south" placeholder="南向接壤情况" v-model="projectData.south"></td>
							</tr>
							<tr>
								<td class="t_prop">西</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="west" placeholder="西向接壤情况" v-model="projectData.west"></td>
							</tr>
							<tr>
								<td class="t_prop">北</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="north" placeholder="北向接壤情况" v-model="projectData.north"></td>
							</tr>

							<tr>
								<td colspan="4" class="t_prop bold c4">交易方式及条件</td>
							</tr>
							<tr>
								<td class="t_prop bold">标的公告价格（元）</td>
								<td colspan="3" class="t_prop_c">
									<input type="number" size="30" id="showPreice"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="ggjg" placeholder="总成交金额" v-model="projectData.showPreice">
								</td>
							</tr>
							<tr>
								<td class="t_prop">合同支付方式</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="pay" placeholder="按合同约束支付" v-model="projectData.payWay"></td>
							</tr>
							<tr>
								<td class="t_prop">支付期限</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="zfqx" placeholder="按合同约束执行" v-model="projectData.payLimit"></td>
							</tr>
							<tr>
								<td class="t_prop">其他交易条件</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="qtjytj" placeholder="其他附属交易补充条款"
									v-model="projectData.otherPay"></td>
							</tr>
							<tr>
								<td class="t_prop">受让方应具备的条件</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="srftj" placeholder="受让方应当具备的条件限制"
									v-model="projectData.shouldHave"></td>
							</tr>
							<tr>
								<td class="t_prop">到期未征集到受让方</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="mysrf" placeholder="自动撒牌" v-model="projectData.overdue"></td>
							</tr>
							<tr>

								<td class="t_prop">补充事项</td>
								<td colspan="3" class="t_prop_c"><input type="text"
									size="30"
									style="border: none; color: #000; font-size: 14px; padding: 0px 2px; width: 80%; height: 35px;"
									name="bcsx" placeholder="其他需要批漏的事项"
									v-model="projectData.supplement"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<!-- table3 end tabel4 begin -->
			<div class="tdfb clear public2">
				<div class="main_r" style="width: auto;">
					<h3 class="col_Name c4">资料照片上传</h3>
				</div>
				<div class="main_w">
					<div class="fl pinka_left">
						<div class="sel_attrs">
							<table class="attrs_table">
								<tr>
									<td class="t_prop">
										<a class="btn btn-default active btn-info" @click="openUpload('idcard')"><strong>身份证</strong></a>
									</td>
									<td class="t_prop">
										<a class="btn btn-default active btn-info" @click="openUpload('idcard')"><strong>产权证</strong></a>
									</td>
									<td class="t_prop">
										<a class="btn btn-default active btn-info" @click="openUpload('idcard')"><strong>合同书</strong></a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="clear mb25" style="text-align: center;">
			<button type="button" class="btn btn-default active btn-info" style="width: 20%; background: #6e3e0d; margin-right: 25px;" v-if="!projectData.projectId" @click="submitProject('add')">提交审批</button>
			<button type="button" class="btn btn-default active btn-info" style="width: 20%; background: #6e3e0d; margin-right: 25px;" v-else @click="submitProject('upd')">提交修改</button>
			<button type="button" class="btn btn-default active btn-info" style="width: 20%; background: #6e3e0d;" @click="cancel">取消</button>
		</div> -->
		<footer class="footer">
			<div th:replace="common::foot"></div>
		</footer>
	</div>
	<div th:include="common :: js"></div>
	<!-- <div th:include="common :: js"></div> -->
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				aeaList: [],
				childAreas: [],
				projectData : {
					// projectPerson
					sex: 0,
					townCode: 0,
					areaCode: 0,
					infoKind: 0,
					
					// project
					projectKind: 0,
					rightKind: 0,
					otherRightFlag: 0,
					againFlag: 0,
					agreeFlag: 0,
					giveupRightFlag: 1,
				}
			},
			mounted : function() {
				this.initArea();
				this.projectData.projectId = getUrlParam('projectId');
				if(this.projectData.projectId){
					this.initProject();
				}
			},
			methods : {
				initArea: function(){
					$.post("/area/initArea", {}, function (result) {
                        if (result.code == 0) {
                        	vm.aeaList = result.area;
                        } else {
                            layer.msg(result.msg);
                        }
                    });
				},
				submitProject : function(kind) {
					if (vm.checkProject()) {
						var index = layer.load(0, { shade: [0.1,'#fff'] });
						var url = "/project/projectAdd";
						if(kind == "upd"){
							url = "/project/projectModify";
						}
					  	$.post(url, vm.projectData, function (result) {
	                        if (result.code == 0) {
	                            layer.msg("请携带身份证、产权证去邻近乡镇柜台办理！",{icon:1, time:2000, shade:0.4},function () {
	                                window.location.href = "../html/project_list";
	                            });
	                        } else {
	                            layer.msg(result.msg);
		                    	layer.close(index);
	                        }
	                    });
					}
				},
				checkProject : function() {
					if(!vm.projectData.mobile && !(/^1[34578]\d{9}$/.test(vm.projectData.mobile))){
						layer.msg("手机号码有误，请重填");  
						$("#mobile").focus();
						return false; 
					}
					if(!vm.projectData.name){
						layer.msg("请填写姓名");  
						$("#name").focus();
						return false; 
					}
					if(!vm.projectData.projectName){
						layer.msg("请填写项目名称");  
						$("#projectName").focus();
						return false; 
					}
					if(!vm.projectData.projectKind){
						layer.msg("请选择流转方式");  
						$("#projectKind").focus();
						return false; 
					}
					if(!vm.projectData.showPreice){
						layer.msg("请填写标的公告价格");  
						$("#showPreice").focus();
						return false; 
					}
					return true;
				},
				initProject: function(){
					if (this.projectData.projectId) {
						$.post("/project/queryDetail", this.projectData, function (result) {
	                        if (result.code == 0) {
	                            vm.projectData = result.projectData;
	                            $("#oldRentDate").val( vm.projectData.oldRentDate);
	                            $("#assessDate").val( vm.projectData.assessDate);
	                            $("#hopeOutputDate").val( vm.projectData.hopeOutputDate);
	                        } else {
	                            layer.msg(result.msg);
	                        }
	                    });
					}
				},
				cancel: function(){
					window.location.href = "/login/user_index";
				}
			},
			watch: {
				'projectData.areaCode': function(code){
					if(code && code != 0) {
						vm.childAreas = vm.aeaList.filter((item)=>{
		                    return item.code == code
		                })[0].childAreas;
					}	
				},
			}
		});
		
		
		jeDate("#oldRentDate", {
			multiPane:false,
			range:" 至 ",
	        minDate:'1949-10-01',
	        maxDate:'2100-10-01',
	        format: 'YYYY-MM-DD',
	        shortcut:[
	            {name:"一周",val:{DD:7}},
	            {name:"一个月",val:{DD:30}},
	            {name:"二个月",val:{MM:2}},
	            {name:"三个月",val:{MM:3}},
	            {name:"一年",val:{DD:365}}
	        ],
			donefun : function(obj) {
				vm.projectData.oldRentDate = $("#oldRentDate").val();
			}
		});
		jeDate("#assessDate", {
		    format: "YYYY-MM-DD",
			donefun : function(obj) {
				vm.projectData.assessDate = $("#assessDate").val();
			}
		});
		jeDate("#hopeOutputDate", {
			multiPane:false,
			range:" 至 ",
	        minDate:'1949-10-01',
	        maxDate:'2100-10-01',
	        format: 'YYYY-MM-DD',
	        shortcut:[
	            {name:"一周",val:{DD:7}},
	            {name:"一个月",val:{DD:30}},
	            {name:"二个月",val:{MM:2}},
	            {name:"三个月",val:{MM:3}},
	            {name:"一年",val:{DD:365}}
	        ],
			donefun : function(obj) {
				vm.projectData.hopeOutputDate = $("#hopeOutputDate").val();
			}
		});
		
		
	</script>
</body>
</html>
