<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">会员中心—铁西区农村经济总站土地流转交易监管平台</title>
</head>
	<style type="text/css">
	.tab-pane{
		    background-color: rgb(246, 239, 227);
		    width: 100%;
    		height: 100%;
    		position: absolute;
	}
	.openWinDiv{
			text-align: center;
		  	padding: 20px;
	}
	.control-group {
		margin-top: 20px;
	}
	</style>

<body>
	<div id="app" v-cloak>
		<div th:replace="common :: top"></div>
		<!-- container begin -->
		<div class="main clearfix">
			<div class="row clearfix main5">
				<div class="col-md-4 column"
					style="border-right: 3px solid #93590d; box-shadow: 2px 0 0 0 #ddd;">
					<div class="main6 mt20 clearfix">
						<table class="nav-tabs clearl" id="mytab" role="tablist"
							style="width: 100%;">
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px solid #ccc;">
								<td class="mb15">
									<span @click="uploadUserPic">
										<img class="rounded ml10 mb15" width="100%" height='auto' style="width: 100px;height: 100px; border-radius: 5px;  border: #5bc0de 1px; box-shadow: 0 1px 2px 1px #666;" v-if="!userData.userPic" src="/static/images/cent/touxiang.jpg" >
										<img class="rounded ml10 mb15" width="100%" height='auto' style="width: 100px;height: 100px; border-radius: 5px;  border: #5bc0de 1px; box-shadow: 0 1px 2px 1px #666;" :src="userData.userPic" v-else>
									</span>
								</td>
								<td>
									<p class="f18 ml20" style="color: #93590d;">{{ userData.userName}}</p>
									<p class="f12 ml20" style="font-family: '宋体';">
										<span style="color: #06c;" v-if="userData.userStatus == 1">{{ userData.userStatus | userStatusFilter }}</span>
										<span style="color: red;"  v-if="userData.userStatus == 2">{{ userData.userStatus | userStatusFilter }}</span>
									</p>
									<p class="ml20" style="font-family: '新宋体'; font-size: 11px;">
										上次访问时间:<span>{{ loginLog.logDateStr }}</span>
									</p>
					            </td>
							</tr>
							<tr class="mb15"
								style="width: 100%; border-bottom: 1px dashed #ccc;">
								<td>
									<p class="fl f20 ml10 mb5" style="color: #6e3e0d;">快速设置通道</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/ballet_realname_2x.png"
									class="ml10"></td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a  @click="openWin('win_idCard')">实名认证</a>
									</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/pws.png" class="ml10">
								</td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a @click="openWin('win_password')">修改密码</a>
									</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/phone.png" class="ml10">
								</td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a @click="openWin('win_phone')">更换手机</a>
									</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/email.png" class="ml10">
								</td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a @click="openWin('win_email')">更改邮箱</a>
									</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/pws.png" class="ml10">
								</td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a @click="openWin('win_baseInfo')">基础信息</a>
									</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/logout2x.png"
									class="ml10"></td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a @click="cancelUser">退出账号</a>
									</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-8 column text-center mt20">
					<div id="mytabContent" class="tab-content clearfix">
						<div>
							<!-- row1 start -->
							<div class="row clearfix member ml10">
								<table class="mb10" style="width: 100%; height: auto; margin-left: 30px;">
									<tr>
										<td style="width: 60%;">
											<div class="control-group form-inline">
								                <label class="control-label col-md-3 offset-md-3">会员名称：</label>
								                <div class="controls col-md-5">
								                    <span class="fl ml5">{{ userData.userName }}</span>
								                </div>
								            </div>
											<div class="control-group form-inline">
								                <label class="control-label col-md-3 offset-md-3">会员ID：</label>
								                <div class="controls col-md-5">
								                    <span class="fl ml5">{{ userData.userId }}</span>
								                </div>
								            </div>
											<div class="control-group form-inline">
								                <label class="control-label col-md-3 offset-md-3">手机号码：</label>
								                <div class="controls col-md-5">
								                    <span class="fl ml5">{{ userData.mobile }}</span>
								                </div>
								            </div>
											<div class="control-group form-inline">
								                <label class="control-label col-md-3 offset-md-3">注册时间：</label>
								                <div class="controls col-md-5">
								                    <span class="fl ml5">{{ userData.createDateStr }}</span>
								                </div>
								            </div>
										</td>
										<td style="width: 40%;">
											<div style="display: none; width: auto;margin-left: auto;margin-right: auto;">
												<span name="picker" id="userPic" style="float: left;margin-bottom: 5px;">上传头像</span>
											</div>
											<div style="width: 100px; height: 100px;" @click="uploadUserPic">
												<img src="../static/images/cent/touxiang.jpg" style="border-radius: 5px; box-shadow: 0 1px 2px 1px #666;" v-if="!userData.userPic">
												<img style="width: 100px;height: 100px; border-radius: 5px;  border: #5bc0de 1px; box-shadow: 0 1px 2px 1px #666;" alt="" :src="userData.userPic" v-else>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<!-- row1 end -->
							<hr width="98%" margin="0 auto">
							<!-- row2 start -->
							<div class="container control-group form-inline" v-show="winFlag.win_indexInfo">
								<div class="row clearfix" style="width: 100%;">
									<div id="first" style="width: 100%;">
										<ul class="clearfix nav nav-tabs" style="width: 100%;">
											<li class="nav-item">
												<a class="active nav-link" @click="changeTable('project')" href="#xmli" role="tab" data-toggle="tab" >我发布的项目信息列表</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" @click="changeTable('demand')" href="#xqli" role="tab" data-toggle="tab" >我发布的需求信息列表</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="../login/project_add.html">发布新信息</a>
											</li>
										</ul>
										<div class="tab-content" style="height: 100%;" >
											<div class="tab-pane active" id="xmli" v-show="winFlag.win_project">
												<div class="gerenxx clearl mb20">
													<div class="gerendetail">
														<table cellpadding="0" cellspacing="0" border="0">
															<tr class="head">
																<td class="widhead pl5 bold">项目信息</td>
																<td class="bold">发布时间</td>
																<td class="bold">发布状态</td>
																<td class="bold">编辑</td>
																<td class="bold">删除</td>
															</tr>
															<tr v-for="item in projectList">
																<td class="widhead"><a @click="goProDetail(item.projectId)">{{ item.projectName }}</a></td>
																<td><span>{{ item.createDateStr }}</span></td>
																<td>{{ item.projectStatus | projectStatusFilter}}</td>
																<td>
																	<a href="#">
																		<span v-if="item.projectStatus == 3" @click="refusePop(item)">原因</span>
																		<span v-if="item.projectStatus == 3 || item.projectStatus == 7" @click="modifyProject(item.projectId)">编辑</span>
																		<span v-if="item.projectStatus == 1" @click="doUpload(item)">结束</span>
																	</a>
																</td>
																<td>
																	<a href="#">
																		<span v-if="item.projectStatus == 7" @click="delProject(item.projectId)">删除</span>
																	</a>
																</td>
															</tr>
														</table>
													</div>
												</div>
												<div class="page mt10 mb20 " style=" margin-top: 20px;" v-if="winFlag.win_project">
													<ul id='pagination'></ul>
												</div>
											</div>
											<div class="tab-pane" id="xqli" v-show="winFlag.win_demand">
												<div class="gerenxx clearl mb20">
													<div class="gerendetail">
														<table cellpadding="0" cellspacing="0" border="0">
															<tr class="head">
																<td class="widhead pl5 bold">需求/留言信息</td>
																<td class="bold">发布时间</td>
																<td class="bold">发布状态</td>
																<td class="bold">编辑</td>
																<td class="bold">删除</td>
															</tr>
															<tr v-for="item in demandList">
																<td class="widhead"><a @click="goDemDetail(item.demandId)">{{ item.title }}</a></td>
																<td><span>{{ item.createDateStr }}</span></td>
																<td>{{ item.demandStatus | projectStatusFilter }}</td>
																<td>
																	<a href="#">
																		<span v-if="item.demandStatus == 2" @click="modifyDemand(item.demandId)">编辑</span>
																	</a>
																</td>
																<td>
																	<a href="#">
																		<span @click="delDemand(item.demandId)">删除</span>
																	</a>
																</td>
															</tr>
														</table>
													</div>
												</div>
												<div class="page mt10 mb20 " style=" margin-top: 20px;" v-if="winFlag.win_demand">
													<ul id='pagination'></ul>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- 以上是首页的内容,以下是’修改资料‘的内容 -->
							<div class="tab-pane" v-show="winFlag.win_baseInfo">
								<div class="openWinDiv">基础信息</div>
								<div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3" >用户名：</label>
					                <div class="controls col-md-5">
					                    <input type="text" placeholder="请输入用户名" class="form-control" style="width: 90%;"  v-model="userData.userName" autocomplete="off">
					                </div>
					            </div>
					            <div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3" >姓名：</label>
					                <div class="controls col-md-5">
					                    <input type="text" placeholder="请输入姓名" class="form-control" style="width: 90%;" v-model="userData.nickName">
					                </div>
					            </div>
					            <div class="control-group form-inline" >
					                <label class="control-label col-md-3 offset-md-3" >区域：</label>
					                <div class="controls col-md-5">
					                    <select class="form-control" v-model="userData.areaCode" style="width: 90%;" >
					                    	<option value="0">请选择</option>
					                        <option v-for="item in areaDic" :value="item.code">{{ item.areaName }}</option>
					                    </select>
					                </div>
					            </div>
					            <div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3">乡镇：</label>
					                <div class="controls col-md-5">
					                   <select class="form-control" v-model="userData.townCode" style="width: 90%;" >
					                    	<option value="0">请选择</option>
					                        <option v-for="item in childAreas" :value="item.code">{{ item.areaName }}</option>
					                    </select>
					                </div>
					            </div>
					            <div class="openWinDiv">
									<button style="background: #6e3e0d; color: #ffff;" @click="modifyUser('baseInfo')">确定</button>
									<button style="background: #6e3e0d; color: #ffff;" @click="closeOpenWin">取消</button>
								</div>
							</div>
							<!-- 以下是实名认证的内容 -->
							<div class="tab-pane " v-show="winFlag.win_idCard" style="min-height: 600px;">
								<div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3">身份证号：</label>
					                <div class="controls col-md-5">
					                    <input type="text" placeholder="请输入身份证号" class="form-control" style="width: 90%;"  v-model="userData.idCardNo" autocomplete="off">
					                </div>
					            </div>
								
								<div class="control-group form-inline">
									<div class="col-md-4 offset-md-2 text-center" style="display: block">
										<div style="display: table; width: auto;margin-left: auto;margin-right: auto;">
											<span name="picker" id="idCardPic" style="float: left;margin-bottom: 5px;">身份证正面照片</span>
										</div>
										<div style="display: table; width: auto;margin-left: auto;margin-right: auto;">
											<img style="width: 250px;height: 150px;border: #5bc0de 1px; border-radius: 3px;" alt="" :src="userData.idCardPic">
										</div>
									</div>
									<div class="col-md-4">
										<div style="display: table; width: auto;margin-left: auto;margin-right: auto;">
											<span name="picker" id="idCardPicBack" style="float: right;margin-bottom: 5px;">身份证背面照片</span>
										</div>
										<div style="display: table; width: auto;margin-left: auto;margin-right: auto;">
											<img style="width: 250px;height: 150px;border: #5bc0de 1px; border-radius: 3px;" alt="" :src="userData.idCardPicBack">
										</div>
									</div>
								</div>
								<div class="openWinDiv">
									<button style="background: #6e3e0d; color: #ffff;" @click="modifyUser('changeIdCard')" v-if="userData.userStatus == 2">确定</button>
									<button style="background: #6e3e0d; color: #ffff;" @click="closeOpenWin">取消</button>
								</div>
							</div>
							<!-- 以下是修改密码的内容 -->
							<div class="tab-pane" v-show="winFlag.win_password">
								<div class="openWinDiv">修改密码</div>
								<div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3" >原密码:</label>
					                <div class="controls col-md-5">
					                    <input type="password" placeholder="请输入原密码" class="form-control" style="width: 90%;"  v-model="userData.password" autocomplete="off">
					                </div>
					            </div>
								<div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3" >新密码:</label>
					                <div class="controls col-md-5">
					                    <input type="password" placeholder="请输入密码" class="form-control" style="width: 90%;"  v-model="userData.newPassword" autocomplete="off">
					                </div>
					            </div>
					            <div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3" for="password_v">确认密码:</label>
					                <div class="controls col-md-5">
					                    <input type="password" placeholder="请再次输入密码" class="form-control" style="width: 90%;" v-model="userData.newPassword_v" autocomplete="off">
					                </div>
					            </div>
								<div class="openWinDiv">
									<button style="background: #6e3e0d; color: #ffff;" @click="updUserPassword">确定</button>
									<button style="background: #6e3e0d; color: #ffff;" @click="closeOpenWin">取消</button>
								</div>
							</div>
							<!-- 以下是更换手机的内容 -->
							<div class="tab-pane" v-show="winFlag.win_phone">
								<div class="openWinDiv">更换手机</div>
								<div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3" >原手机号:</label>
					                <div class="controls col-md-5">
					                    <input type="text" placeholder="请输入原手机号" class="form-control" style="width: 90%;" v-model="userData.mobile" autocomplete="off" readonly="readonly">
					                </div>
					            </div>
								<div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3" >新手机号:</label>
					                <div class="controls col-md-5">
					                    <input type="text" placeholder="请输入新手机号" class="form-control" style="width: 90%;" v-model="userData.newMobile" autocomplete="off">
					                </div>
					            </div>
								<div class="openWinDiv">
									<button style="background: #6e3e0d; color: #ffff;" @click="modifyUser('changeMobile')">确定</button>
									<button style="background: #6e3e0d; color: #ffff;" @click="closeOpenWin">取消</button>
								</div>
							</div>
							<!-- 以下更改邮箱的内容 -->
							<div class="tab-pane" v-show="winFlag.win_email">
								<div class="openWinDiv">更改邮箱</div>
								<div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3" >原email</label>
					                <div class="controls col-md-5">
					                    <input type="text" placeholder="请输入原email" class="form-control" style="width: 90%;"  v-model="userData.email" autocomplete="off" readonly="readonly">
					                </div>
					            </div>
								<div class="control-group form-inline">
					                <label class="control-label col-md-3 offset-md-3" >新email</label>
					                <div class="controls col-md-5">
					                    <input type="text" placeholder="请输入新email" class="form-control" style="width: 90%;"  v-model="userData.newEmail" autocomplete="off">
					                </div>
					            </div>
							
								<div class="openWinDiv">
									<button style="background: #6e3e0d; color: #ffff;" @click="modifyUser('changeEmail')">确定</button>
									<button style="background: #6e3e0d; color: #ffff;" @click="closeOpenWin">取消</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script th:src="@{/static/module/user_index.js}"></script>
</body>
</html>
