<!doctype html>
<html>

<head th:include="common :: header">
	<title id="pageTitle">会员中心—铁西区农村经济总站土地流转交易监管平台</title>
</head>
	<style type="text/css">
	.tab-pane{
		    background-color: rgb(246, 239, 227);
		    width: 100%;
    		height: 100%;
	}
	.openWinDiv{
			text-align: center;
		  	padding: 20px;
	}
	
	</style>

<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>
		<!-- container begin -->
		<div class="main clearfix">
			<div class="row clearfix main5">
				<div class="col-md-4 column"
					style="border-right: 3px solid #93590d; box-shadow: 2px 0 0 0 #ddd;">
					<div class="main6 mt20 clearfix">
						<table class="nav-tabs clearl" id="mytab" role="tablist"
							style="width: 100%;">
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px solid #ccc;">
								<td class="mb15"><img
									src="../static/images/cent/touxiang.jpg"
									class="rounded ml10 mb15" width="100%" height='auto'></td>
								<td>
									<p class="f18 ml20" style="color: #93590d;">{{ userData.userName}}</p>
									<p class="f12 ml20" style="color: #06c; font-family: '宋体';">
										<a href="#change" data-toggle="tab">修改资料</a>
									</p>
									<p class="ml20" style="font-family: '新宋体'; font-size: 11px;">
										上次访问时间:<span>{{ loginLog.logDateStr }}</span>
									</p>
								</td>

							</tr>
							<tr class="mb15"
								style="width: 100%; border-bottom: 1px dashed #ccc;">
								<td>
									<p class="fl f20 ml10 mb5" style="color: #6e3e0d;">快速设置通道</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/ballet_realname_2x.png"
									class="ml10"></td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a href="#shiming" data-toggle="tab">实名认证</a>
									</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/pws.png" class="ml10">
								</td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a @click="openWin('mima')" data-toggle="tab">修改密码</a>
									</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/phone.png" class="ml10">
								</td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a @click="openWin('tel')" data-toggle="tab">更换手机</a>
									</p>

								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/email.png" class="ml10">
								</td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
									<a @click="openWin('email')" data-toggle="tab">更改邮箱</a>
									</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/logout2x.png"
									class="ml10"></td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a href="#loginout" data-toggle="tab">账号注销</a>
									</p>
								</td>
							</tr>
							<tr class="mb10 fl"
								style="width: 100%; border-bottom: 1px dashed #ccc; line-height: 39px; padding: 10px 0;">
								<td><img src="../static/images/cent/help.png" class="ml10">
								</td>
								<td style="">
									<p class="fl pl20" style="margin: 0 auto;">
										<a href="../html/help.html">帮助中心</a>
									</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-8 column text-center mt20">
					<div id="mytabContent" class="tab-content clearfix">
						<div class="tab-pane active" id="myfirst">
							<!-- row1 start -->
							<div class="row clearfix member ml10">
								<table class="mb10"
									style="width: 100%; height: auto; margin-left: 30px;">
									<tr>
										<td>
											<ul>
												<li style="width: 100px;" class="fl text-right mr5">会员名称：</li>
												<span class="fl ml5" style="width: 280px;">{{ userData.userName }}</span>
												<li style="width: 100px;" class="fl text-right mr5">会员ID：</li>
												<span class="fl ml5" style="width: 280px;">{{ userData.userId }}</span>
												<li style="width: 100px;" class="fl text-right mr5">手机号码：</li>
												<span class="fl ml5" style="width: 280px;">{{ userData.mobile }}</span>
												<li style="width: 100px;" class="fl text-right mr5">注册时间：</li>
												<span class="fl ml5" style="width: 280px;">{{ userData.createDateStr }}</span>
											</ul>

										</td>
										<td style="width: 200px;"><img
											src="../static/images/cent/touxiang.jpg"
											style="border-radius: 5px; box-shadow: 0 1px 2px 1px #666;"></td>
									</tr>
								</table>
							</div>
							<!-- row1 end -->
							<hr width="98%" margin="0 auto">
							<!-- row2 start -->
							<div class="container">
								<div class="row clearfix">
									<div id="first" style="width: 100%;">
										<ul class="clearfix nav nav-tabs" style="width: 100%;">
											<li class="nav-item">
												<a class="active nav-link" href="#xmli" role="tab" data-toggle="tab" @click="">我发布的项目信息列表</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#xqli" role="tab" data-toggle="tab" @click="initDemandList()">我发布的需求信息列表</a>
											</li>
											<li class="fr" style="margin-left: 28%;">
												<a href="../login/project_add.html">发布新信息</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active" id="xmli">
												<div class="gerenxx clearl mb20">
													<div class="gerendetail">
														<table cellpadding="0" cellspacing="0" border="0">
															<tr class="head">
																<td class="widhead pl5 bold">项目信息</td>
																<td class="bold">发布时间</td>
																<td class="bold">发布状态</td>
																<td class="bold">编辑</td>
																<td class="bold">删除</td>
															</tr>
															<tr v-for="item in projectList">
																<td class="widhead"><a @click="goProDetail(item.projectId)">{{ item.projectName }}</a></td>
																<td><span>{{ item.createDateStr }}</span></td>
																<td>{{ item.projectStatus | projectStatusFilter}}</td>
																<td>
																	<span v-if="item.projectStatus == 2" @click="modifyProject(item.projectId)">编辑</span>
																</td>
																<td>
																	<span v-if="item.projectStatus == 2" @click="delProject(item.projectId)">删除</span>
																</td>
															</tr>
															
														</table>
													</div>
												</div>
											</div>
											<div class="tab-pane" id="xqli">
												<div class="gerenxx clearl mb20">
													<div class="gerendetail">
														<table cellpadding="0" cellspacing="0" border="0">
															<tr class="head">
																<td class="widhead pl5 bold">需求/留言信息</td>
																<td class="bold">发布时间</td>
																<td class="bold">发布状态</td>
																<td class="bold">编辑</td>
																<td class="bold">删除</td>
															</tr>
															<tr v-for="item in demandList">
																<td class="widhead"><a @click="goDemDetail(item.demandId)">{{ item.title }}</a></td>
																<td><span>{{ item.createDateStr }}</span></td>
																<td>{{ item.demandStatus | projectStatusFilter }}</td>
																<td>
																	<span v-if="item.demandStatus == 2" @click="modifyDemand(item.demandId)">编辑</span>
																</td>
																<td>
																	<span v-if="item.demandStatus == 2" @click="delDemand(item.demandId)">删除</span>
																</td>
															</tr>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="page mt10 mb20">
								<ul id='pagination'></ul>
							</div>
						</div>
						<!-- 以上是首页的内容,以下是’修改资料‘的内容 -->
						<div class="tab-pane" id="myfirst"></div>
						<!-- 以下是实名认证的内容 -->
						<div class="tab-pane" id="shiming">
							<div class="main8 clearfix"></div>
						</div>
						<!-- 以下是修改密码的内容 -->
						<div class="tab-pane" id="mima" >
							<div class="openWinDiv"></div>
							<div class="openWinDiv">
								<span>原密码</span>
								<input type="password" v-model="userData.password" placeholder="原密码">
							</div>
							<div class="openWinDiv">
								<span>新密码</span>
								<input type="password" v-model="userData.newPassword" placeholder="新密码">
							</div>
							<div class="openWinDiv">
								<button @click="updUserPassword">确定</button>
								<button onclick="closeWin()">取消</button>
							</div>
						</div>
						<!-- 以下是更换手机的内容 -->
						<div class="tab-pane" id="tel">
							<div class="openWinDiv"></div>
							<div class="openWinDiv">
								<span>新手机号</span>
								<input type="text" v-model="userData.newMobile" placeholder="新手机号">
							</div>
							<div class="openWinDiv">
								<button @click="modifyUser('changeMobile')">确定</button>
								<button onclick="closeWin()">取消</button>
							</div>
						</div>
						<!-- 以下更改邮箱的内容 -->
						<div class="tab-pane" id="email">
							<div class="openWinDiv"></div>
							<div class="openWinDiv">
								<span>新email</span>
								<input type="email" v-model="userData.newEmail" placeholder="新email">
							</div>
							<div class="openWinDiv">
								<button @click="modifyUser('changeEmail')">确定</button>
								<button onclick="closeWin()">取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div th:replace="common :: foot"></div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script src="../static/js/common_project.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				queryData_pro: {
					createUser: "",
					pageSize: 8,
					pageNo: 1,
				},
				queryData_dem: {
					createUser: "",
					pageSize: 6,
					pageNo: 1,
				},
				userData: {},
				loginLog: {},
				projectList:[],
				demandList:[],
			},
			mounted : function() {
				this.userData.userId = this.queryData_pro.createUser = this.queryData_pro.queryData_dem = $("#baseUserId").text();
				if(!this.userData.userId){
					location.href = "../html/login";
				} 
				this.initUser();
				this.initProjectList();
			},
			methods : {
				initUser: function () {
					let tUser = new Object();
					tUser.userId = this.userData.userId;

					$.post("/user/userDetail", tUser, function (result) {
						if (result.code == 0) {
                        	vm.userData = result.userData;
                        	vm.userData.createDate = null;
                        	vm.userData.updateDate = null;
                        	vm.loginLog = result.loginLog;
                        } else {
							alert(result.msg);
                            layer.msg(result.msg);
                        }
	                });
				},
				initProjectList: function () {
					hzToolObj.getdomInit("/project/simpleList", this.queryData_pro, function(result){
                        	vm.projectList = result.pageInfo.list;
					});
				},
				initDemandList: function () {
					hzToolObj.getdomInit("/demand/simpleList", this.queryData_dem, function(result){
                        	vm.demandList = result.pageInfo.list;
					});
				},
				modifyProject: function(projectId){
					window.location.href = "../login/project_add?projectId=" + projectId;
				},
				modifyDemand: function(demandId){
					window.location.href = "../login/demand_add?demandId=" + demandId;
				},
				cancelUser: function(){
					layer.confirm("确认注销吗？", {
	                    icon: 3,
	                    title: '提示',
	                    btn: ["删除", "取消"]
	                }, function (index) {
	                	layer.closeAll('dialog');
	                    var newObj = {
	                    	projectId: projectId,
	                        projectStatus: 0,
	                    }
	                    vm.updateProject(newObj);
	                });
				},
				delProject: function(projectId){
					 layer.confirm("确认删除吗？", {
		                    icon: 3,
		                    title: '提示',
		                    btn: ["删除", "取消"]
		                }, function (index) {
		                	layer.closeAll('dialog');
		                    var newObj = {
		                    	projectId: projectId,
		                        projectStatus: 0,
		                    }
		                    vm.updateProject(newObj);
		                });
				},
				updateProject: function(obj){
					$.post("/project/projectModify", obj, function (result) {
						if (result.code == 0) {
                        	vm.initProjectList();
                        	layer.alert("操作成功");
                        } else {
                            layer.msg(result.msg);
                        }
                	});
				},
				delDemand: function(demandId){
					 layer.confirm("确认删除吗？", {
		                    icon: 3,
		                    title: '提示',
		                    btn: ["删除", "取消"]
		                }, function (index) {
		                	layer.closeAll('dialog');
		                    var newObj = {
		                    	demandId: demandId,
		                        demandStatus: 0,
		                    }
		                    vm.updateDemand(newObj);
		                });
				},
				updateDemand: function(obj){
					$.post("/demand/demandModfiy", obj, function (result) {
						if (result.code == 0) {
                        	vm.initDemandList();
                        	layer.alert("操作成功");
                        } else {
                            layer.msg(result.msg);
                        }
                	});
				},
				goProDetail: function(id){
					storage.setItem("projectQueryData",JSON.stringify(vm.queryData_pro));
					window.location.href="../html/project_detail?projectId=" + id;
				},
				goDemDetail: function(id){
					storage.setItem("demandQueryData",JSON.stringify(vm.queryData_dem));
					window.location.href="../html/demand_detail?demandId=" + id;
				},
				openWin: function(id, flag){
					layer.open({
						  type: 1,
						title: false,
						area: ['630px', '360px'],
						shade: 0.8,
						closeBtn: 1,
						shadeClose: true,
						content: $('#'+id+'')
						});
				},
				updUserPassword: function(flag){
					if(vm.userData.newPassword.length < 6){
						layer.alert("密码长度应大于6位！");
					}
					let tUser = new Object();
					tUser.userId = vm.userData.userId;
					tUser.password = hex_md5(vm.userData.password);
					//vm.userData.password = hex_md5(vm.userData.password);
					$.post("/user/checkUser", tUser, function (result) {
						if (result.code == 0) {
							vm.modifyUser("changePassword");
                        } else {
                        	layer.msg(result.msg);
                        }
                	});
				},
				modifyUser: function(flag){
					let _this = this;
					let tUser = new Object();
					tUser.userId = vm.userData.userId;

					if(flag == "changeMobile"){
						if(!(/^1[34578]\d{9}$/.test(vm.userData.newMobile))){ 
							layer.alert("手机号码有误，请重填");  
							return; 
						} else {
							//vm.userData.mobile = vm.userData.newMobile;
							tUser.mobile = this.userData.newMobile;
						}
					} else if (flag == "changEmail") {
						//vm.userData.email = vm.userData.newEmail;
						tUser.email = this.userData.newEmail;
					} else if (flag == "changePassword") {
						//vm.userData.password = hex_md5(vm.userData.newPassword);
						tUser.password = hex_md5(this.userData.newPassword)
					}
					$.post("/user/users_modify", tUser, function (result) {
						if (result.code == 0) {
							layer.msg("修改成功！",{icon:1, time:2000, shade:0.4},function () {
								_this.initUser();
								closeWin();
							});
                        } else {
                        	layer.msg(result.msg);
                        }
                	});
				},
			},
		});
	</script>
</body>
</html>
