<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: adminHeader"></head>

<body>
<div id="vueApp" v-cloak>
    <div>
        <form class="form-horizontal" role="form">
            <div class="form-group form-inline">
                <label class="col-sm-2" for="title">标题</label>
                <div class="col-sm-4">
                    <input class="form-control" id="title" v-model="form.title" type="text" placeholder="请输入标题" style="width: 100%;"/>
                </div>
                <label class="col-sm-2" for="picOrder">序号</label>
                <div class="col-sm-4">
                    <input class="form-control" id="picOrder" v-model="form.picOrder" type="text" placeholder="请输入序号" style="width: 100%;"/>
                </div>
            </div>
            <div class="form-group form-inline" v-if="hasLink">
                <label class="col-sm-2" for="picLink">链接地址</label>
                <div class="col-sm-10">
                    <input class="form-control" id="picLink" v-model="form.picLink" type="text" placeholder="请输入链接地址" style="width: 100%;"/>
                </div>
            </div>
            <div v-if="hasPic">
                <div class="form-group form-inline text-center">
                    <input type="file" id="filePath" @change="fileChange" accept="image/*"  style="display: none;"/>
                    <label class="col-sm-2"></label>
                    <div class="col-sm-8 text-center">
                        <button type="button" class="zbtn zbtn-mm zbtn-info" @click="reset()">复位</button>
                        <button type="button" class="zbtn zbtn-mm zbtn-info" @click="rotate(-90)">左转90º</button>
                        <button type="button" class="zbtn zbtn-mm zbtn-info" @click="rotate(90)">右转90º</button>
                        &nbsp;&nbsp;
                        <button type="button" class="zbtn zbtn-mm zbtn-warning" @click="select">选择文件</button>
                        <button type="button" class="zbtn zbtn-mm zbtn-warning" @click="upload">确认上传</button>
                    </div>
                    <label class="col-sm-2"></label>
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-8" style="border: #9fcdff solid 1px;height: 300px;background-color: #F2F2F2;">
                        <img id="tailoringImg">
                    </div>
                    <label class="col-sm-2"></label>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript">
    var picId = '[[${picId}]]';
    var picType = '[[${picType}]]';

    var vm = new Vue({
        el: "#vueApp",
        data: {
            form: {
                title: '',
                picOrder: '',
                picUrl: '',
                picLink:'',
            },
            tailoring: null,
            picTypeInfo: null,
        },
        computed: {
            hasPic: function(){
                for(var x in picTypeDict){
                    if(('' + picTypeDict[x].value) == picType){
                        return picTypeDict[x].hasPic;
                    }
                }
                return false;
            },
            hasLink: function(){
                for(var x in picTypeDict){
                    if(('' + picTypeDict[x].value) == picType){
                        return picTypeDict[x].hasLink;
                    }
                }
                return false;
            }
        },
        mounted: function () {
            var _this = this;

            var ratio = 1;
            if(picType == '1'){
                ratio = 595 / 255;
            } else if(picType == '2'){
                ratio =  146 / 66;
            }
            this.tailoring = $('#tailoringImg').cropper({
                aspectRatio : ratio,// 默认比例
                preview : '.previewImg',// 预览视图
                guides : true, // 裁剪框的虚线(九宫格)
                autoCropArea : 1, // 0-1之间的数值，定义自动剪裁区域的大小，默认0.8
                movable : false, // 是否允许移动图片
                dragCrop : true, // 是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
                movable : true, // 是否允许移动剪裁框
                resizable : true, // 是否允许改变裁剪框的大小
                zoomable : false, // 是否允许缩放图片大小
                mouseWheelZoom : false, // 是否允许通过鼠标滚轮来缩放图片
                touchDragZoom : true, // 是否允许通过触摸移动来缩放图片
                rotatable : true, // 是否允许旋转图片
                crop : function(e) {
                    // 输出结果数据裁剪图像。
                }
            });

            if(picId){
                $.post("/picInfo/picDetail?picId=" + picId, "", function(resp){
                    if(0 == resp.code){
                        for(var x in _this.form){
                            _this.form[x] = resp.data[x];
                        }
                        _this.tailoring.cropper('replace', resp.data.picUrl, false);
                    } else {
                        layer.msg("获取新闻信息失败！");
                    }
                });
            }
        },
        methods: {
            select: function () {
                $("#filePath").click();
            },
            fileChange(e){
                var _this = this;
                var file = e.target;
                //文件为空，返回
                if (!file.files || !file.files[0]) {
                    return;
                }
                $(".tailoring-container").toggle();
                var reader = new FileReader();
                reader.onload = function(evt) {
                    var replaceSrc = evt.target.result;
                    _this.tailoring.cropper('replace', replaceSrc, false);
                }
                reader.readAsDataURL(file.files[0]);
            },
            rotate: function(angle){
                this.tailoring.cropper("rotate", angle);
            },
            reset: function(){
                this.tailoring.cropper('reset');
            },
            dataURLtoFile: function(dataurl) {
                var arr = dataurl.split(',');
                var mime = arr[0].match(/:(.*?);/)[1]
                var bstr = atob(arr[1])
                var n = bstr.length
                var u8arr = new Uint8Array(n);
                while(n--){
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new Blob([u8arr], {type:mime});
            },
            upload: function(){
                var _this = this;

                if($('#tailoringImg').attr("src") == null){
                    return false;
                }
                var cas = $('#tailoringImg').cropper('getCroppedCanvas');// 获取被裁剪后的canvas
                var blob = cas.toDataURL('image/jpeg'); // 转换为base64
                var file = this.dataURLtoFile(blob);

                const data = new FormData();
                data.append('file', file, '.jpg');
                data.append('fileKind', 4);
                $.ajax({
                    url: "/file/upload",//上传图片的url
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (resp) {
                        if (0 == resp.code) {
                            _this.form.picUrl = resp.url;
                            _this.tailoring.cropper('replace', resp.url, false);
                        } else {
                            layer.error(resp.msg);
                        }
                    },
                    error: function (error) {
                        alert(JSON.stringify(error))
                    }
                });
            },
            checkNull: function () {
                if (!this.form.title) {
                    layer.msg("请输入标题！");
                    $("#title").focus();
                    return false;
                }
                if (!this.form.picOrder) {
                    layer.msg("请输入序号！");
                    $("#picOrder").focus();
                    return false;
                }
                if (this.hasPic && !this.form.picUrl) {
                    layer.msg("请选择图片，修改后确认上传！");
                    $("#picUrl").focus();
                    return false;
                }
                if (this.hasLink && !this.form.picLink) {
                    layer.msg("请输入链接地址！");
                    $("#picUrl").focus();
                    return false;
                }
                return true;
            },
            save:function(){
                if(this.checkNull()){
                    var url = "";
                    var tPic = new Object();
                    for(var x in this.form){
                        tPic[x] = this.form[x];
                    }
                    // 修改
                    if(!picId){
                        url = "/picInfo/add_pic";
                        tPic.picType = picType;
                    } else {
                        url = "/picInfo/modify_pic";
                        tPic.picId = picId;
                        tPic.picType = picType;
                    }

                    $.post(url, tPic, function (result) {
                        if (result.code == 0) {
                            layer.msg("保存成功！",{icon:1, time:2000, shade:0.4},function () {
                                var index = window.parent.layer.getFrameIndex(window.name);
                                window.parent.layer.close(index);
                            });
                            window.parent.vm.flushData();
                        } else {
                            layer.msg(result.msg);
                        }
                    });
                }
                return false;
            }
        }
    });
</script>
</html>
