<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>铁西区农村经济总站土地流转交易监管平台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name=renderer  content=webkit>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/info.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.css}">
	<script th:src="@{/static/js/jquery.min.js}"></script>
	<script th:src="@{/static/js/popper.min.js}"></script>
	<script th:src="@{/static/js/bootstrap/bootstrap.js}"></script>
	<script th:src="@{/static/js/miaov.js}"></script>
	<script th:src="@{/static/js/vue.min.js}"></script>
	<script th:src="@{/static/js/md5_32.js}"></script>
	<script th:src="@{/static/plugin/layer/layer.js}"></script>
	<script th:src="@{/static/js/common.js}"></script>
</head>
<body>
<div id="app" v-cloak>
	<div class="header clearfix">
		<div class="header-c clear">
			<img class="fl mt10" src="/static/images/logo1.png" style="width:32%; height:auto;">
			<ul class="fr">
				<li><img src="/static/images/cent/pers36.png" style="width:20px;height:auto;" class="mr5 mt35"></li>
				<li class="mt35 mr10">{{user.nickName}}</li>
				<li><img src="/static/images/cent/pws.png" style="width:20px;height:auto;" class="mr5 mt35"></li>
				<li class="mt35 mr10" @click="modifyUser">修改账户</li>
				<li><img src="/static/images/cent/371.png" style="width:20px;height:auto;" class="mr5 mt35"></li>
				<li class="mt35 mr10" @click="logout">退出</li>
			</ul>
		</div>
		<div class="top text-center" style="heiht:5px; color:#fff; font-family:'宋体'; font-size:11px;box-shadow:1px 1px 3px 1px #666; letter-spacing:3px;">
		铁西区农村经济总站土地流转交易与办公系统综合监管平台&nbsp;后台管理系统
		</div>
	</div>
	<div class="clearfix row main5" style="width:100%;">
		<div class="col-lg-3 col-md-3 col-sm-4 column" style="border-right: 3px solid #93590d;" >
			<div class="main6 mt20" :style="contentStyleObj">
				<table class="mb10" style="width:100%;">
					<tr class="mb5 fl" style="width:100%; border-bottom:3px double #bbb;">
						<td style="margin-left:5px;"><ul>
							<li><img src="/static/images/cent/set.png" style="width:30px; height:30px; line-height:35px;"></li>
							<li><h5 class="c2 ml5 bold" style="line-height:35px; font-family:'华文细黑';">后台内容管理</h5></li></ul>
						</td>
					</tr>
					<tr class="clearfix fr" style="display:table; width:95%;">
						<td>
							<div class="menu_list" >
								<div class="menu_head" id="first_0" @click="selectParent(0);jumpPage(defaultMenu)" style="text-align: center; background: #965818; color: #ffff;">首页</div>
							</div>
						</td>
					</tr>
					<tr class="clearfix fr" style="display:table; width:95%;">
						<td>
							<div id="firstpaneDiv" class="menu_list">
								<div v-for="first in menus">
									<h3 class="menu_head" @click="selectParent(first.menuId)" :id="'first_'+first.menuId">
										<img :src="'/static/images/cent/' + first.iconName" no-repeat width="20" height="20" >&nbsp;{{ first.name }}
									</h3>
									<div style="display:none;" class="menu_nva">
										<a href="#" v-for="second in first.seconds" @click="jumpPage(second)" :id="second.menId">
											<img src="/static/images/cent/361.png" no-repeat width="16" height="16">&nbsp;{{ second.name }}
										</a>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-8 column">
			<div class="clearfix mt10 main6r">
				<iframe name="myiframe" id="myrame" src="/admin/dashbord" frameborder="0" align="left" width="100%" height="100%" style="overflow: auto;" scrolling="no"></iframe>
			</div>
		</div>
		<span hidden="true" id="baseUserId"><shiro:principal property='userId'/></span>
	</div>
</div>
<footer class="footer" style="margin-bottom: 0px;">
	<div th:replace="common :: simpleFoot"></div>
</footer>
</body>
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			menus: [],
			user: {},
			sunValue: '',
			contentStyleObj:{
				height:'',
				overflow: 'auto'
			},
			defaultMenu:{
				url: '/admin/dashbord'
			}
		},
		created: function() {
			var _this = this;
			$.get("/loginInfo","",function(result){
				if(0 == result.code){
					_this.user = result.user;
				}
			});

			$.get("/menuInfo","",function(result){
				_this.menus = [];
				if(0 == result.code){
					console.log(result);
					for(var x in result.menu){
						_this.menus.push(result.menu[x]);
					}
				}
			});
		},
		mounted: function(){
			window.addEventListener('resize', this.setFrameHeightAuto);
			this.setFrameHeightAuto();
		},
		methods: {
			logout: function(){
				$.get("/logout","",function(result){
					if (result.code == 0) {
						window.location.href = "/index";
					} else {
						layer.msg(result.msg);
					}
				});
			},
			setFrameHeightAuto: function(){
				try{
					var iframe = document.getElementById("myrame");

					var height = $(".header").outerHeight(true) + $(".footer").outerHeight(true) + 38;
					var defaultheight=(window.innerHeight-height)+'px';

					if(iframe.attachEvent){
						iframe.attachEvent("onload", function(){
							iframe.height =  iframe.contentWindow.document.documentElement.scrollHeight + 20;
							if(defaultheight > iframe.height){
								iframe.height = defaultheight;
							}
						});
						return;
					}else{
						iframe.onload = function(){
							iframe.height = iframe.contentDocument.body.scrollHeight + 20;
							if(defaultheight > iframe.height){
								iframe.height = defaultheight;
							}
						};
						return;
					}
				}catch(e){
					throw new Error('setIframeHeight Error');
				}
			},
			selectParent: function(menuId){
				var _this = $("#first_" + menuId);
				var opened = $(_this).hasClass("current");
				$(".menu_nva").each(function(){
					$(this).hide();
				})
				$(".menu_head").each(function(){
					$(this).removeClass("current");
				})
				if(!opened){
					$(_this).show();
					$(_this).addClass("current").next("div.menu_nva").slideToggle(200);
				}

			},
			jumpPage: function(menu){
				$("#myrame").attr("src",menu.url);
			},
			toProject: function(type){
				this.selectParent(4);
				if(type){
					this.sunValue = type;
				}
				$("#myrame").attr("src",'/admin/projectList');
			},
			toUsers: function(type){
				this.selectParent(2);
				if(type){
					this.sunValue = type;
				}
				$("#myrame").attr("src",'/admin/userList?page=common');
			},
			modifyUser: function(){
				$("#myrame").attr("src", "/user/userModify?userId=" + $("#baseUserId").text());
			},
		}
	});
</script>
</html>
