<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorator="layout">
<head th:fragment="header">
	<meta charset="utf-8">
	<title>铁西区农村经济总站土地流转交易监管平台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name=renderer  content=webkit>
	<title th:include=":: #pageTitle">Title</title>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/info.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/plugin/layer/theme/default/layer.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/plugin/jeDate/jeDate.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/plugin/jeDate/jeDate.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/plugin/share/share.min.css}">
	<!--阿里icon库-->
    <link rel="stylesheet" type="text/css" th:href="@{../static/plugin/icon-font/iconfont.css}" >
    
	<script th:src="@{/static/js/jquery.min.js}"></script>
</head>

<div th:fragment="top">
	<div class="top">
		<div class="top-c">
			<ul class="fl">
				<li>欢迎<span id="baseUserName"><shiro:principal property='userName'></span>访问铁西区土地流转交易监管平台&nbsp;&nbsp;</li>
				<li><span id="loginWin"> 请&nbsp;<a href="/html/login" class="bold">登录</a>&nbsp;|&nbsp; <a href="/html/register" class="bold">注册</a></span></li>
				<li><span id="userWin" style="display:none">|&nbsp;<a href="/logoutCommon"> <span class="am-icon-sign-out"></span> 退出 </a></span><li>
				<li><span hidden="true" id="baseUserId"><shiro:principal property='userId'/></span><li>
			</ul>
			<ul class="fr huiyuan tform">
				<li><a href="../login/user_index.html">会员中心</a></li>
				<li><a href="../html/help.html"> 帮助中心</a></li>
			</ul>
		</div>
		<script type="text/javascript">
			$(function(){
				if( $("#baseUserName").text() ){
					$("#loginWin").hide();
					document.getElementById("userWin").style.display = ""; 
				}
			});
		</script>
	</div>
	<div class="header fl" style="margin-bottom: 5px;">
		<div class="header-c">
			<div class="logo">
				<a href="/" title="四平市铁西区农经总站土地流转信息管理平台">
					<img width="100%" height="auto" alt="logo image" src="../static/images/logo1.png">
				</a>
			</div>
			<div class="search-main tform">
				<form action="" name="">
					<input type="text" name="" class="text" />
					<input type="submit" name="" class="submit" value="搜索" />
					<select name="sel1" class="sel1">
						<option value="全部">全部</option>
						<option value="土地流转">土地</option>
						<option value="林权转让">林权</option>
						<option value="四荒使用">四荒</option>
						<option value="养殖水面">水面</option>
					</select>
				</form>
			</div>
			<ul class="remen clear tform">
				<li>近期热门搜索：</li>
				<li><a href="">土地承包</a></li>
				<li><a href="">林权转让</a></li>
				<li><a href="">养殖水面</a></li>
				<li><a href="">四荒承包</a></li>
			</ul>
		</div>
	</div>
	<div class="clearl"></div>
	<nav class="navbar navbar-expand-md bg-zong navbar-dark" style="margin-bottom: 95px;">
		<!--按钮边框 -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="width: 100%;">
			<a class="navbar-brand fl" href="#" style="font-family: '微软雅黑'; font-size: 16px;">菜单栏</a>
			<span class="navbar-toggler-icon fr"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav nav-justified" style="font-size: 21px; width: 1200px;">
				<li class="nav-item" style="">
					<a class="nav-link" href="../index">首&nbsp;&nbsp;页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/project_list" target="_blank">查看信息</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../login/project_add" target="_blank">发布信息</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/notice_list" target="_blank">政策法规</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../html/help" target="_blank">资料下载</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../login/demand_add" target="_blank">留言咨询</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div th:fragment="location">
	<div class="locate clearl">
		<p class="location2 fl pl10">
			<span></span>当前位置：
			<a style="font-size: 13px; font-family:'宋体';" href="../index">首页</a> 
			&nbsp;&nbsp;>&nbsp;&nbsp; 
			<a style="font-size: 13px; font-family:'宋体';" href="">
				<div th:include=":: #pageLocaton">pageLocaton</div>
			</a>
		</p>
	</div>
</div>
<div th:fragment="foot">
	<ul class="clear youqinglj tform" style="width: 80%; margin-left: 10%;">
		<li>友情链接： &nbsp;</li>
		<li><a href="http://www.siping.gov.cn/fw/bmfw/">四平市政务网</a></li>&nbsp;&nbsp;
		<li><a href="http://cz.siping.gov.cn/">四平市财政局</a></li>&nbsp;&nbsp;
		<li><a href="http://gs.siping.gov.cn/">四平市工商信息网</a></li>&nbsp;&nbsp;
		<li><a href="http://www.zgny.com.cn/">中国农业网</a></li>&nbsp;&nbsp;
		<li><a href="http://nw.jlcity.gov.cn/">吉林省农业局</a></li>&nbsp;&nbsp;
		<li><a href="http://nw.siping.gov.cn/">四平市农业农村局</a></li>&nbsp;&nbsp;
		<li><a href="http://txq.siping.gov.cn/">四平市铁西区人民政府</a></li>&nbsp;&nbsp;
		<a href="" class="fr">更多>></a>
	</ul>
	<div class="youqqi_adress" style="margin: 0 auto;text-align: center;" th:fragment="simpleFoot">
		Copyright &copy;<span id="fullyear">2019</span>&nbsp;&nbsp;四平市铁西区农业经济总站版权所有&nbsp;&nbsp;吉ICP备19001115号-1
	</div>
	<script type="text/javascript">
		$(function(){
			$("#fullyear").text((new Date).getFullYear().toString());
		});
	</script>
</div>

<div th:fragment="js">
	<script th:src="@{/static/js/popper.min.js}"></script>
	<script th:src="@{/static/js/bootstrap/bootstrap.js}"></script>
	<script th:src="@{/static/plugin/layer/layer.js}"></script>
	<script th:src="@{/static/plugin/jeDate/jeDate.js}"></script>
	<script th:src="@{/static/js/vue.min.js}"></script>
	<script th:src="@{../static/plugin/pagination/jquery.pagination.js}"></script>
    <script th:src="@{../static/plugin/pagination/bootstrap-paginator.js}"></script>
	<script th:src="@{/static/js/public.js}"></script>
	<script th:src="@{/static/js/common.js}"></script>
	<script th:src="@{/static/js/common_status_filter.js}"></script>
	<script th:src="@{/static/plugin/jeDate/jeDate.js}"></script>
	<script th:src="@{/static/plugin/share/social-share.js}"></script>
	<script th:src="@{/static/plugin/share/qrcode.js}"></script>
	<script th:src="@{/static/js/md5_32.js}"></script>
</div>