<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
	<title id="pageTitle">404</title>
</head>
<style type="text/css">
.error_div{
	width: 100%;
    text-align: -webkit-center;
}
</style>
<body data-type="widgets">
	<div class="error_div" style="margin-top: 200px;">
		<img src="/static/images/404.png">
	</div>
	<div class="error_div" style="margin-top: 50px;">
		<button type="button" class="am-btn am-round am-btn-warning" onclick="goIndex()">
			返回首页
		</button>
		<button type="button" class="am-btn am-round am-btn-warning"  style="margin-left: 50px" onclick="history.go(-1)">
			返回上页
		</button>
	</div>
    <script type="text/javascript">
    	function goIndex() {
			window.location.href = "/index";
    	}    
    </script>
</body>
</html>