<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
	<title id="pageTitle">首页</title>
</head>
<link th:href="@{../static/css/index.css}" type="text/css" rel="stylesheet">
<body data-type="widgets" class="theme-white">
<div class="am-g tpl-g">
	<header th:include="common :: header"></header>
	<div class="left-sidebar" th:include="common :: left"></div>
	<div class="tpl-content-wrapper" id="app" v-cloak>
		<div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                	<div class="widget am-cf">
                		<div class="widget-head am-cf">
                            <div class="widget-title  am-cf">
                                URL信息
                            </div>
			            </div>    	
			            <div class="widget-body">
			            	<div class="am-form-group am-padding-xs">
								 <div class="am-u-sm-3 ">
								 	<div class="widget widget-gray am-cf">
								 		<div class="am-form-group am-text-center">
										 	<button type="button" class="am-btn am-btn-primary am-round" @click="goUrl('/urls/urls_list')">
										 		<i class="am-icon-cube"></i> URL列表
										 	</button>
										</div>
										<hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-btn-primary" />
										<div class="am-form-group">
											<div class="widget-statistic-header am-padding-top-0">
												URL总数量:
												<span class="am-text-primary am-text-xl">{{ urlObj.totalNum }} 个</span>
											</div>
										</div>
										<div class="am-form-group">
											<div class="widget-statistic-header am-padding-top-0">
												昨日新增数量:
												<span class="am-text-primary am-text-xl">{{ urlObj.yesterdayNum }} 个</span>
											</div>
										</div>
								 	</div>
								 </div>
								 <div class="am-u-sm-3 ">
								 	<div class="widget widget-gray am-cf">
								 		<div class="am-form-group am-text-center">
										 	<button type="button" class="am-btn am-btn-secondary am-round" @click="goUrl('/urls/urls_import_list')">
									 			<i class="am-icon-upload"></i> 导入列表
									 		</button>
										</div>
										<hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-btn-secondary" />
										<div class="am-form-group">
											<div class="widget-statistic-header am-padding-top-0">
												昨日导入:
												<span class="am-text-secondary am-text-xl">{{ urlImportObj.yseterdayNum }}次</span>
											</div>
										</div>
										<div class="am-form-group">
											<div class="widget-statistic-header am-padding-top-0">
												昨日导入成功数量:
												<span class="am-text-secondary am-text-xl">{{ urlImportObj.yseterdaySucNum }}个</span>
											</div>
										</div>
								 	</div>
								 </div>
								 <div class="am-u-sm-3 ">
								 	<div class="widget widget-gray am-cf">
								 		<div class="am-form-group am-text-center">
										 	<button type="button" class="am-btn am-btn-success am-round"  @click="goUrl('/urls/urls_export_list')">
										 		<i class="am-icon-download"></i> 导出列表
										 	</button>
										</div>
										<hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-btn-success" />
										<div class="am-form-group">
											<div class="widget-statistic-header am-padding-top-0">
												昨日导出EXCEL文件:
												<span class="am-text-success am-text-xl">{{ urlExportObj.excelNum }} 个</span>
											</div>
										</div>
										<div class="am-form-group">
											<div class="widget-statistic-header am-padding-top-0">
												昨日导出TXT文件:
												<span class="am-text-success am-text-xl">{{ urlExportObj.txtNum }} 个</span>
											</div>
										</div>
								 	</div>
								 </div>
								<div class="am-u-sm-3 ">
								 	<div class="widget widget-gray am-cf">
								 		<div class="am-form-group am-text-center">
										 	<button type="button" class="am-btn am-btn-warning am-round"  @click="goUrl('/urls/urls_group_list')">
										 		<i class="am-icon-cubes"></i> URL组列表
										 	</button>
										</div>
										<hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-btn-warning" />
										<div class="am-form-group">
											<div class="widget-statistic-header am-padding-top-0">
												URL组总数量:
												<span class="am-text-warning am-text-xl">{{ urlGroupObj.totalNum }} 个</span>
											</div>
										</div>
										<div class="am-form-group">
											<div class="widget-statistic-header am-padding-top-0">
												昨日新增组数量:
												<span class="am-text-warning am-text-xl">{{ urlGroupObj.yesterdayNum }} 个</span>
											</div>
										</div>
								 	</div>
								 </div>
							</div>
						</div> 
                	</div>
               	</div>
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                	<div class="widget am-cf">
                		<div class="widget-head am-cf">
                            <div class="widget-title  am-cf">
                                昨日URL行业详情
                            </div>
			            </div>    	
			            <div class="widget-body">
			            	<div class="am-form-group am-padding-xs">
								<div class="am-u-sm-12"  id="main" style=" height: 450px;"></div>
			            	</div>
			            </div>
                	</div>
               	</div>
			</div>
		</div>
	</div>
</div>
<div th:include="common :: js"></div>
</body>
<script th:src="@{../static/plugin/echarts/echarts-all.js}" type="text/javascript"></script>
<script th:src="@{../static/plugin/echarts/macarons.js}" type="text/javascript"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
        	urlObj: {
        		totalNum: 0,
        		yesterdayNum: 0,
        	},
        	urlImportObj: {
        		yseterdayNum: 0,
        		yseterdaySucNum: 0,
        	},
        	urlExportObj: {
        		excelNum: 0,
        		txtNum: 0,
        	},
        	urlGroupObj: {
        		totalNum: 0,
        		yesterdayNum: 0,
        	},
        	
        },
        mounted: function () {
        	this.initDataNum();
        	this.initDataChat();
        },
        methods: {
        	initDataNum: function  () {
        		 hzToolObj.getRpc("/index/data_num").done(function (result) {
        			 if(result.code == 0){
        				 vm.urlObj = result.urlObj;
        				 vm.urlImportObj = result.urlImportObj;
        				 vm.urlExportObj = result.urlExportObj;
        				 vm.urlGroupObj = result.urlGroupObj;
        			 }
        		 });
        	},
        	initDataChat: function  () {
        		 hzToolObj.getRpc("/index/data_chart").done(function (result) {
        			 if(result.code == 0){
        				var myChart = echarts.init(document.getElementById('main'), 'macarons');
        				option = {
       					    title: {
       					        x: 'center',
       					        text: '一级行业昨日新增URL数量',
       					     	subtext: '共计：' + vm.urlObj.yesterdayNum + "个",
       					    },
       					    tooltip: {
       					        trigger: 'item'
       					    },
       					    toolbox: {
       					        show: true,
       					        feature: {
       					            restore: {show: true},
       					            saveAsImage: {show: true}
       					        }
       					    },
       					    calculable: true,
       					    grid: {
       					        borderWidth: 0,
       					        y: 80,
       					        y2: 60
       					    },
       					    xAxis: [
       					        {
       					            type: 'category',
       					            show: false,
       					            data: result.chartObj.keys,
       					        }
       					    ],
       					    yAxis: [
       					        {
       					            type: 'value',
       					            show: true
       					        }
       					    ],
       					    series: [
       					        {
       					            type: 'bar',
       					            itemStyle: {
       					                normal: {
       					                    color: function(params) {
       					                        var colorList = [
       					                          '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
       					                           '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
       					                           '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
       					                        ];
       					                        return colorList[params.dataIndex]
       					                    },
       					                    label: {
       					                        show: true,
       					                        position: 'top',
       					                        formatter: '{b}\n{c}'
       					                    }
       					                }
       					            },
       					            data: result.chartObj.nums,
       					            markPoint: {
       					                tooltip: {
       					                    trigger: 'item',
       					                    backgroundColor: 'rgba(0,0,0,0)',
       					                },
       					                data: []
       					            }
       					        }
       					    ]
       					};
        				myChart.setOption(option);
        			 }
        		 });
        	},
        	goUrl: function (url) {
        		window.location.href= url;	
        	},
        },
    });
</script>
</html>