<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common :: header">
<title id="pageTitle">铁西区农村经济总站土地流转交易监管平台</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/dashboard.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/font-awesome.min.css}">
<style type="text/css">
	.logout{
		width: 90%;
		text-align: center;
	}
</style>
<body>
	<div id="app" v-cloak>
		<div th:replace="common::top"></div>
		<!-- container begin -->
		<div class="main clearl">
			<!-- row1 start -->
			<div class="row clearfix">
				<div class="col-md-3 column tform">
					<div class="table pub clearl"
						style="background-color: #f8f8f8; height: 291px; padding-top: 6px;">
						<button type="button" class="btn btn-primary"
							data-toggle="collapse" data-target="#left1">办公系统平台入口</button>
						<ul>
							<li style="width: 100%; text-align: center;">
								<img class="mt10 mb5" src="../static/images/main/qchz.png" style=" border-radius: 3px;" alt="">
							</li>
							<li style="width: 100%; text-align: center;">
								<img class="mt10 mb5" src="../static/images/main/tdlz.png" style="border-radius: 3px;" alt="">
							</li>
							<li style="width: 100%; text-align: center;">
								<img class="mt10 mb5" src="../static/images/main/szgl.png" style="border-radius: 3px;" alt="">
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 column tform">
					<div class="table pub"
						style="width: 100%; height: 290px; border: none;">
						<div id="demo1" class="carousel slide" data-ride="carousel">
							<ul class="carousel-indicators">
								<li data-target="#demo1" data-slide-to="0" class="active"></li>
								<li data-target="#demo1" data-slide-to="1"></li>
								<li data-target="#demo1" data-slide-to="2"></li>
								<li data-target="#demo1" data-slide-to="3"></li>
								<li data-target="#demo1" data-slide-to="4"></li>
							</ul>
							<!-- 轮播图片 -->
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="../static/images/slide/s1.jpg">
								</div>
								<div class="carousel-item">
									<img src="../static/images/slide/s2.jpg">
								</div>
								<div class="carousel-item">
									<img src="../static/images/slide/s3.jpg">
								</div>
								<div class="carousel-item">
									<img src="../static/images/slide/s4.jpg">
								</div>
								<div class="carousel-item">
									<img src="../static/images/slide/s5.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 column clearl">
					<div class="jiaoliu pub">
						<h3>
							<span>土地流转</span> 监管平台
						</h3>
						<ul class="clearl">
							<li><a href=""> <img
									src="../static/images/main/jiaoliu_03.jpg">
							</a>
								<p>
									<a href=""><span>政府平台</span>助力农业资产流转</a>
								</p></li>
							<li style="border: none;"><a href=""> <img
									src="../static/images/main/jiaoliu_06.jpg">
							</a>
								<p>
									<a href="">促进农业交流<span>提高农村经济</span></a>
								</p></li>
						</ul>
						<p class="renmai mt10">
							真正为农民&nbsp;<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务的平台</span>
						</p>

						<button class="button mt20" v-show="!userId">
							<a style="color: #fff;" href="../html/login">登&nbsp;&nbsp;录</a>
						</button>
						<button class="button mt20" v-show="!userId">
							<a style="color: #fff;" href="../html/register">注&nbsp;&nbsp;册</a>
						</button>
						<div class="logout"  v-show="userId">
							<button class="button ">
								<a style="color: #fff;" href="/logoutCommon">退&nbsp;&nbsp;出</a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- row1 end -->

		<!-- row2 start -->
		<div class="main clearl">
			<div class="row clearfix">
				<div class="col-md-8 column mb10">
					<div class="news_fabu">
						<h2 class="pub1 c1">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最新信息<a href="../html/project_list"
								class="fr">更多>&nbsp;&nbsp;</a>
						</h2>
						<div class="news_detail public2">
							<table cellpadding="0" cellspacing="0" border="0">
								<tr class="head">
									<td class="widhead pl5 bold">即时项目信息</td>
									<td class="bold">发布人</td>
									<td class="bold">所属乡镇/村</td>
									<td class="bold">发布时间</td>
									<td class="bold">当前状态</td>
								</tr>
								<tr v-for="item in projectList">
									<td class="widhead"><a @click="goProDetail(item.projectId)"> 
										<span class="c2">[{{ item.projectKind | projectKindFilter}}]</span>{{ item.projectName }}
									</a></td>
									<td><span>[{{ item.name | simpleNameFilter }}{{ item.sex | sexRespectFilter }}]</span></td>
									<td>平西乡任家村</td>
									<td><span>{{ item.createDateStr }}</span></td>
									<td>
										<em v-if="item.projectStatus == 1">{{ item.projectStatus | projectStatusFilter }}</em>
										<em1 v-if="item.projectStatus == 4">{{ item.projectStatus | projectStatusFilter }}</em1>
									</td>
								</tr>
							</table>
						</div>
					</div>

				</div>

				<div class="col-md-4 column mb10">
					<div class="news_gongg fl">
						<h2 class="pub1 c1">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新闻*政策*法规*公告
							<a href="../html/notice_list" class="fr">更多>&nbsp;&nbsp;</a>
						</h2>
						<div class="table  news_gongg_detail public2 clear" style="background-color: #fff;">
							<ul class="news_list clear fr" id="uls3">
								<li v-if="noticeImgList && noticeImgList.length > 0" v-for="item in noticeImgList">
									<a @click="goNotDetail(item.noticeId)">
										<img v-bind:src="item.noticePic" border=0>
									</a>
									<p><span></span> <b>{{ item.title }}</b></p>
								</li>
							</ul>

							<ol class="news_list2">
								<li v-for="item in noticeList">
									<a @click="goNotDetail(item.noticeId)">{{ item.title }}</a>
									<span class="fr">{{ item.createDateStr }}</span>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- row2 end -->
		<!-- row3 begin -->
		<div class="main clearl tform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<!-- Function Nav Start(there are some serious Error here) !important -->
					<div class="lun_steps mb15" id="parents">
						<div class="steps public2" style="display: none;">
							<p>
								<a href="">发布信息</a> <span></span>
							</p>
							<p>
								<a href="" class="xians">即时显示</a> <span></span>
							</p>
							<p>
								<a href="" class="chakan">关注查看</a> <span></span>
							</p>
							<p>
								<a href="" class="ship">线下交易</a> <span></span>
							</p>

							<p>
								<a href="" class="gongs">达成共识</a>
							</p>
						</div>
						<div class="steps_wail public2 clear">
							<ul class="clear">
								
								<li class="first_1">
									<a href=""> <img src="../static/images/main/parnts_21.png"></a>
								</li>
								<li class="first_2"><a href=""> <img
										src="../static/images/main/parnts_24.png">
								</a></li>
								<li class="first_3"><a href=""> <img
										src="../static/images/main/parnts_15.png">
								</a></li>
								<li class="first_4"><a href=""> <img
										src="../static/images/main/parnts_18.png">
								</a></li>
							</ul>


						</div>
					</div>
					<!-- Function Nav End -->
				</div>
			</div>

		</div>
		<!-- 3 div row3 end -->
		<!-- row4 start -->
		<div class="main clearl">
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div class="news_fabu fl" style="width: 100%;">
						<h2 class="pub1 c1">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;需求信息
							<a href="../html/demand_list.html" class="fr">更多>&nbsp;&nbsp;</a>
						</h2>
						<div class="news_detail public2" style="height: 268px;">
							<table cellpadding="0" cellspacing="0" border="0">
								<tr class="head" style="background: #eee; text-align: center;">
									<td class="widhead">&nbsp;&nbsp;<span class="bold c2">需求留言信息</span></td>
									<td><span class="bold c2">发布人</span></td>
									<td><span class="bold c2">需求单位</span></td>
									<td><span class="bold c2">发布时间</span></td>
								</tr>
								<tr v-for="item in demandList">
									<td class="widhead pl10"><a @click="goDemDetail(item.demandId)">{{ item.title }}</a></td>
									<td>[{{ item.person | simpleNameFilter }}{{ item.sex | sexRespectFilter }}]</td>
									<td><span class="c5">{{ item.demandInfoKind | projectInfoKindFilter }}</span></td>
									<td>{{ item.createDateStr }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-6 column">
					<div class="news_fabu fl" style="width: 100%;">
						<h2 class="pub1 c1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成交量统计报表</h2>
						<div class="table pub" style="height: 100px; background: #fff; height: 268px;">
							<div id="main" style="height: 90%;width: 90%;margin-left: 5%;margin-top: 5%;}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- row4 end -->
		<!-- row5 start -->
		<div class="main clearl tform">
			<div class="row clearfix mb15">
				<div class="col-md-12 column">
					<h2 class="pub1 c1" style="margin-bottom: 8px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作单位</h2>
					<div class="public2 hez">
						<ul class="clear">
							<li class="public2"><a href=""><img
									src="../static/images/main/houb_07_03.jpg"></a></li>
							<li class="public2"><a href=""><img
									src="../static/images/main/houb_1.jpg"></a></li>
							<li class="public2"><a href=""><img
									src="../static/images/main/houb_1.jpg"></a></li>
							<li class="public2"><a href=""><img
									src="../static/images/main/houb_1.jpg"></a></li>
							<li class="public2"><a href=""><img
									src="../static/images/main/houb_1.jpg"></a></li>
							<li class="public2"><a href=""><img
									src="../static/images/main/houb_1.jpg"></a></li>
						</ul>

					</div>

				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row clearfix">
					<address class="col-md-4 column tform">
						<dt style="color: #fff; text-align: center;">联系方式</dt>
						<dd class="detc">铁西区农村经济总站</dd>
						<dd class="detc">电话：0434-3272978</dd>
						<dd class="detc">工作时间：9:00-17:00</dd>
						<dd class="detc">（周一至周五工作时间）</dd>
						<dd class="detc">邮箱：txnjj@txnjj.gov.cn</dd>
					</address>
					<div class="col-md-4 column tform">
						<dt class="text-center" style="color: #fff;">帮助中心</dt>
						<dd class="detc">
							<a href="../html/help.html">用户注册指南</a>
						</dd>
						<dd class="detc">
							<a href="../html/help.html">如何发布信息</a>
						</dd>
						<dd class="detc">
							<a href="../html/help.html">如何查看信息</a>
						</dd>
						<dd class="detc">
							<a href="../html/help.html">常见问题解答</a>
						</dd>
						<dd class="detc">
							<a href="../html/help.html">资料下载</a>
						</dd>
					</div>
					<div class="col-md-4 column">
						<dt style="color: #fff; text-align: center">关注我们</dt>
						<p class="text-center">
							<img src="../static/images/main/erweima.png" width="100"
								height="100">
						</p>
					</div>
				</div>
				<div th:replace="common::foot"></div>
			</div>
		</footer>
	</div>
	<div th:replace="common :: js"></div>
	<script th:src="@{/static/js/echarts.min.js}"></script>
	<script>
		var vm = new Vue({
			el : '#app',
			data : {
				userId : "",
				projectList : [],
				demandList : [],
				noticeList: [],
				noticeImgList: [],
				contentStyleObj:{
					height:'',
					overflow: 'auto'
				}
			},
			mounted : function() {
				this.userId = $("#baseUserId").text();
				this.initProjectList();
				this.initDemandList();
				this.initNoticeList();
				this.initNoticeImgList();
			},
			methods : {
				goProDetail: function(id){
					storage.setItem("projectQueryData",JSON.stringify({pageNo : 1,pageSize : 9,projectStatus: 14}));
					window.location.href="../html/project_detail?projectId=" + id;
				},
				goDemDetail: function(id){
					storage.setItem("demandQueryData",JSON.stringify({pageNo : 1,pageSize : 6, queryPage:"index"}));
					window.location.href="../html/demand_detail?demandId=" + id;
				},
				goNotDetail: function(noticeId){
					storage.setItem("noticeQueryData",JSON.stringify({pageNo : 1,pageSize : 9, queryPage:"index"}));
					//window.btoa
					window.location.href="../html/notice_detail?noticeId=" + noticeId;
				},
				initProjectList : function() {
					hzToolObj.getdomInit("/project/simpleList", {pageNo : 1,pageSize : 9,projectStatus: 14}, function(result){
                    	vm.projectList = result.pageInfo.list;
					})
				},
				initDemandList : function() {
					hzToolObj.getdomInit("/demand/simpleList", {pageNo : 1,pageSize : 11, queryPage:"index"}, function(result){
                    	vm.demandList = result.pageInfo.list;
					})
				},
				initNoticeList : function() {
					hzToolObj.getdomInit("/notice/simpleList", {pageNo : 1,pageSize : 11, queryPage:"index"}, function(result){
                    	vm.noticeList = result.pageInfo.list;
					})
				},
				initNoticeImgList : function() {
					hzToolObj.getdomInit("/notice/simpleImgList", {pageNo : 1,pageSize : 3, queryPage:"index"}, function(result){
                    	vm.noticeImgList = result.pageInfo.list;
					})
				},

			},
			filters: {
				simpleNameFilter: function(val){
					return val.substr(0,1);
				}
				
			},
		});
	</script>
	<script type="text/javascript">
	 var myChart = echarts.init(document.getElementById('main'));

	    $.post("/admin/getDashBordData","",function (resp) {
	        var option = {
	            tooltip : {
	                trigger: 'axis'
	            },
	            legend: {
	                data:['土地承包','林权转让','养殖水面','四荒承包']
	            },
	            calculable : true,
	            xAxis : [
	                {
	                    type : 'category',
	                    boundaryGap : false,
	                    data : resp.category
	                }
	            ],
	            yAxis : [
	                {
	                    type : 'value',
	                    axisLabel : {
	                        formatter: '{value} 元'
	                    }
	                }
	            ],
	            series : resp.series
	        };

	        myChart.setOption(option);
	    });
	</script>
</body>
</html>
