<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>技咖招聘_技咖在线(TechCafes)</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=10">
	<!-- IE10 mode -->
	<link rel="STYLESHEET" type="text/css" href="../static/css/jk.css">
		<link rel="STYLESHEET" type="text/css"
			href="/usr/759/templet/22/p22.css">

			<script type="text/javascript" src="../static/js/jk.js"></script>
</head>

<body>

	<!--top start-->
	<div class="top">
		<div class="top_z">
			<ul class="fl">
			</ul>
			<ul class="fr huiyuan">
				<li><a href="javascript:void(0);">会员中心</a></li>
				<li><a href="javascript:void(0);"> 手机技咖</a></li>
				<li><a href="javascript:void(0);">中文技咖</a></li>
				<li><a href="javascript:void(0);"> English </a></li>
				<li><a href="javascript:void(0);">帮助中心</a></li>
			</ul>
		</div>
	</div>
	<!--top end-->
	<!--header start-->
	<div class="header">
		<div class="header_z">
			<div class="logo">
				<a href="/" title="技咖在线"> <img width="421" height="57"
					alt="技咖在线" src="../static/img/jk/logo_03.png"></a>
			</div>
			<div class="phone">
				<img src="../static/img/jk/phone_03.png" width="240" height="26">
			</div>
			<div class="search-main">
				<form action="" name="">
					<input type="text" name="" class="text" /> <input type="submit"
						name="" class="submit" value="搜索" /> <select name="sel1"
						class="sel1">
						<option value="全部">全部</option>
						<option value="行业">行业</option>
						<option value="项目">项目</option>
						<option value="资金">资金</option>
					</select>
				</form>
			</div>
			<div class="fabu">
				<form action="" name="">
					<select name="sel2" class="sel1">
						<option value="全部">全部</option>
						<option value="行业">行业</option>
						<option value="项目">项目</option>
						<option value="资金">资金</option>
					</select> <input type="submit" name="" class="fabuxinx" value="发布信息" />
				</form>
			</div>
			<ul class="remen clear">
				<li>近期热门搜索：</li>
				<li><a href="">互联网融资 </a></li>
				<li><a href="">房地产融资</a></li>
				<li><a href="">农业融资</a></li>
				<li><a href="">旅游酒店融资</a></li>
				<li><a href="">节能环保融资</a></li>
			</ul>
		</div>
	</div>
	<!--header end-->
	<!--nav start-->
	<div class="nav clear1 mb20">
		<div class="nav-z clear1">
			<ul class="clear1">
				<li><a href="/">首页</a></li>
				<li><a href="/Column_Content.asp?Column_ID=27984">冲咖</a></li>
				<li><a href="/Column_Content.asp?Column_ID=27985">品咖</a></li>
				<li class="biank"><a href="javascript:void(0);"><span
						class="jika"></span></a></li>
				<li><a href="Column_Content.asp?Column_ID=27986">咖厅</a></li>
				<li><a href="Column_Content.asp?Column_ID=27987">技咖专家</a></li>
				<li><a href="/Column_Content.asp?Column_ID=27988" class="dangq">技咖招聘</a></li>
			</ul>
		</div>
	</div>
	<!--nav end-->
	<!--技咖招聘页-->
	<div class="Locate">
		<span></span>
		<p>
			当前位置：<a href="/">首页</a> > <a
				href="/Column_Channel.asp?Column_ID=27988">技咖招聘</a>
		</p>
	</div>
	<div class="main_w">
		<div class="tech_hr_ssk">
			<div class="work_post">
				<span class="work-post-tit">职位类别</span> <select name="">
					<option value="">请选择职位类别</option>
					<option value="">请选择职位类别</option>
				</select>
			</div>
			<div class="work_post">
				<span class="work-post-tit">行业类别</span> <select name="">
					<option value="">请选择行业类别</option>
					<option value="">请选择行业类别</option>
				</select>
			</div>
			<div class="job_search">
				<span class="industry-post"><a href="" class="ind-cur">全文</a><a
					href="">公司名</a><a href="">职位名</a></span> <input type="text" name=""
					value="">
			</div>
			<div class="work_space">
				<span class="work-post-tit">行业类别</span> <select name="">
					<option value="">请选择行业类别</option>
					<option value="">请选择行业类别</option>
				</select>
			</div>
			<div class="HR-line"></div>
			<div class="btn-search-post">
				<a href="" class="a-btn-ss">搜索职位</a>
			</div>
		</div>
		<div class="HR-tech-main">
			<div class="HR-main-left">
				<h5>在结果中筛选</h5>
				<dl>
					<dt>发布日期</dt>
					<dd>
						今天 <span class="">(100000)</span>
					</dd>
					<dt>工作经验</dt>
					<dd>
						<a href="">应届毕业生</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">1年以下</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">1-3年</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">更多></a>
					</dd>
					<dt>学历要求</dt>
					<dd>
						<a href="">无</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">高中</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">大专</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">本科</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">硕士</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">硕士</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">硕士</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">更多></a>
					</dd>
					<dt>职位类别</dt>
					<dd>
						<a href="">销售业务</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">软件/互联网开发/系统集成</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">销售管理 </a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">更多></a>
					</dd>
					<dt>公司性质</dt>
					<dd>
						<a href="">国企</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">民营</a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">合资 </a> <span class="">(100000)</span>
					</dd>
					<dd>
						<a href="">更多></a>
					</dd>
				</dl>
			</div>
			<div class="HR-works-con">
				<div class="HR-job-box">
					<h2>
						<a href="">营销策划总监</a>
					</h2>
					<div class="HR-com-Key">
						<span class="">北京技咖在线咨询有限公司</span><span class="job-box-space">工作地点：北京</span><span
							class="job-box-date">发布日期：2014-7-7</span><span class="HR-selary">年薪<b>面议</b></span>
					</div>
				</div>
				<div class="HR-job-box">
					<h2>
						<a href="">大客户资源整合高级总监</a>
					</h2>
					<div class="HR-com-Key">
						<span class="">北京技咖在线咨询有限公司</span><span class="job-box-space">工作地点：北京</span><span
							class="job-box-date">发布日期：2014-7-7</span><span class="HR-selary">年薪<b>面议</b></span>
					</div>
				</div>
				<div class="HR-job-box">
					<h2>
						<a href="">内控审计管理</a>
					</h2>
					<div class="HR-com-Key">
						<span class="">北京技咖在线咨询有限公司</span><span class="job-box-space">工作地点：北京</span><span
							class="job-box-date">发布日期：2014-7-7</span><span class="HR-selary">年薪<b>面议</b></span>
					</div>
				</div>
				<div class="HR-job-box">
					<h2>
						<a href="">营销策划总监</a>
					</h2>
					<div class="HR-com-Key">
						<span class="">北京技咖在线咨询有限公司</span><span class="job-box-space">工作地点：北京</span><span
							class="job-box-date">发布日期：2014-7-7</span><span class="HR-selary">年薪<b>面议</b></span>
					</div>
				</div>
				<div class="HR-job-box">
					<h2>
						<a href="">大客户资源整合高级总监</a>
					</h2>
					<div class="HR-com-Key">
						<span class="">北京技咖在线咨询有限公司</span><span class="job-box-space">工作地点：北京</span><span
							class="job-box-date">发布日期：2014-7-7</span><span class="HR-selary">年薪<b>面议</b></span>
					</div>
				</div>
				<div class="HR-job-box">
					<h2>
						<a href="">内控审计管理</a>
					</h2>
					<div class="HR-com-Key">
						<span class="">北京技咖在线咨询有限公司</span><span class="job-box-space">工作地点：北京</span><span
							class="job-box-date">发布日期：2014-7-7</span><span class="HR-selary">年薪<b>面议</b></span>
					</div>
				</div>
				<div class="HR-job-box">
					<h2>
						<a href="">营销策划总监</a>
					</h2>
					<div class="HR-com-Key">
						<span class="">北京技咖在线咨询有限公司</span><span class="job-box-space">工作地点：北京</span><span
							class="job-box-date">发布日期：2014-7-7</span><span class="HR-selary">年薪<b>面议</b></span>
					</div>
				</div>
				<div class="HR-job-box">
					<h2>
						<a href="">大客户资源整合高级总监</a>
					</h2>
					<div class="HR-com-Key">
						<span class="">北京技咖在线咨询有限公司</span><span class="job-box-space">工作地点：北京</span><span
							class="job-box-date">发布日期：2014-7-7</span><span class="HR-selary">年薪<b>面议</b></span>
					</div>
				</div>
				<div class="HR-job-box">
					<h2>
						<a href="">内控审计管理</a>
					</h2>
					<div class="HR-com-Key">
						<span class="">北京技咖在线咨询有限公司</span><span class="job-box-space">工作地点：北京</span><span
							class="job-box-date">发布日期：2014-7-7</span><span class="HR-selary">年薪<b>面议</b></span>
					</div>
				</div>
			</div>
			<div class="HR-main-right">
				<h5>技咖猎头</h5>
				<div class="Hr-right-box">
					<div class="fl right-box-img">
						<a href=""><img src="/../static/img/jk/lie-img.jpg" width="80"
							height="80" border="0" alt=""></a>
						<p>经常过来</p>
					</div>
					<span class="">擅长行业：IT/互联网</span> <span class="">擅长职位：高级…</span> <span
						class="">上次登录：20145…</span> <span class=""><a href=""><img
							src="/../static/img/jk/gz.jpg" width="41" height="18" border="0"
							alt=""></a></span>
					<div class="clear1"></div>
				</div>
				<div class="Hr-right-box">
					<div class="fl right-box-img">
						<a href=""><img src="/../static/img/jk/lie-img.jpg" width="80"
							height="80" border="0" alt=""></a>
						<p>经常过来</p>
					</div>
					<span class="">擅长行业：IT/互联网</span> <span class="">擅长职位：高级…</span> <span
						class="">上次登录：20145…</span> <span class=""><a href=""><img
							src="/../static/img/jk/gz.jpg" width="41" height="18" border="0"
							alt=""></a></span>
					<div class="clear1"></div>
				</div>
				<div class="Hr-right-box">
					<div class="fl right-box-img">
						<a href=""><img src="/../static/img/jk/lie-img.jpg" width="80"
							height="80" border="0" alt=""></a>
						<p>经常过来</p>
					</div>
					<span class="">擅长行业：IT/互联网</span> <span class="">擅长职位：高级…</span> <span
						class="">上次登录：20145…</span> <span class=""><a href=""><img
							src="/../static/img/jk/gz.jpg" width="41" height="18" border="0"
							alt=""></a></span>
					<div class="clear1"></div>
				</div>
				<div class="Hr-right-box">
					<div class="fl right-box-img">
						<a href=""><img src="/../static/img/jk/lie-img.jpg" width="80"
							height="80" border="0" alt=""></a>
						<p>经常过来</p>
					</div>
					<span class="">擅长行业：IT/互联网</span> <span class="">擅长职位：高级…</span> <span
						class="">上次登录：20145…</span> <span class=""><a href=""><img
							src="/../static/img/jk/gz.jpg" width="41" height="18" border="0"
							alt=""></a></span>
					<div class="clear1"></div>
				</div>
				<div class="Hr-right-box">
					<div class="fl right-box-img">
						<a href=""><img src="/../static/img/jk/lie-img.jpg" width="80"
							height="80" border="0" alt=""></a>
						<p>经常过来</p>
					</div>
					<span class="">擅长行业：IT/互联网</span> <span class="">擅长职位：高级…</span> <span
						class="">上次登录：20145…</span> <span class=""><a href=""><img
							src="/../static/img/jk/gz.jpg" width="41" height="18" border="0"
							alt=""></a></span>
					<div class="clear1"></div>
				</div>
				<div class="Hr-right-box">
					<div class="fl right-box-img">
						<a href=""><img src="/../static/img/jk/lie-img.jpg" width="80"
							height="80" border="0" alt=""></a>
						<p>经常过来</p>
					</div>
					<span class="">擅长行业：IT/互联网</span> <span class="">擅长职位：高级…</span> <span
						class="">上次登录：20145…</span> <span class=""><a href=""><img
							src="/../static/img/jk/gz.jpg" width="41" height="18" border="0"
							alt=""></a></span>
					<div class="clear1"></div>
				</div>
				<div class="Hr-right-box">
					<div class="fl right-box-img">
						<a href=""><img src="/../static/img/jk/lie-img.jpg" width="80"
							height="80" border="0" alt=""></a>
						<p>经常过来</p>
					</div>
					<span class="">擅长行业：IT/互联网</span> <span class="">擅长职位：高级…</span> <span
						class="">上次登录：20145…</span> <span class=""><a href=""><img
							src="/../static/img/jk/gz.jpg" width="41" height="18" border="0"
							alt=""></a></span>
					<div class="clear1"></div>
				</div>
			</div>
			<div class="clear1"></div>
		</div>
		<div class="clear1"></div>
	</div>
	<!--footer start-->
	<div class="footer clear">
		<div class="juz clear">
			<div class="juz_list clear">
				<dl>
					<dt>新手指南</dt>
					<dd>
						<a href="">免费注册生成名片</a>
					</dd>
					<dd>
						<a href="">免费发布投融信息</a>
					</dd>
					<dd>
						<a href="">信息投递流程</a>
					</dd>
					<dd>
						<a href="">常见问题解答</a>
					</dd>
					<dd>
						<a href="">帮助中心</a>
					</dd>
				</dl>
				<dl>
					<dt>服务保障</dt>
					<dd>
						<a href="">技术对接</a>
					</dd>
					<dd>
						<a href="">技术服务</a>
					</dd>
					<dd>
						<a href="">政策服务</a>
					</dd>
					<dd>
						<a href="">投资业务</a>
					</dd>
				</dl>
				<dl>
					<dt>虚拟业务</dt>
					<dd>
						<a href="">什么是虚拟业务</a>
					</dd>
					<dd>
						<a href="">怎样开通虚拟业务室</a>
					</dd>
					<dd>
						<a href="">如何使用</a>
					</dd>
					<dd>
						<a href="">虚拟业务使用规章</a>
					</dd>
					<dd>
						<a href="">免费通告</a>
					</dd>
					<dd>
						<a href="">在线帮助</a>
					</dd>
				</dl>
				<dl>
					<dt>关于我们</dt>
					<dd>
						<a href="">技咖介绍</a>
					</dd>
					<dd>
						<a href="">联系我们</a>
					</dd>
					<dd>
						<a href="">网站公告</a>
					</dd>
					<dd>
						<a href="">隐私条款</a>
					</dd>
					<dd>
						<a href="">网站地图</a>
					</dd>
				</dl>
				<dl class="nomargin">
					<dt>联系方式</dt>
					<dd>
						<a href="">全国服务热线</a>
					</dd>
					<dd>
						<a href="">400-0000-213</a>
					</dd>
					<dd>
						<a href="">投诉电话：0571-56132500</a>
					</dd>
					<dd>
						<a href="">周一到周六 9:00-20:00</a>
					</dd>
					<dd>
						<a href="">邮箱：kefu@trjcn.com</a>
					</dd>
				</dl>
			</div>
			<ul class="clear youqinglj">
				<li>友情链接：</li>
				<li><a href="">站长网 </a></li>
				<li><a href="">昵图素材网 </a></li>
				<li><a href="">美丽说 </a></li>
				<li><a href="">19楼 </a></li>
				<li><a href="">我拉网 </a></li>
				<li><a href="">法律咨询 </a></li>
				<li><a href="">艾瑞网 </a></li>
				<li><a href="">招商加盟 </a></li>
				<li><a href="">天堂图片网 </a></li>
				<li><a href="">互联网招聘</a></li>
				<a href="" class="fr">更多>></a>
			</ul>
			<div class="fl youqqi_adress">
				<div class="ft_a">
					<a href="javascript:void">&nbsp;关于我们</a>&nbsp;|&nbsp; <a
						href="javascript:void">联系方式 </a>&nbsp|&nbsp; <a
						href="javascript:void">新闻中心 </a>&nbsp;|&nbsp; <a
						href="javascript:void">网站地图 </a>&nbsp;|&nbsp; <a
						href="javascript:void">支付方式 </a>&nbsp;|&nbsp; <a
						href="javascript:void">热门服务</a>

				</div>
				<p class="adress">&nbsp;Copyright 2005-2014 zhubajie.com 版权所有
					渝ICP备10202274-1号 渝B2-20080005</p>
			</div>
			<div class="fr jingcha">
				<a href=""><img src="../static/img/jk/footer_21.png" width="52"
					height="57"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href=""><img
					src="../static/img/jk/footer_24.png" width="65" height="55"></a>
			</div>
		</div>
	</div>
	<!--footer end-->



	<div class="kefuu public2" id="kefu">
		<dl>
			<dt>客服</dt>
			<dd class="kefu1">
				<a href=""><span>在线客服</span></a>
			</dd>
			<dd class="kefu2">
				<a href=""><span>视频客服</span></a>
			</dd>
			<dd class="kefu3">
				<a href=""><span>客服电话</span></a>
			</dd>
			<dd class="kefu4">
				<a href=""><span>邮件支持</span></a>
			</dd>
			<dd class="no_boder3 kefu5">
				<a href="javascript:;" id="fanhuid"><span>返回顶部</span></a>
			</dd>
		</dl>
	</div>

	<div class="list_hidden" id="list_hidden">
		<div class="hidden" id="hidden1">
			<a title="隐藏列表">隐藏列表</a>
		</div>
		<div class="mrec menu-cart">
			<p>
				<span></span>
			</p>
			<a href="javascript:;">行业分类</a>
		</div>
		<div class="mrec menu-cart2">
			<p>
				<span></span>
			</p>
			<a href="javascript:;">区域划分</a>
		</div>
		<div class="mrec menu-cart3">
			<p>
				<span></span>
			</p>
			<a href="javascript:;">投资融资</a>
		</div>
		<div class="mrec menu-cart4">
			<p>
				<span></span>
			</p>
			<a href="javascript:;">在线洽谈</a>
		</div>
		<div class="mrec menu-cart5">
			<p>
				<span></span>
			</p>
			<a href="javascript:;">技咖服务</a>
		</div>
		<div class="mrec menu-cart6">
			<p>
				<span></span>
			</p>
			<a href="javascript:;">其&nbsp;&nbsp;&nbsp;他</a>
		</div>
	</div>

	<div class="zhankai" id="zhankai">
		<p>展开列表</p>
	</div>



</body>
</html>
