<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
<title id="pageTitle">用户登录</title>
</head>
<body>
	<div class="tpl-content-wrapper">
		<div class="row">
			<div class="header_1">
				<div class="content">
					<div class="am-u-sm-12 am-u-md-12 am-u-lg-12 ">
						<div class="am-u-sm-8 ">
							<span>欢迎访问铁西区农经总站综合监管系统，</span> <span>请 登录 | 注册</span>
						</div>
						<div class="am-u-sm-4">
							<span class="am-fr" id="nowDate">[2018年12月17日 星期一]</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="am-vertical-align header_2">
				<div class="content am-vertical-align">
					<div
						class="am-u-sm-12 am-u-md-12 am-u-lg-12 am-serif am-vertical-align-middle">
						<div class="am-u-sm-6" style="">
							<img alt="" src="../static/img/btnlogo.png">
						</div>
						<div class="am-u-sm-6">
							<div class="search-main">
								<form action="" name="">
									<input type="text" name="" class="text" /> <input type="submit"
										name="" class="submit" value="搜索" /> <select name="sel1"
										class="sel1">
										<option value="全部">全部</option>
										<option value="行业">行业</option>
										<option value="项目">项目</option>
										<option value="资金">资金</option>
									</select>
								</form>
							</div>
							<div class="fabu">
								<form action="" name="">
									<select name="sel2" class="sel1">
										<option value="全部">全部</option>
										<option value="行业">行业</option>
										<option value="项目">项目</option>
										<option value="资金">资金</option>
									</select> <input type="submit" name="" class="fabuxinx" value="发布信息" />
								</form>
							</div>
							<ul class="remen clear">
								<li>近期热门搜索：</li>
								<li><a href="">互联网融资 </a></li>
								<li><a href="">房地产融资</a></li>
								<li><a href="">农业融资</a></li>
								<li><a href="">旅游酒店融资</a></li>
								<li><a href="">节能环保融资</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="am-vertical-align header_3"></div>
		</div>
	</div>
</body>
</html>