<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
<title id="pageTitle">用户注册</title>
</head>
<body>
	<header th:include="common :: header"></header>
	<div class="content" id="app" v-cloak>
		<div
			class="tpl-content am-u-sm-12 am-u-md-12 am-u-lg-12 am-padding-xs">
			<div class="am-padding">
				<input type="email" class="am-form-field table-input"
					placeholder="邮箱……" v-model="users.email"> <input
					type="number" class="am-form-field table-input"
					placeholder="手机号码……" v-model="users.mobile"> <input
					type="password" class="am-form-field table-input"
					placeholder="密码……" v-model="users.password"> <input
					type="password" class="am-form-field table-input"
					placeholder="确认密码……" v-model="verifyPassword">

			</div>
			<div class="am-text-center am-padding">
				<button type="button"
					class="am-btn am-btn-default am-round am-btn-warning"
					@click="regist">注册</button>
			</div>
		</div>
	</div>
	<div th:include="common :: js"></div>
	<script type="text/javascript" src="/static/js/md5_32.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el : '#app',
			data : {
				users : {},

			},
			mounted : function() {

			},
			methods : {
				regist : function() {
					if (vm.checkInput()) {
						vm.user.password = hex_md5(vm.user.password);
						hzToolObj.postRpc("/users_regist", vm.user).done(
								function(result) {
									if (result.code == 0) {
										window.location.href = "/index";
									} else {
										layer.msg(result.msg);
									}
								});
					}
				},
				checkInput : function() {
					if (vm.users.email == "") {
						layer.alert("请输入邮箱！");
						return false;
					}
					if (vm.users.mobile == "") {
						layer.alert("请输入手机号码！");
						return false;
					}
					if (vm.users.password == "") {
						layer.alert("请输入密码！");
						return false;
					}
					if (vm.verifyPassword == "") {
						layer.alert("请输入确认密码！");
						return false;
					}
					if (vm.verifyPassword != vm.users.password) {
						layer.alert("两次密码不一致！");
						vm.verifyPassword = "";
						return false;
					}
					return true;
				},
			},
		});
	</script>
</body>
</html>